<div class="o-block">
   <div class="team-1" id="team-1">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
               <h2 class="title">Our Awesome Team 1</h2>
               <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3">
               <div class="card card-profile card-plain">
                  <div class="card-avatar"><a href="#pablo">&nbsp;<img class="img fr-fic fr-dii" src="assets/img/faces/marc.jpg">&nbsp;</a></div>
                  <div class="content">
                     <h4 class="card-title">Alec Thompson</h4>
                     <h6 class="category text-muted">CEO / Co-Founder</h6>
                     <p class="card-description">And I love you like Kanye loves Kanye. We need to restart the human foundation.</p>
                     <div class="footer"><a class="btn btn-just-icon btn-simple btn-twitter" href="#pablo"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-just-icon btn-simple btn-facebook" href="#pablo"><i class="fa fa-facebook-square"></i></a>
                        <a class="btn btn-just-icon btn-simple btn-google" href="#pablo"><i class="fa fa-google"></i></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="card card-profile card-plain">
                  <div class="card-avatar"><a href="#pablo">&nbsp;<img class="img fr-fic fr-dii" src="assets/img/faces/kendall.jpg">&nbsp;</a></div>
                  <div class="content">
                     <h4 class="card-title">Tania Andrew</h4>
                     <h6 class="category text-muted">Designer</h6>
                     <p class="card-description">Don&#39;t be scared of the truth because we need to restart the human foundation. And I love you like Kanye loves Kanye.</p>
                     <div class="footer"><a class="btn btn-just-icon btn-simple btn-twitter" href="#pablo"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-just-icon btn-simple btn-dribbble" href="#pablo"><i class="fa fa-dribbble"></i></a>
                        <a class="btn btn-just-icon btn-simple btn-linkedin" href="#pablo"><i class="fa fa-linkedin"></i></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="card card-profile card-plain">
                  <div class="card-avatar"><a href="#pablo">&nbsp;<img class="img fr-fic fr-dii" src="assets/img/faces/christian.jpg">&nbsp;</a></div>
                  <div class="content">
                     <h4 class="card-title">Christian Mike</h4>
                     <h6 class="category text-muted">Web Developer</h6>
                     <p class="card-description">I love you like Kanye loves Kanye. Don&#39;t be scared of the truth because we need to restart the human foundation.</p>
                     <div class="footer"><a class="btn btn-just-icon btn-simple btn-facebook" href="#pablo"><i class="fa fa-facebook-square"></i></a>
                        <a class="btn btn-just-icon btn-simple btn-dribbble" href="#pablo"><i class="fa fa-dribbble"></i></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="card card-profile card-plain">
                  <div class="card-avatar"><a href="#pablo">&nbsp;<img class="img fr-fic fr-dii" src="assets/img/faces/avatar.jpg">&nbsp;</a></div>
                  <div class="content">
                     <h4 class="card-title">Rebecca Stormvile</h4>
                     <h6 class="category text-muted">Web Developer</h6>
                     <p class="card-description">Don&#39;t be scared of the truth because we need to restart the human foundation.</p>
                     <div class="footer"><a class="btn btn-just-icon btn-simple btn-google" href="#pablo"><i class="fa fa-google"></i></a>
                        <a class="btn btn-just-icon btn-simple btn-twitter" href="#pablo"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-just-icon btn-simple btn-dribbble" href="#pablo"><i class="fa fa-dribbble"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>