.box {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.box .qoute {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  height: 100vh;
  background-color: #fff;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  color: white;
}
.box .qoute p {
  width: 62ch;
  animation: type 7s steps(61), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  color: #1c90dc;
  font-size: 18px;
}
@media screen and (max-width: 481px) {
  .box .hide {
    display: none;
  }
}
.box .form {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100vh;
}
.box .form p {
  font-size: 20px;
}
.box .form form {
  border-radius: 5px;
  padding: 20px;
}
.box .form input[type="color"], .box .form input[type="date"], .box .form input[type="datetime"], .box .form input[type="datetime-local"], .box .form input[type="email"], .box .form input[type="month"], .box .form input[type="number"], .box .form input[type="password"], .box .form input[type="search"], .box .form input[type="tel"], .box .form input[type="text"], .box .form input[type="time"], .box .form input[type="url"], .box .form input[type="week"], .box .form input:not([type]), .box .form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.box .form input[type="color"]:focus, .box .form input[type="date"]:focus, .box .form input[type="datetime"]:focus, .box .form input[type="datetime-local"]:focus, .box .form input[type="email"]:focus, .box .form input[type="month"]:focus, .box .form input[type="number"]:focus, .box .form input[type="password"]:focus, .box .form input[type="search"]:focus, .box .form input[type="tel"]:focus, .box .form input[type="text"]:focus, .box .form input[type="time"]:focus, .box .form input[type="url"]:focus, .box .form input[type="week"]:focus, .box .form input:not([type]):focus, .box .form textarea:focus,
.box .form input[type="color"]:hover, .box .form input[type="date"]:hover, .box .form input[type="datetime"]:hover, .box .form input[type="datetime-local"]:hover, .box .form input[type="email"]:hover, .box .form input[type="month"]:hover, .box .form input[type="number"]:hover, .box .form input[type="password"]:hover, .box .form input[type="search"]:hover, .box .form input[type="tel"]:hover, .box .form input[type="text"]:hover, .box .form input[type="time"]:hover, .box .form input[type="url"]:hover, .box .form input[type="week"]:hover, .box .form input:not([type]):hover, .box .form textarea:hover {
  border: 1px solid #1c90dc;
}
.box .form input[type="color"]:active, .box .form input[type="date"]:active, .box .form input[type="datetime"]:active, .box .form input[type="datetime-local"]:active, .box .form input[type="email"]:active, .box .form input[type="month"]:active, .box .form input[type="number"]:active, .box .form input[type="password"]:active, .box .form input[type="search"]:active, .box .form input[type="tel"]:active, .box .form input[type="text"]:active, .box .form input[type="time"]:active, .box .form input[type="url"]:active, .box .form input[type="week"]:active, .box .form input:not([type]):active, .box .form textarea:active {
  border: 1px solid #1c90dc;
}
.box .form button[type=submit] {
  width: 100%;
  background-color: #1c90dc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@keyframes type {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.fadeIn {
  animation: fadeIn 1s;
  animation-fill-mode: both;
}

.wait-1s {
  animation-delay: 1s;
}

.wait-2s {
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
