<template>
  <div id="example-1">
    <v-layout row wrap>
      <v-flex xs12 md6 v-for="i in 2" :key="i">
        halo
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
	export default{

	}
</script>