<template>
	
<v-container>
 <v-layout>
     <v-flex xs12 md8 offset-md2>
	<v-card  class="my-3" style="min-height : 60vh">
		<v-card-text v-if="step == 1">

			<!-- first row -->

			<v-layout>

				<v-flex xs12>
					<v-select
					label="Pilih Produk"
					v-bind:items="list_products"
					v-model="products"
					item-text="title"
					@input="addProduct()"
					multiple
					chips
					dark
					auto
					hint="produk yang dibeli customer"
					persistent-hint
					/>


				</v-flex>

			</v-layout>


			<!-- seconds row -->
			<v-layout row wrap>
				<v-flex xs12 md6>
					<v-list two-line>

						<v-list-item  v-for="(item, index) in products_purchase">
							<v-list-tile avatar>
								<v-list-tile-avatar>
									<img v-bind:src="item.thumbnail" />
								</v-list-tile-avatar>
								<v-list-tile-content>
									<v-list-tile-title v-html="item.title" />
									<v-list-tile-sub-title v-html="item.price" />

								</v-list-tile-content>
								<v-list-tile-action>

									<v-text-field style="width : 8px"
									v-model="products_pcs[index]"
									@input="editPcs()"


									label="pcs"
									type="number"
									></v-text-field>
								</v-list-tile-action>
							</v-list-tile>
						</v-list-item>
					</v-list>
				</v-flex>

			</v-layout>



			<v-layout row wrap>

				<v-flex  xs12 md3>

					<v-select 
					v-bind:items="list_courier"
					v-model="courier"
					label="Pilih Kurir"
					hint="pilih kurir pengiriman"
					persistent-hint
					dark
					single-line
					auto
					/>

				</v-flex>

				<v-flex xs12 md3 >

					<v-select 
					v-bind:items="list_province"
					item-text="province"
					v-model="province"
					label="Pilih Provinsi"
					hint="produk dikirim ke ..."
					@input="fetchCity()"
					persistent-hint
					dark
					single-line
					auto
					/>

				</v-flex>

				<v-flex md3 xs12>

					<v-select 
					v-bind:items="list_city"
					v-model="city"
					label="Pilih Kabupaten/Kota"
					item-text="city_name"
					@input="fetchSubdistrict()"
					dark
					single-line
					auto
					/>

				</v-flex>

				<v-flex md3 xs12>

					<v-select 
					v-bind:items="list_subdistrict"
					v-model="subdistrict"
					label="Pilih Kecamatan"
					item-text="subdistrict_name"
					@input="hitungBiaya()"
					dark
					single-line
					auto
					/>

				</v-flex>

			</v-layout>

			<v-card class="grey lighten-4 elevation-0" v-if="list_courier_package">
				<v-subheader>Pilih Jenis Paket</v-subheader>
				<v-card-text  class="my-0 py-0">
					<v-layout row wrap>
						<v-flex xs12 md3 lg3 v-for="(item, index) in list_courier_package.costs">
							<v-radio class="my-0 py-0" :label="courierLabel(item)" primary v-model="courier_package" :value="item" dark />
						</v-flex>
					</v-layout>
				</v-card-text>
				<v-subheader >Detil Pemesanan</v-subheader>
				<v-card-text class="my-0 py-0">
					<v-layout row wrap>
						<v-flex md6 xs12>
							<v-card-row height="75px">
								<v-icon class="mr-5 hidden-xs-only">add_shopping_cart</v-icon>
								<div>
									<div>Total Harga</div><strong>Rp.{{base_price}}</strong>
								</div>
							</v-card-row>

						</v-flex>

						<v-flex md6 xs12>
							
							<v-card-row height="75px">
								<v-icon class="mr-5 hidden-xs-only">flight_takeoff</v-icon>
								<div>
									<div>Biaya Kirim</div><strong>{{biayakirim}}</strong>
								</div>
							</v-card-row>
						</v-flex>

						<v-flex md6 xs12>
							<v-card-row height="75px">
								<v-icon  class="mr-5 hidden-xs-only">loyalty</v-icon>
								<div>
									<div></div><strong><v-text-field

									label="Diskon"
									type="number"
									v-model="discount"
									></v-text-field></strong>
								</div>
							</v-card-row>

						</v-flex>

						<v-flex md6 xs12>
							<v-card-row height="75px">
								<v-icon class="mr-5 hidden-xs-only">attach_money</v-icon>
								<div>
									<div></div><strong><v-text-field

									label="Biaya Lain"
									type="number"
									v-model="another_cost"
									></v-text-field></strong>
								</div>
							</v-card-row>
						</v-flex>
					</v-layout>
					<v-divider></v-divider>
					
						<v-layout class="mt-3">
							<v-flex xs6>
							<h4>Total : Rp.{{total_price}}</h4>
							</v-flex>

							<v-flex xs6>
								<p v-if="courier_package" class="text-xs-right"><v-btn primary light @click.native="nextstep()">Checkout</v-btn></p>
							</v-flex>
						</v-layout>
					
				</v-card-text>
			</v-card>

		</v-card-text>	

		<v-card-text v-if="step == 2">

			<v-layout row wrap>
				<v-flex xs12 md4>
					<v-text-field
					label="No.HP"
					type="number"
					v-model="phone"
					@change="importUser()"
					hint="notifikasi pembelian dikirim via email+sms"
					persistent-hint>						
					</v-text-field>
				</v-flex>
				<v-flex xs12 md4>
					<v-text-field
					label="Nama Depan"
					type="text"
					v-model="firstname"
					>						
					</v-text-field>
				</v-flex>
				<v-flex xs12 md4>
					<v-text-field
					label="Nama Belakang"
					type="text"
					v-model="lastname"
					>						
					</v-text-field>
				</v-flex>
			</v-layout>
			
			<v-layout row wrap>
				<v-flex xs12 md4>
					<v-text-field
					label="Email (optional)"
					type="email"
					v-model="email"
					>						
					</v-text-field>
				</v-flex>
				<v-flex xs12 md4>
					<v-text-field
					label="Line (optional)"
					type="text"
					v-model="line"
					>						
					</v-text-field>
				</v-flex>
				<v-flex xs12 md4>
					<v-text-field
					label="BBM (optional)"
					type="text"
					v-model="bbm"
					>						
					</v-text-field>
				</v-flex>
			</v-layout>

			<v-layout>
				<v-flex xs12>
					<v-text-field
					label="Alamat"
					type="text"
					v-model="address"
					multi-line
					>						
					</v-text-field>
				</v-flex>

			</v-layout>
			<!-- <label for="">pilih metode pembayaran</label> -->
			<!-- <v-layout class="mt-3">

				<v-flex xs6 md3 v-for="(item, index) in list_payments">
					<v-radio class="my-0 py-0" :label="item" primary v-model="pay_with" :value="item" dark />
				</v-flex>
			</v-layout> -->
			
			
			<v-toolbar class="transparent elevation-0">
			<v-spacer></v-spacer>
			  <v-btn dark flat @click.native="backstep()">Back</v-btn>
			  <v-btn primary light @click.native="submit()">Submit</v-btn>
			</v-toolbar>
			
			
			

		</v-card-text>	

	</v-card>
	</v-flex>
	</v-layout>

</v-container>
</template>

<script>
	
	export default{
		mounted(){

			(document.getElementsByTagName("html")[0].style.overflow = 'scroll');

			this.fetchProvince();
			this.fetchProducts();


		},
		data(){
			return {
				step : 1,
				list_province : [],
				list_city : [],
				list_subdistrict : [],
				list_courier : ['jne', 'pos', 'tiki', 'rpx', 'esl', 'pcp', 'pandu', 'wahana', 'sicepat', 'jnt', 'pahala', 'cahaya', 'sap', 'jet', 'indah', 'dse', 'slis', 'first', 'ncs', 'star'],
				list_payments : ['BCA','MANDIRI','BNI','BRI'],


				province : '',
				city : '',
				subdistrict : '',
				courier : 'jne',
				pay_with : 'BCA',

				list_products : [],
				products : [],
				products_pcs : [],
				products_purchase : [],
				list_courier_package : '',
				ongkir : 0,
				courier_package : '',

				base_price : 0,
				discount : 0,
				another_cost : 0,

				phone : 628,
				firstname : '',
				lastname : '',
				email : '',
				line : '',
				bbm : '',
				address : '',
				domain : '',
			}
		},

		computed : {
			biayakirim(){
				return this.courier_package ? 'Rp.'+this.courier_package.cost[0].value : 'pilih paket dulu';
			},
			total_price(){
				var ongkir = this.courier_package ? this.courier_package.cost[0].value : 0;

				return this.base_price+Number(ongkir)-this.discount+Number(this.another_cost);
			}
		},

		methods : {
			nextstep(){
				this.step = 2;
				

				
			},
			backstep(){
				this.step = 1;
				
			},
			submit(){

				var component_price = {
					base_price : this.base_price,
					total_price : this.total_price,
					courier_cost : this.courier_package.cost[0].value,
					discount : this.discount,
					another_cost : this.another_cost,
				}
				
				localStorage.removeItem('pos');
				var self = this;
				this.$http.post('/v3/pos',{products : this.products_purchase, courier : this.courier, courier_package : this.courier_package, pay_with : this.pay_with,  component_price : component_price, phone : this.phone, firstname : this.firstname, lastname: this.lastname, email : this.email, bbm : this.bbm, address : this.address, province : this.province, city : this.city, subdistrict : this.subdistrict, domain : this.domain, store_id : this.$route.params.id}).then((response) => {


					var data = response.body;
					if(this.$store.state.pos+data.store_id)
					 this.$store.commit('push', {name : 'pos'+data.store_id, value : data});

             self.$router.push('/store/'+this.$route.params.id+'/orders');

				});
			},
			importUser(){
				this.$http.post('/v3/find-customer/',{store_id : this.$route.params.id, phone : this.phone}).then((response) => {
					var data = (response.body);
					this.firstname = data.firstname;
					this.lastname = data.lastname;
					this.email = data.email;
					this.bbm = data.bbm;
					this.line = data.line;
					this.address = data.address;
				});
			},
			fetchProvince (){
				this.$http.get('/v2/rajaongkir/province').then((response) => {
					this.list_province = response.body;
				});
			},

			fetchCity(){
				this.$http.get('/v2/rajaongkir/city?province_id='+this.province.province_id).then((response) => {
					this.list_city = response.body;
				});
			},

			fetchSubdistrict(){
				this.$http.get('/v2/rajaongkir/subdistrict?city_id='+this.city.city_id).then((response) => {
					this.list_subdistrict = response.body;
				});
			},

			fetchProducts(){
				this.$http.get('/v3/products?store_id='+this.$route.params.id).then((response) => {
					this.list_products = response.body;
				});
			},
			courierLabel(item){
				var etd = item.cost[0].etd ? ' - etd:'+item.cost[0].etd : '';
				return item.service+'\nRp.'+item.cost[0].value+etd;
			},
			editPcs(){
				this.products_purchase[0].pcs = this.products_pcs[0];
			},
			addProduct(){
				var productsNumber = this.products.length;
				if(productsNumber > 1){
					if(this.products[productsNumber-1].city != this.products[productsNumber-2].city){

						alert('produk tidak bisa dipilih karena dikirim dari gudang yang berbeda');
						this.products.pop();
					}
				}
				this.products_pcs.push(1);
				var product =  {};
				
				product['id'] = this.products[productsNumber-1]['id'];
				product['title'] = this.products[productsNumber-1]['title'];
				product['thumbnail'] = this.products[productsNumber-1]['thumbnail'];
				product['price'] = this.products[productsNumber-1]['price'];
				product['pcs'] = 1;

				this.domain = this.products[productsNumber-1]['domain'];
				
				this.products_purchase.push(product);
			},
			hitungBiaya(){
				var total = 0;
				var weight = 0;

				for(var i=0; i<this.products.length; i++){
					var sum = this.products[i].price*this.products_pcs[i];
					var wg = this.products[i].weight*this.products_pcs[i];

					total+=sum;
					weight+=wg;

				}

				this.base_price = (total);

				var origin = JSON.parse(this.products[0].city).city_id;

				var destination = this.subdistrict.subdistrict_id;

				this.$http.post('/v2/rajaongkir/cost', {origin : origin, subdistrict_id : destination, weight : weight, courier : this.courier}).then((response) => {
				
                  // success callback
                  this.list_courier_package = _.cloneDeep(response.body);
              }); 

				
			}

		}
	}
</script>