<template>
	<div>
		<v-layout class="mt-0 pt-0">
			<v-flex md5 lg4 sm12 xs12 class="mt-0 pt-0 mr-0 pr-0 scrolly"  @mouseover="hover()">

				<v-list two-line>
					<v-list-item v-for="(item, index) in data" :class="(index == activeselect) ? 'selected' : ''">
						<v-list-tile avatar ripple @click.native.stop="choosedata(index)">
							<v-list-tile-avatar>
								<img v-bind:src="jsonparse(item.products)[0].thumbnail" />
							</v-list-tile-avatar>
							<v-list-tile-content>
								<span class="subheading">{{ item.buyer.firstname }} {{ item.buyer.lastname }}</span>
								<v-list-tile-sub-title >Rp.{{ item.sell_price }}</v-list-tile-sub-title>
								<v-list-tile-sub-title><span v-for="i in jsonparse(item.products)">{{i.title}}</span></v-list-tile-sub-title>
							</v-list-tile-content>
							<v-list-tile-action>
								<v-list-tile-action-text>{{ item.updated_at }}</v-list-tile-action-text>
								<i class="warning--text material-icons" v-if="item.status == 'checkout'">help</i>
								<i class="info--text material-icons" v-if="item.status == 'confirm'">watch_later</i>
								<i class="material-icons success--text" v-if="item.status == 'success'">check_circle</i>
								<i class="material-icons error--text" v-if="item.status == 'cancel'">cancel</i>
								<i class="material-icons success--text" v-if="item.status == 'sent'">verified_user</i>
							</v-list-tile-action>
						</v-list-tile>
						<v-divider v-if="index + 1 < data.length"></v-divider>
					</v-list-item>
				</v-list>
			</v-flex>


			<v-flex md7 lg8 class="hidden-sm-and-down scrolly"  >
				<div class="container" v-if="selecteddata">
					<h4>Invoice #{{selecteddata.id}}  
						<v-menu offset-y>
							<v-btn round light slot="activator" :class="status[selecteddata.status].color">{{status[selecteddata.status].text}}</v-btn>
							<v-list>
								<v-list-item v-for="item in status" :key="item">
									<v-list-tile @click.native="changeStatus(item.id)">
										<v-list-tile-title>{{ item.text }}</v-list-tile-title>
									</v-list-tile>
								</v-list-item>
							</v-list>
						</v-menu>
					</h4>
					<v-divider></v-divider>
					<v-card class="elevation-0">
						<v-card-text>

							<v-card-row height="75px">
								<v-btn flat floating small class="mr-5 btn" :data-clipboard-text="storedomain+'/confirm/order/'+selecteddata.id">
								<v-icon dark>content_copy</v-icon>
								</v-btn>
								<div>
									<div>Halaman Konfirmasi</div><strong>{{storedomain}}/confirm/order/{{selecteddata.id}}</strong>

								</div>
							</v-card-row>
							<v-card-row height="75px">

								<v-btn flat floating small class="mr-5 btn" :data-clipboard-text="storedomain+'/invoice/'+selecteddata.id">
								<v-icon dark>content_copy</v-icon>
								</v-btn>
								<div>
									<div>Halaman Invoice</div><strong>{{storedomain}}/invoice/{{selecteddata.id}}</strong>
								</div>
							</v-card-row>
							<v-card-row height="75px">
								<v-btn flat floating small class="mr-5 btn" :data-clipboard-text="storedomain+'/success/'+selecteddata.id">
								<v-icon dark>content_copy</v-icon>
								</v-btn>
								<div>
									<div>Halaman Tracking Resi</div><strong>{{storedomain}}/success/{{selecteddata.id}}</strong>
								</div>
							</v-card-row>
						</v-card-text>
					</v-card>
					<span class="mt-2 headline">{{selecteddata.buyer.firstname}} {{selecteddata.buyer.lastname}}</span>
					<span>{{selecteddata.buyer.address}} <br> Kec.{{jsonparse(selecteddata.buyer.subdistrict).subdistrict_name}}, {{jsonparse(selecteddata.buyer.city).city_name}} - {{jsonparse(selecteddata.buyer.city).province}} <br> {{selecteddata.buyer.phone}}</span>

					<v-layout>
						<v-flex lg8 xs12>
							<table id="invoice" class="mt-5">
								<tr>
									<th>No</th>
									<th>Produk</th>
									<th>Harga</th>
									<th>Jumlah</th>
									<th>Total</th>
								</tr>
								<tr v-for="(item, index) in jsonparse(selecteddata.products)">
									<td>{{index+1}}</td>
									<td>{{item.title}}</td>
									<td>{{item.price}}</td>
									<td>{{item.pcs}}</td>
									<td>{{item.pcs * item.price}}</td>
								</tr>
								<tr>
									<td colspan="4">Total Harga Produk</td>
									<td>{{jsonparse(selecteddata.component_price).base_price}}</td>
								</tr>
								<tr>
									<td colspan="4">Biaya Kirim</td>
									<td>{{jsonparse(selecteddata.component_price).courier_cost}}</td>
								</tr>
								<tr>
									<td colspan="4">Diskon</td>
									<td>{{jsonparse(selecteddata.component_price).discount}}</td>
								</tr>
								<tr>
									<td colspan="4">Biaya Lain</td>
									<td>{{jsonparse(selecteddata.component_price).another_cost}}</td>
								</tr>
								<tr>
									<td colspan="4">Angka Unik</td>
									<td>{{jsonparse(selecteddata.component_price).unique}}</td>
								</tr>
								<tr style="background-color: #1a237e; color : white">
									<td colspan="4">Substotal</td>
									<td>{{selecteddata.sell_price}}</td>
								</tr>
							</table>
						</v-flex>
					</v-layout>

				</div>
			</v-flex>
		</v-layout>

		<!-- button add -->
		<v-btn :router="true" :href="'/store/'+$route.params.id+'/orders/create'" floating="floating" primary style="position: fixed; right: 5vh; bottom: 5vh;">
			<v-icon class="white--text">add</v-icon>
		</v-btn>


		<!-- dialog -->

		<v-dialog v-if="data.length > 0" v-model="dialog" fullscreen transition="v-dialog-bottom-transition" :overlay=false>

			<v-card>
				<v-card-row>
					<v-toolbar>
						<v-btn icon="icon" @click.native="dialog = false" light>
							<v-icon>arrow_back</v-icon>
						</v-btn>
						<v-toolbar-title>Invoice #{{selecteddata.id}}</v-toolbar-title>

					</v-toolbar>
				</v-card-row>

				<div class="container" v-if="selecteddata">
					<h4>Invoice #{{selecteddata.id}}  

						<v-menu offset-y>
							<v-btn round light slot="activator" :class="status[selecteddata.status].color">{{status[selecteddata.status].text}}</v-btn>
							<v-list>
								<v-list-item v-for="item in status" :key="item">
									<v-list-tile @click.native="changeStatus(item.id)">
										<v-list-tile-title>{{ item.text }}</v-list-tile-title>
									</v-list-tile>
								</v-list-item>
							</v-list>
						</v-menu></h4>
						<v-divider></v-divider>
						<v-card class="elevation-0">
							<v-card-text>
								<v-card-row height="75px">
									<v-icon class="mr-5">touch_app</v-icon>
									<div>
										<div>Halaman Konfirmasi</div><strong>{{storedomain}}/confirm/order/{{selecteddata.id}}</strong>
									</div>
								</v-card-row>
								<v-card-row height="75px">

									<v-icon class="mr-5">assignment_turned_in</v-icon>
									<div>
										<div>Halaman Invoice</div><strong>{{storedomain}}/invoice/{{selecteddata.id}}</strong>
									</div>
								</v-card-row>
								<v-card-row height="75px">
									<v-icon class="mr-5">airplanemode_active</v-icon>
									<div>
										<div>Halaman Tracking Resi</div><strong>{{storedomain}}/success/{{selecteddata.id}}</strong>
									</div>
								</v-card-row>
							</v-card-text>
						</v-card>
						<h5 class="mt-2">{{selecteddata.buyer.firstname}} {{selecteddata.buyer.lastname}}</h5>
						<p>{{selecteddata.buyer.address}} <br> Kec.{{jsonparse(selecteddata.buyer.subdistrict).subdistrict_name}}, {{jsonparse(selecteddata.buyer.city).city_name}} - {{jsonparse(selecteddata.buyer.city).province}} <br> {{selecteddata.buyer.phone}}</p>

						<v-layout>
							<v-flex lg8 xs12>
								<table id="invoice" class="mt-5">
									<tr>
										<th>No</th>
										<th>Produk</th>
										<th>Harga</th>
										<th>Jumlah</th>
										<th>Total</th>
									</tr>
									<tr v-for="(item, index) in jsonparse(selecteddata.products)">
										<td>{{index+1}}</td>
										<td>{{item.title}}</td>
										<td>{{item.price}}</td>
										<td>{{item.pcs}}</td>
										<td>{{item.pcs * item.price}}</td>
									</tr>
									<tr>
										<td colspan="4">Total Harga Produk</td>
										<td>{{jsonparse(selecteddata.component_price).base_price}}</td>
									</tr>
									<tr>
										<td colspan="4">Biaya Kirim</td>
										<td>{{jsonparse(selecteddata.component_price).courier_cost}}</td>
									</tr>
									<tr>
										<td colspan="4">Diskon</td>
										<td>{{jsonparse(selecteddata.component_price).discount}}</td>
									</tr>
									<tr>
										<td colspan="4">Biaya Lain</td>
										<td>{{jsonparse(selecteddata.component_price).another_cost}}</td>
									</tr>
									<tr>
										<td colspan="4">Angka Unik</td>
										<td>{{jsonparse(selecteddata.component_price).unique}}</td>
									</tr>
									<tr style="background-color: #1a237e; color : white">
										<td colspan="4">Substotal</td>
										<td>{{selecteddata.sell_price}}</td>
									</tr>
								</table>
							</v-flex>
						</v-layout>

					</div>

				</v-card>
			</v-dialog>

		</div>
	</template>

	<script>


		export default{

			beforeDestroy() {
				(document.getElementsByTagName("html")[0].style.overflow = 'overflow');
			},


			mounted(){

				(document.getElementsByTagName("html")[0].style.overflow = 'hidden');

			// 1. make default scroll page hidden hidden
			// document.getElementsByTagName("html")[0].style.overflow = 'hidden';
			var hostname = (window.location.hostname == 'app-orderlink.dev' ? 'http://localhost:3000' : 'http://139.162.48.229:3000') ;
			// socket 
			var socket = io(hostname);

			// listen for confirm payment
			socket.on('pos-channel:ConfirmPayment', function(data) {
                    // this.users.push(data.username);
                    this.data.find(function(item){
                    	if(item.id == data){
                    		item.status = 'success';
                    	}
                    })
                }.bind(this));




			if(!this.$store.state.pos+this.$route.params.id){

				this.fetchPOS();

			}else{

				this.data = this.$store.state.pos+this.$route.params.id;				

			}
			var self = this;
			setTimeout(function(){ 
				self.storedomain = (self.$parent._data.data['domain']);

			}, 500);





			


		},

		data(){
			return {
				data : [],
				activeselect : 0,
				storedomain : '',
				dialog : false,
				status : {
					checkout : {
						color : 'warning',
						id : 'checkout',
						text : 'Baru Checkout'
					},
					confirm : {
						color : 'info',
						id : 'confirm',
						text : 'Order Confirm'
					},
					success : {
						color : 'success',
						id : 'success',
						text : 'Sudah Dibayar'
					},
					sent : {
						color : 'success',
						id : 'sent',
						text : 'Terkirim'
					},
					cancel : {
						color : 'error',
						id : 'cancel',
						text : 'Batal'
					},
				}


			}
		},
		computed : {
			selecteddata(){
				var id = this.activeselect;
				return this.data[id];
			}
		},

		methods : {
			changeStatus(id){
				this.selecteddata.status = id;
			},
			hover(){
				this.overflowhidden = false;
			},
			jsonparse(data){
				return JSON.parse(data);
			},
			choosedata(index){
				this.activeselect = index;
				if(window.innerWidth < 1024)
					this.dialog = true;
			},
			fetchPOS(){
				this.$http.get('/v3/pos/?store_id='+this.$route.params.id).then(response => {

					this.data = (response.body);

					if(this.data.length > 0 ){
						var pos = {
							name : 'pos'+this.$route.params.id,
							value : this.data
						}

						this.$store.commit('init', pos);
					}
				});
			}
		}

	}
</script>

<style>

	
	.scrolly{
		max-height: calc(100vh - 56px);
		overflow-y: auto;
		overflow-x: hidden;
	}

	.overflowhidden{
		overflow-y: hidden;
	}

	.selected{
		background-color: #2196f3;
	}

	.selected *{
		color: white !important;
	}

	table#invoice {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	#invoice td, #invoice th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	#invoice tr:nth-child(even) {
		background-color: #dddddd;
	}




</style>