<template>
  <v-app id="example-3">

    <v-toolbar primary>
      <v-btn @click.native.stop="$router.go(-1)" icon class="white--text" >
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>Bikin Toko Baru</v-toolbar-title>
    </v-toolbar>
    <main>
      <v-container fluid>
       <v-layout>
        <v-flex xs12 md8 offset-md2 offset-lg3  lg6>
         <v-card>
          <v-card-text>
             
             <!-- first row -->
              <v-layout  row wrap>

              <v-flex xs12 md6>
                <v-text-field
              label="Nama Tokomu"
              v-model="storedata.title"
            ></v-text-field>
             </v-flex>

             <v-flex xs12 md6>
              <div style="display: flex;"> <v-text-field
             name="input-1"
             label="Logo Toko"
             v-model="storedata.avatar"
             hint="contoh : https://google.co.id/gambar/1.png"
             persistent-hint
             ></v-text-field>

             <form id="myForm" name="myForm">

              <div>
                <label for="uploadimage" class="custom-file-upload">
                  <v-icon>image</v-icon>
                </label>

                <input style="display: none"  type="file" name="image" id="uploadimage" @change="imageupload">
              </div>
            </form></div>
             </v-flex>

              </v-layout>
             <v-layout  row wrap>
                <v-flex xs12 md6>
             <v-select
              v-bind:items="domains"
              label="Pilih Domain"
              v-model="selecteddomain"
              item-text="domain"
              dark
              single-line
            ></v-select>
             </v-flex>
             <v-flex xs12 md6>
             <v-text-field
              label="Url Toko"
               v-model="userdomain"
               :disabled="userdomaindisable"
            ></v-text-field>
             </v-flex>
             </v-layout>

             <!-- domain toko -->
             Domain Tokomu : {{domainmaking}}

             <v-divider></v-divider>
             <br>
             <v-layout row wrap v-if="pixels.length > 0">
                  <v-flex xs12 md6>
                    <v-select
                    label="Pilih Pixel"
                    v-bind:items="pixels"
                    v-model="storedata.pixels"
                    multiple
                    dark
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-select
                    label="Pilih ID Adwords"
                    v-bind:items="adwords"
                    v-model="storedata.adwords"
                    multiple
                    dark
                    ></v-select>
                  </v-flex>
                </v-layout>
             <label for="">Rekening Toko</label>

             <!-- third row -->
             <v-layout  row wrap>
             <v-flex xs12 md3>
                  <v-select
          label="Pilih Bank"
          v-bind:items="list_banks"
          v-model="bank"
          item-text="title"
          dark
          auto
          />
             </v-flex>
                <v-flex xs12 md4>
              <v-text-field
              label="No. Rekening"
               v-model="bank_account"
            ></v-text-field>
             </v-flex>
             <v-flex xs10 md4>
             <v-text-field @keyup.enter.native="addBank"
              label="Nama Pemilik Rekening"
               v-model="bank_username"
            ></v-text-field>
             </v-flex>
             <v-flex xs1>
             <v-btn primary small floating="floating" @click.native.stop="addBank()"><v-icon class="white--text">add</v-icon></v-btn>
             </v-flex>
             </v-layout>

             <v-layout v-if="storedata.banks.length > 0" v-for="(item, index) in storedata.banks">
                <v-flex xs12 style="display : flex">
                  <span><img :src="logo[item.bank]" alt=""></span>
                  <span class="ml-4 pt-2">
                    <span class="headline">{{item.bank_account}}</span><br>
                    <span class="title">An. {{item.bank_username}}</span>
                  </span>
                  <span class="ml-5 pt-2"> <v-btn error small floating="floating" @click.native.stop="hapusBank(index)"><v-icon class="white--text">close</v-icon></v-btn></span>
                </v-flex>
             </v-layout>


             <!-- sixth row -->
             <v-layout  row wrap>
                <v-flex xs12 md6>
              <v-text-field
              label="Harga Unik Minimum"
               v-model="storedata.minunique"
              hint="bisa diisi mulai -1000 sampai 1000"
              persistent-hint
            ></v-text-field>
             </v-flex>
             <v-flex xs12 md6>
             <v-text-field
              v-model="storedata.maxunique"
              label="Harga Unik Maximum"
              hint="bisa diisi mulai -1000 sampai 1000"
              persistent-hint
            ></v-text-field>
             </v-flex>
             </v-layout>


               <v-toolbar class="transparent elevation-0">
      
      <v-spacer></v-spacer>
      <v-btn @click.native.stop="submit" primary light>
      Submit
    </v-btn>
    </v-toolbar>




          </v-card-text>
        </v-card>
      </v-flex>

    </v-flex>
  </v-layout>
</v-container>
</main>
</v-app>
</template>
<script>
  export default{
    mounted(){

      // fetch domain
      this.loaddata('domains');
      this.loaddata('pixels');
      this.loaddata('adwords');



    },
    data(){
      return {
        title : '',
        domains : [],
        selecteddomain : '',
        userdomain : '',
        list_banks : ['BCA','MANDIRI','BNI','BRI','BSM','MUAMALAT'],
        bank : '',
        bank_account : '',
        bank_username : '',
        pixels : [],
        adwords : [],
        userdomaindisable : false,
        storedata : {
          title : '',
          domain :'',
          avatar : '',
          banks : [],
          maxunique : 500,
          minunique : 0,
          pixels : [],
          adwords : [],  
        },
        logo : {
          BCA : '/images/bca_logo.png',
        },
      }
    },
    computed : {
      domainmaking(){
        var domain;
        if(this.selecteddomain.author_id == 3){
          this.userdomaindisable = false;
          domain =  'http://'+this.selecteddomain.domain+'/'+this.userdomain;
        }else{
          this.userdomaindisable = true;
          domain = 'http://'+this.selecteddomain.domain;
        }

        if(this.selecteddomain == ''){
          domain = 'pilih domain dulu';
        }
        
        this.storedata.domain = domain;
        return domain;
      }
    },
    methods : {
      loaddata(data){

        if(!this.$store.state[data]){

          this.$http.get('/v3/'+data).then(response => {

              // get body data
              this[data] = (response.body);

              var pixellog = {
                name : data,
                value : this[data]
              }



              this.$store.commit('init', pixellog);

          }, response => {
              // error callback
          });

        }else{

          this[data] = this.$store.state[data];

        }

      },
       imageupload(data){
          // console.log(data);
          var myForm = document.getElementById('myForm');
          var formData = new FormData(myForm);
          this.$http.post('/v3/imageupload', formData).then(response => {

            this.storedata.avatar = response.body;

          });

        },
      hapusBank(index){
        this.storedata.banks.splice(index,1);
      },
      addBank(){
        this.storedata.banks.push({bank : this.bank, bank_account : this.bank_account, bank_username : this.bank_username});

        this.bank = '';
        this.bank_account = '';
        this.bank_username = '';
      },
      submit(){
        var self = this;
        this.$http.post('/v3/store',{storedata : this.storedata}).then(response => {

            // get body data
             if(this.$store.state.stores)
                    this.$store.commit('push', {name : 'stores', value : response.body});

            self.$router.push('/store/'+response.body.id);

          }, response => {
            // error callback
          });
      }
    }
  }
</script>