<template>
	<v-container>
		
		<v-layout>
			<v-flex xs12 md8 offset-md2 offset-lg3  lg6>
			<span class="display-2">Notifikasi Email</span>
		    <p class="subheading">matikan checkbox jika email tidak mau dikirim</p >
 

			<v-layout row wrap>
			<v-flex xs12 md6>
				<v-text-field
              label="Email Pengirim"
              v-model="email_sender"
            ></v-text-field>
			</v-flex>
			<v-flex xs12 md6>
				<v-text-field
              label="Nama Pengirim"
              v-model="name_sender"
            ></v-text-field>
			</v-flex>
		</v-layout>
		<v-divider class="my-3"></v-divider>
		
		<v-layout>
			<v-flex xs12>
            <p for="" class="title">konfirmasi Order </p>
              <div style="display : flex" class="ma-0 pa-0">
              	<span class="ma-0 pa-0"><v-btn class="ma-0" small primary light round @click.native.stop="loadDefault('need_confirm_email')">load default</v-btn></span>
           <span class="ma-0 pa-0"><v-switch primary  label="kirim" v-model="need_confirm_email.issend" dark class="my-0 ml-1"></v-switch> </span>
              </div>

           <v-text-field
              label="Subject/Judul Email"
              v-model="need_confirm_email.subject"
            ></v-text-field>
        <vue-html5-editor :content="need_confirm_email.content" @change="updateData($event,'need_confirm_email')"  :height="500"></vue-html5-editor>

			</v-flex>
		</v-layout>
		<v-layout class="mt-3">
			<v-flex xs12>
            <p for="" class="title">Order di Konfirmasi</p>
            <div style="display : flex" class="ma-0 pa-0">
              	<span class="ma-0 pa-0"><v-btn class="ma-0" small primary light round @click.native.stop="loadDefault('order_confirmed_email')">load default</v-btn></span>
           <span class="ma-0 pa-0"><v-switch primary  label="kirim" v-model="order_confirmed_email.issend" dark class="my-0 ml-1"></v-switch> </span>
              </div>
            <v-text-field
              label="Subject/Judul Email"
              v-model="order_confirmed_email.subject"
            ></v-text-field>
        <vue-html5-editor :content="order_confirmed_email.content" @change="updateData($event,'order_confirmed_email')"  :height="500"></vue-html5-editor>
			</v-flex>
		</v-layout>
		<v-layout class="mt-3">
			<v-flex xs12>
            <p for="" class="title">Tagihan Dibayar</p>
            <div style="display : flex" class="ma-0 pa-0">
              	<span class="ma-0 pa-0"><v-btn class="ma-0" small primary light round @click.native.stop="loadDefault('order_paid_email')">load default</v-btn></span>
           <span class="ma-0 pa-0"><v-switch primary  label="kirim" v-model="order_paid_email.issend" dark class="my-0 ml-1"></v-switch> </span>
              </div>
            <v-text-field
              label="Subject/Judul Email"
              v-model="order_paid_email.subject"
            ></v-text-field>
        <vue-html5-editor :content="order_paid_email.content" @change="updateData($event,'order_paid_email')"  :height="500"></vue-html5-editor>
			</v-flex>
		</v-layout>
		<v-layout class="mt-3">
			<v-flex xs12>
            <p for="" class="title">Pengingat Pembayaran</p>
            <div style="display : flex" class="ma-0 pa-0">
              	<span class="ma-0 pa-0"><v-btn class="ma-0" small primary light round @click.native.stop="loadDefault('payment_reminder_email')">load default</v-btn></span>
           <span class="ma-0 pa-0"><v-switch primary  label="kirim" v-model="payment_reminder_email.issend" dark class="my-0 ml-1"></v-switch> </span>
              </div>
            <v-text-field
              label="Subject/Judul Email"
              v-model="payment_reminder_email.subject"
            ></v-text-field>
        <vue-html5-editor :content="payment_reminder_email.content" @change="updateData($event,'payment_reminder_email')"  :height="500"></vue-html5-editor>
            </v-flex>
		</v-layout>
		<v-layout class="mt-3">
            <v-flex xs12>
				<p for="" class="title">Pembatalan Order</p>
				<div style="display : flex" class="ma-0 pa-0">
              	<span class="ma-0 pa-0"><v-btn class="ma-0" small primary light round @click.native.stop="loadDefault('order_canceled_email')">load default</v-btn></span>
           <span class="ma-0 pa-0"><v-switch primary  label="kirim" v-model="order_canceled_email.issend" dark class="my-0 ml-1"></v-switch> </span>
              </div>
				<v-text-field
              label="Subject/Judul Email"
              v-model="order_canceled_email.subject"
            ></v-text-field>
        <vue-html5-editor :content="order_canceled_email.content" @change="updateData($event,'order_canceled_email')"  :height="500"></vue-html5-editor>
			</v-flex>

		 
		</v-layout>
		<v-layout>
			<v-flex xs12>
			<p class="text-xs-right mt-3"><v-btn primary light @click.native.stop="submit()" >Simpan Perubahan</v-btn></p>
		</v-flex>
		</v-layout>

			</v-flex>
		</v-layout>
		<v-snackbar
		info
      :timeout="2000"
      v-model="snackbar"
      :top="true"
    >
      template email disimpan
      <v-btn flat light @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>

	</v-container>
</template>
<script>
	export default{
		mounted(){
			document.getElementsByTagName("html")[0].style.overflow = 'scroll';

			var self = this;

			setTimeout(function(){ 
				if(self.$parent._data.data['need_confirm_email']){
					self.need_confirm_email = JSON.parse(self.$parent._data.data['need_confirm_email']);
					self.order_confirmed_email = JSON.parse(self.$parent._data.data['order_confirmed_email']);
					self.order_paid_email = JSON.parse(self.$parent._data.data['order_paid_email']);
					self.payment_reminder_email = JSON.parse(self.$parent._data.data['payment_reminder_email']);
					self.order_canceled_email = JSON.parse(self.$parent._data.data['order_canceled_email']);
					self.email_sender = (self.$parent._data.data['email_sender']);
					self.name_sender = (self.$parent._data.data['name_sender']);
				}

					 }, 500);
		},

		data(){
			return {
				need_confirm_email : {subject : '', content : '', issend : true},
				order_confirmed_email : {subject : '', content : '', issend : true},
				order_paid_email : {subject : '', content : '', issend : true},
				payment_reminder_email : {subject : '', content : '', issend : true},
				order_canceled_email : {subject : '', content : '', issend : true},
				name_sender : '',
				email_sender : '',
				snackbar : false,

				default : {
					need_confirm_email : { "subject": "Hai {nama_depan}, Tolong Konfirmasi Pesanan Anda", "content": "<div style=\"text-align: center;\">{logo_toko}</div><div><br></div><div>ID PESANAN : #{id_order}&nbsp;</div><div><br></div><div>Terima Kasih Sudah Belanja di {nama_toko}.</div><div><br></div><div>Sebelum Pesanan Kami Proses, kami minta bantuannya untuk mengecek apakah produk dan alamat pengiriman sudah valid/betul.</div><div><br></div><div>silakan klik tombol di bawah ini untuk melihat detil pesanan anda</div><div><br></div><div style=\"text-align: center;\">{tombol_halaman_konfirmasi}</div><div><br></div><div>atau&nbsp;</div><div><br></div><div>kunjungi halaman ini jika tombol tidak berfungsi</div><div><br></div><div>{link_halaman_konfirmasi}</div><div>&nbsp;</div><div>Terimakasih</div><div><br></div>", issend : true },
				order_confirmed_email : {"subject":"Hai {nama_depan}, Terimakasih atas pemesanan Anda!","content":"<div style=\"text-align: center;\">{logo_toko}</div><div><br></div><div>ID PESANAN : #{id_order}&nbsp;</div><div><br></div><div>Kami akan segera mengirimkan pesanan Anda, setelah Anda melunasi pembayaran.</div><div>&nbsp;</div><div>Terimakasih atas kepercayaan Anda belanja di {nama_toko}</div><div><br></div><div>DETAIL PRODUK YANG ANDA PESAN</div><div><br></div><div style=\"text-align: center;\">{invoice}</div><div style=\"text-align: center;\"><br></div><div>INFORMASI ALAMAT PENGIRIMAN</div><div>&nbsp;</div><div>{alamat}</div><div>&nbsp;</div><div>PETUNJUK PEMBAYARAN</div><div>&nbsp;</div><div>Silakan transfer pembayaran pembayaran sebesar</div><div><br></div><div style=\"text-align: center;\">{total_pembayaran}</div><div><br></div><div>ke salah satu rekening di bawah ini:</div><div><br></div><div style=\"text-align: center;\">{daftar_rekening}</div><div>&nbsp;</div><div>PERHATIAN:&nbsp;</div><div>&nbsp;</div><div>Mohon Segera Melakukan Pembayaran Sebelum :</div><div><br></div><div style=\"text-align: center;\">{order_expired}</div><div style=\"text-align: center;\"><br></div><div>&nbsp;</div><div>Pastikan jumlah yang di transfer sesuai. Sistem kami otomatis konfirmasi pembayaran.</div><div>Apabila ada kesalahan jumlah transfer, atau dalam 1x24 jam tidak ada notifikasi pembayaran diterima dari kami (via sms &amp; email) silakan hubungi admin kami di:</div><div>&nbsp;</div><div>WA <span class=\"Apple-tab-span\" style=\"white-space:pre\">\t</span>: 2822-29292-20202</div><div>Email<span class=\"Apple-tab-span\" style=\"white-space:pre\">\t</span>: aa@aa.aa</div><div>&nbsp;</div><div>Terimakasih</div><div><br></div>", issend : true},
				order_paid_email : { "subject": "Hai {nama_depan}, pembayaran Anda sudah kami terima :)", "content": "<div style=\"text-align: center;\"><div>{logo_toko}</div><div style=\"text-align: left;\"><br></div><div style=\"text-align: left;\">ID PESANAN : #{id_order}&nbsp;</div><div style=\"text-align: left;\"><br></div><div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">Kami akan segera mengirimkan pesanan Anda. Terimakasih atas kepercayaan Anda belanja di {nama_toko}</div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">------------------------------------------------------------</div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">DETAIL PRODUK YANG ANDA PESAN</div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">{invoice}</div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">INFORMASI ALAMAT PENGIRIMAN</div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">{alamat}</div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">STATUS PENGIRIMAN</div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">cek status pengiriman di halaman ini {link_tracking}</div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">Butuh bantuan? Hubungi kami di:</div><div style=\"text-align: left;\">WA <span class=\"Apple-tab-span\" style=\"white-space:pre\">\t</span>: 2822-29292-20202</div><div style=\"text-align: left;\">Email<span class=\"Apple-tab-span\" style=\"white-space:pre\">\t</span>: aa@aa.aa</div><div style=\"text-align: left;\">&nbsp;</div><div style=\"text-align: left;\">Terimakasih</div><div style=\"text-align: left;\">{nama toko}</div></div></div>", issend : true }
,
				payment_reminder_email : {"subject":"Hai {nama_depan}, kami lihat Anda belum melunasi pembayaran.","content":"<div style=\"text-align: center;\">{logo_toko}</div><div><br></div><div>ID Pesanan: #{id_order}</div><div><br></div><div>Ini adalah pengingat terakhir, setelah 12 jam pesanan Anda akan kami hapus.</div><div>&nbsp;</div><div>------------------------------------------------------------</div><div>&nbsp;</div><div>DETAIL PRODUK YANG ANDA PESAN</div><div><br></div><div style=\"text-align: center;\">{invoice}</div><div style=\"text-align: center;\"><br></div><div>INFORMASI ALAMAT PENGIRIMAN</div><div>&nbsp;</div><div>{alamat}</div><div>&nbsp;</div><div>PETUNJUK PEMBAYARAN</div><div>&nbsp;</div><div>Silakan transfer pembayaran pembayaran sebesar</div><div><br></div><div style=\"text-align: center;\">{total_pembayaran}</div><div><br></div><div>ke salah satu rekening di bawah ini:</div><div><br></div><div style=\"text-align: center;\">{daftar_rekening}</div><div>&nbsp;</div><div>PERHATIAN:&nbsp;</div><div>&nbsp;</div><div>Mohon Segera Melakukan Pembayaran Sebelum :</div><div><br></div><div style=\"text-align: center;\">{order_expired}</div><div style=\"text-align: center;\">&nbsp;<br></div><div>Pastikan jumlah yang di transfer sesuai. Sistem kami otomatis konfirmasi pembayaran.</div><div>Apabila ada kesalahan jumlah transfer, atau dalam 1x24 jam tidak ada notifikasi pembayaran diterima dari kami (via sms &amp; email) silakan hubungi admin kami di:</div><div>&nbsp;</div><div>WA <span class=\"Apple-tab-span\" style=\"white-space:pre\">\t</span>: 2822-29292-20202</div><div>Email<span class=\"Apple-tab-span\" style=\"white-space:pre\">\t</span>: aa@aa.aa</div><div>&nbsp;</div><div>Terimakasih</div><div><br></div>", issend : true},
				order_canceled_email : {"subject":"Hai {nama_depan}, Transaksi Anda dibatalkan!","content":"<div style=\"text-align: center;\">{logo_toko}</div><div><span style=\"text-align: center;\"><br></span></div><div>ID Pesanan: #{id_order}</div><div>&nbsp;</div><div>&nbsp;</div><div>Hai {nama_depan}, Pembelian Anda dg ID Pesanan #{id_order} kami batalkan karena Anda tidak menyelesaikan pembayaran.</div><div>&nbsp;</div><div>Apakah ini sebuah kesalahan?</div><div>&nbsp;</div><div>Sistem kami otomatis konfirmasi pembayaran.</div><div>Apabila ada kesalahan jumlah transfer, atau dalam 1x24 jam tidak ada notifikasi pembayaran diterima dari kami (via sms &amp; email) silakan hubungi admin kami di:</div><div>&nbsp;</div><div>WA <span class=\"Apple-tab-span\" style=\"white-space:pre\">\t</span>: 2822-29292-20202</div><div>Email<span class=\"Apple-tab-span\" style=\"white-space:pre\">\t</span>: aa@aa.aa</div><div>&nbsp;</div><div>Terimakasih</div>", issend : true},

				}


			}
		},

		methods : {
			updateData(data, key){
				this[key].content = data;
			},

			loadDefault(data){
				this[data]['subject'] = this.default[data]['subject'];
				this[data]['content'] = this.default[data]['content'];
				this[data]['issend'] = this.default[data]['issend'];
			},

			submit(){
				 this.$http.put('/v3/store/'+this.$route.params.id,{need_confirm_email : JSON.stringify(this.need_confirm_email), order_confirmed_email : JSON.stringify(this.order_confirmed_email), order_paid_email : JSON.stringify(this.order_paid_email), payment_reminder_email : JSON.stringify(this.payment_reminder_email), order_canceled_email : JSON.stringify(this.order_canceled_email), name_sender : this.name_sender, email_sender : this.email_sender});
				 this.snackbar = true;

				 this.$parent._data.data['need_confirm_email'] = JSON.stringify(this.need_confirm_email);
				 this.$parent._data.data['order_confirmed_email'] = JSON.stringify(this.order_confirmed_email);
				 this.$parent._data.data['order_paid_email'] = JSON.stringify(this.order_paid_email);
				 this.$parent._data.data['payment_reminder_email'] = JSON.stringify(this.payment_reminder_email);
				 this.$parent._data.data['order_canceled_email'] = JSON.stringify(this.order_canceled_email);

				 this.$parent._data.data['name_sender'] = this.name_sender;

				 this.$parent._data.data['email_sender'] = this.email_sender;

			}
		}

	}
</script>