<template>
  <v-app id="example-2">
    <v-navigation-drawer persistent light :mini-variant.sync="mini" v-model="drawer">
      <v-list class="pa-0">
        <v-list-item>
          <v-list-tile avatar tag="div">
            <v-list-tile-avatar>
              <img src="/images/logo-orderlink.png" />
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Orderlink</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon @click.native.stop="mini = !mini">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-item>
      </v-list>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-item  v-if="mini">
          <v-list-tile @click.native.stop="mini = false">
            <v-list-tile-action >
              <v-icon >launch</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Open Sidebar</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>
      </v-list>
      <main-menu></main-menu>
    </v-navigation-drawer>
    <v-toolbar fixed class="indigo darken-4">
      <v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Daftar Toko</v-toolbar-title>
    </v-toolbar>
    <main>
      <v-container>
        <v-layout>
            <v-flex xs12 md8 offset-md2 lg6 offset-lg3 >
                <v-list two-line v-if="stores.length > 0">

          <v-list-item   v-for="item in stores" >
            <v-list-tile avatar :href="'/store/'+item.id+'/'" :router="true">
              <v-list-tile-avatar>
                <img v-bind:src="item.avatar ?  item.avatar : '/images/logo-orderlink.png'" />
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="item.title" />
                <v-list-tile-sub-title v-html="item.subtitle" />
              </v-list-tile-content>
            </v-list-tile>
          </v-list-item>
      </v-list>
      <p v-if="nullstores" class="display-1 text-xs-center">Belum ada Toko! <br> Klik Tombol <v-btn primary floating> <v-icon light>add</v-icon></v-btn>  untuk membuatnya!</p>
            </v-flex>
        </v-layout>
        <!--v-router-->
      </v-container>
       <v-btn floating href="/store/create" :router="true" style="position: fixed; right : 5vh; bottom: 5vh;" large class="primary">
      <v-icon light>add</v-icon>
    </v-btn>
    <load-store @storecall="dataload"></load-store>
    </main>
  </v-app>
</template>

<script>
import LoadStore from './loadstore.js';
import MainMenu from '../main-menu.vue';
  export default{
    components : {MainMenu, LoadStore},
    mounted(){
      
    },
    data(){
      return {
        drawer : true,
        mini : true,
        nullstores : false,
        items : [{icon : 'home', title: 'home'} ],
        stores : [],
      }
    },

    methods : {
      dataload(data){
        this.stores = data;
        if(this.stores.length == 0){
          this.nullstores = true;
        }
      }
    }
  }
</script>