<template>
  <v-app id="example-2">
    <v-navigation-drawer persistent light :mini-variant.sync="mini" v-model="drawer">
      <v-list class="pa-0">
        <v-list-item>
          <v-list-tile avatar tag="div">
            <v-list-tile-avatar>
              <img src="/images/logo-orderlink.png" />
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Orderlink</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon @click.native.stop="mini = !mini">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-item>
      </v-list>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-item  v-if="mini">
          <v-list-tile @click.native.stop="mini = false">
            <v-list-tile-action >
              <v-icon >launch</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Open Sidebar</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>
      </v-list>
      <my-store-list @routechange="loaddata"></my-store-list>
      <v-list>
        <v-list-item >
          <v-list-tile :href="'/store/'+$route.params.id+'/products'" :router="true
          ">
            <v-list-tile-action >
              <v-icon >local_cafe</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Produkmu</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>
         <v-list-item >
          <v-list-tile :href="'/store/'+$route.params.id+'/orders'" :router="true
          ">
            <v-list-tile-action >
              <v-icon >add_shopping_cart</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Orderan</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>
        <v-list-item >
          <v-list-tile :href="'/store/'+$route.params.id+'/sms-notifications'" :router="true
          ">
            <v-list-tile-action >
              <v-icon >message</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Notifikasi SMS</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>
        <v-list-item >
          <v-list-tile :href="'/store/'+$route.params.id+'/email-notifications'" :router="true
          ">
            <v-list-tile-action >
              <v-icon >email</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Notifikasi Email</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>
        <v-list-item >
          <v-list-tile :href="'/store/'+$route.params.id+'/setting'" :router="true
          ">
            <v-list-tile-action >
              <v-icon >perm_data_setting</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Edit Toko</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>
      </v-list>
      
    </v-navigation-drawer>
    <v-toolbar fixed class="indigo darken-4">
      <v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title >{{data.title}}</v-toolbar-title>
       <v-spacer></v-spacer>
      <v-btn light icon href="/store" :router="true">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>
    <main>
      <v-container fluid class="mt-0 pt-0 ml-0 pl-0 pr-3 ">
      
           <router-view>
           </router-view>
        <!--v-router-->
      </v-container>
      
    </main>
  </v-app>
</template>

<script>
import MyStoreList from './storelist.vue';

  export default{
    components : {MyStoreList},

    mounted(){
        
    },

    computed : {
        
    },


    data(){
      return {
        title : '',
        data : '',
        drawer : true,
        mini : false,
        items : [{icon : 'home', title: 'home'} ],

      }
    },

    methods : {  
      loaddata(data){

        this.data = data;


      }
    }
  }
</script>