<template>
	<v-container>
		<v-layout>
			<v-flex xs12 md8 offset-md2 offset-lg3  lg6>
		<span class="display-2">Notifikasi SMS</span>
		<p class="subheading">kosongkan form input jika sms tidak mau dikirim</p >
		
		<v-layout>
			<v-flex xs12>
			<div style="display : flex" class="ma-0 pa-0">
              	<span class="ma-0 pa-0"><v-btn class="ma-0" small primary light round @click.native.stop="loadDefault('need_confirm_sms')">load default</v-btn></span>
           <span class="ma-0 pa-0"><v-switch primary  label="kirim" v-model="need_confirm_sms.issend" dark class="my-0 ml-1"></v-switch> </span>
              </div>
				<v-text-field
              label="konfirmasi pesanan"
              multi-line
              counter
              max="160"
              v-model="need_confirm_sms.content"
            ></v-text-field>
			</v-flex>
		</v-layout>
		<v-layout>
			<v-flex xs12>
			<div style="display : flex" class="ma-0 pa-0">
              	<span class="ma-0 pa-0"><v-btn class="ma-0" small primary light round @click.native.stop="loadDefault('order_confirmed_sms')">load default</v-btn></span>
           <span class="ma-0 pa-0"><v-switch primary  label="kirim" v-model="order_confirmed_sms.issend" dark class="my-0 ml-1"></v-switch> </span>
              </div>
				<v-text-field
              label="SMS Pesanan Sukses di Konfirmasi"
              multi-line
              counter
              max="160"
              v-model="order_confirmed_sms.content"
            ></v-text-field>
			</v-flex>
		</v-layout>
		<v-layout>
			<v-flex xs12>
			<div style="display : flex" class="ma-0 pa-0">
              	<span class="ma-0 pa-0"><v-btn class="ma-0" small primary light round @click.native.stop="loadDefault('order_paid_sms')">load default</v-btn></span>
           <span class="ma-0 pa-0"><v-switch primary  label="kirim" v-model="order_paid_sms.issend" dark class="my-0 ml-1"></v-switch> </span>
              </div>
				<v-text-field
              label="SMS Tagihan Dibayar"
              multi-line
              counter
              max="160"
              v-model="order_paid_sms.content"
            ></v-text-field>
			</v-flex>
		</v-layout>
		<v-layout>
			<v-flex xs12>
			<div style="display : flex" class="ma-0 pa-0">
              	<span class="ma-0 pa-0"><v-btn class="ma-0" small primary light round @click.native.stop="loadDefault('payment_reminder_sms')">load default</v-btn></span>
           <span class="ma-0 pa-0"><v-switch primary  label="kirim" v-model="payment_reminder_sms.issend" dark class="my-0 ml-1"></v-switch> </span>
              </div>
				<v-text-field
              label="SMS Pengingat Pembayaran (1 hari setelah order)"
              multi-line
              counter
              max="160"
              v-model="payment_reminder_sms.content"
            ></v-text-field>
            </v-flex>
		</v-layout>
		<v-layout>
            <v-flex xs12>
				<div style="display : flex" class="ma-0 pa-0">
              	<span class="ma-0 pa-0"><v-btn class="ma-0" small primary light round @click.native.stop="loadDefault('order_canceled_sms')">load default</v-btn></span>
           <span class="ma-0 pa-0"><v-switch primary  label="kirim" v-model="order_canceled_sms.issend" dark class="my-0 ml-1"></v-switch> </span>
              </div>
				<v-text-field
              label="SMS Pembatalan (2 hari setelah order)"
              counter
              max="160"
              v-model="order_canceled_sms.content"
              multi-line
            ></v-text-field>
			</v-flex>


		</v-layout>
		<v-layout>
			<v-flex xs12>
			<p class="text-xs-right mt-3"><v-btn primary light @click.native.stop="submit()" >Simpan Perubahan</v-btn></p>
		</v-flex>
		</v-layout>
		<v-snackbar
		info
      :timeout="2000"
      v-model="snackbar"
      :top="true"
    >
      {{ text }}
      <v-btn flat light @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    </v-flex>
    </v-layout>
	</v-container>
</template>
<script>
	export default{
		mounted(){
			document.getElementsByTagName("html")[0].style.overflow = 'scroll';

			var self = this;

			setTimeout(function(){ 
					if(self.$parent._data.data['need_confirm_sms']){
						self.need_confirm_sms = JSON.parse(self.$parent._data.data['need_confirm_sms']);
					self.order_confirmed_sms = JSON.parse(self.$parent._data.data['order_confirmed_sms']);
					self.order_paid_sms = JSON.parse(self.$parent._data.data['order_paid_sms']);
					self.payment_reminder_sms = JSON.parse(self.$parent._data.data['payment_reminder_sms']);
					self.order_canceled_sms = JSON.parse(self.$parent._data.data['order_canceled_sms']);
					}
					 }, 500);
		},

		data(){
			return {
				need_confirm_sms : {
					content : '',
					issend : false,
				},
				order_confirmed_sms : {
					content : '',
					issend : false,
				},
				order_paid_sms : {
					content : '',
					issend : false,
				},
				payment_reminder_sms : {
					content : '',
					issend : false,
				},
				order_canceled_sms : {
					content : '',
					issend : false,
				},
				snackbar : false,
				default : {
					need_confirm_sms : {
						content : '< {nama_toko} > Hai {nama_depan}, tolong konfirmasi pesanan anda, apakah sudah benar? cek disini {link_halaman_konfirmasi}.',
						issend : true,
					},
					order_confirmed_sms : {
						content : '< {nama_toko} > Hai {nama_depan}, ID:#{id_order}. silakan trf ke {daftar_rekening}',
						issend : true,
					},
					order_paid_sms : {
						content : '< {nama_toko} > Hai {nama_depan}, Pembayaran sudah diterima. Info Pengiriman akan di update d halaman ini {tracking_page}',
						issend : true,
					},
					payment_reminder_sms : {
						content : '< {nama toko} > Hai {nama_depan}, anda belum menyelesaikan pembayaran ID Pemesanan: #{id_order}',
						issend : true,
					},
					order_canceled_sms : {
						content : '< {nama_toko} > Hai {nama_depan}, maaf. pesanan anda  ID:#{id_order} kami batalkan!',
						issend : true,
					},

				},
				text : 'template sms disimpan!',


			}
		},
		methods : {
			loadDefault(data){
				this[data]['content'] = this.default[data]['content'];
				this[data]['issend'] = this.default[data]['issend'];
			},
			submit(){
				 this.$http.put('/v3/store/'+this.$route.params.id,{need_confirm_sms : JSON.stringify(this.need_confirm_sms), order_confirmed_sms : JSON.stringify(this.order_confirmed_sms), order_paid_sms : JSON.stringify(this.order_paid_sms), payment_reminder_sms : JSON.stringify(this.payment_reminder_sms), order_canceled_sms : JSON.stringify(this.order_canceled_sms)});

				  this.$parent._data.data['need_confirm_sms'] = JSON.stringify(this.need_confirm_sms);
				 this.$parent._data.data['order_confirmed_sms'] = JSON.stringify(this.order_confirmed_sms);
				 this.$parent._data.data['order_paid_sms'] = JSON.stringify(this.order_paid_sms);
				 this.$parent._data.data['payment_reminder_sms'] = JSON.stringify(this.payment_reminder_sms);
				 this.$parent._data.data['order_canceled_sms'] = JSON.stringify(this.order_canceled_sms);

				 this.snackbar = true;
			}
		}

	}
</script>