<template>
	<div>
		<v-list>
		<v-list-group v-for="item in items" :value="item.active" v-bind:key="item.title">
			<v-list-tile slot="item">
				<v-list-tile-action>
					<v-icon dark>{{ item.action }}</v-icon>
				</v-list-tile-action>
				<v-list-tile-content>
					<v-list-tile-title>{{ item.title }}</v-list-tile-title>
				</v-list-tile-content>
				<v-list-tile-action>
					<v-icon dark>keyboard_arrow_down</v-icon>
				</v-list-tile-action>
			</v-list-tile>
			<v-list-item v-for="subItem in item.stores" v-bind:key="subItem.title">
				<v-list-tile @click.native.stop="changeRoute(subItem)" :href="'/store/'+subItem.id" :router="true">
					<v-list-tile-content>
						<v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
					</v-list-tile-content>
					<v-list-tile-action>
						
					</v-list-tile-action>
				</v-list-tile>
			</v-list-item>
		</v-list-group>
	</v-list>
	 <load-store @storecall="dataload"></load-store>
	</div>
</template>

<script>
	import LoadStore from './loadstore.js';
	export default{
		components : {LoadStore},

		data(){
			return {
				items : [{active : false, action : 'store', title: 'Daftar Toko', stores : [{
					title : 'keren banget', action : 'hebat banget'
				}
				]}],
				currentPath : this.$route.path,
				currentRouteId : this.$route.params.id
			}
		},
		methods : {
			dataload(data){
				this.items[0].stores = data;

				var id = this.$route.params.id;
				var choosen = data.find(function(item){
					return item.id == id;
				});



				this.$emit('routechange',choosen);
				// var store = {
	   //            name : 'store',
	   //            value : choosen
	   //          }


	   //          this.$store.commit('init', store);

				// this.$emit('singledata',choosen);
			},
			changeRoute(item){
				this.$emit('routechange',item);
				// console.log(this.$route)

				// var route = this.currentPath;

				// var newroute = route.replace(this.currentRouteId, item.id);
				this.$router.push('/store/'+item.id);
				// this.$router.push(newroute);

				 // this.$router.push('/store/'+item.id);

			}
		}

	}
</script>