<template>
	<div id="modal-placeholder">  
			<div class="modal fade" :id="id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" :class="customclass">
					<div class="modal-content" >
						<slot></slot>
					</div>
				</div>
			</div>
		</div>
</template>

<script>
    export default {
  		props : {
  			 customclass: {
		      default: ''
		    },
		    id: {
		      default: 'myModal'
		    },
  		}
    }
</script>
