<template>
	<div >

		<div id="modal-placeholder">  
			<div class="modal fade" id="contentview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="margin : 0; margin-top: -5; padding: 0; border-radius: 0;">
					<div class="modal-content">
						<div class="modal-header" style="height: 50px; max-height: 50px;">
							<button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">
								<i class="fa fa-arrow-left">  </i>
							</button>
							<!-- <h4 class="modal-title">Modal title</h4> -->
						</div>
						<div class="modal-body" style="max-height: calc(100vh - 92px); min-height: calc(100vh - 92px); overflow-y: scroll;">
							<p><strong>{{listlink[activeitem].alias}}</strong></p>
            				<p><button class="btn btn-xs btn-primary">copy <i class="fa fa-copy"></i></button> <button class="btn btn-xs btn-primary">share <i class="fa fa-share"></i></button></p>
							
										<div class="list-item-link-property">
            							<div class="item-title">
            								Jumlah Klik
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].hit}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Jenis Link
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].tipelink}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								ID/PIN/No.HP
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].nomor}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Tags
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].tags}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Pixel Facebook
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].pixel_id}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Google Remarketing Tag
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].google_id}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Google Tag Manager
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].gtm_id}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Pixel Event
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].pixel_event}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Desktop Url
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].desktop_url}}
            							</div>
            						</div>
						</div>
						<div  style="height: 42px; width: 100%; max-height: 42px; overflow: hidden; display: flex;">
							<button style="width: 50%; margin : 0; border-radius: 0; border-right: 1px solid white" type="button" class="btn btn-primary"><i class="fa fa-home"></i></button>
							<button  style="width: 50%; margin : 0; border-radius: 0;"  type="button" class="btn btn-primary"><i class="fa fa-bar-chart"></i></button>
							<!-- <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 listview">
				<div class="search-item">

					<input id="search" style="display: none; width: 100%" type="text" class="form-control" placeholder="Cari Link">
					<div class="menu-operate">
						<div class="dropdown">
							<a href="#" onclick="$('#search').toggle()" style="border: 1px solid black; color : black; padding: 1px 6px;" class="dropdown-toggle"  >
								Search <i class="fa fa-search"></i>
							</a>

						</div>
						<div class="dropdown">
							<a href="#" style="border: 1px solid black; color : black; padding: 1px 8px;" class="dropdown-toggle"  data-toggle="dropdown">
								Sorting <i class="fa fa-sort"></i> <span style="color: white; font-size: 1px">.</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
								<li>
									<a href="#action">Klik</a>
								</li>
								<li>
									<a href="#action">Tanggal</a>
								</li>
								<li>
									<a href="#action">Abjad</a>
								</li>
							</ul>
						</div>

					</div>

				</div>

				<div v-for="(item, index) in listlink" class="list-item" :class="{ 'active': index == activeitem }">
					<div class="thumb" @click="changeActive(index)">
						<i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i>
					</div>
					<div class="list-content" @click="changeActive(index)">
						<strong>{{showAlias(item.alias) }}</strong><br>
						<!-- <span class="text-center"><i class="fa fa-bar-chart" aria-hidden="true"></i>62 klik</span> -->
						<span class="text-center"><i class="fa fa-bar-chart" aria-hidden="true"></i> {{item.hit}} klik</span>
					</div>
					<div class="list-option">
						<div class="div">
							<div class="dropdown pull-right">
								<a href="#" style="padding-left:10px" class="dropdown-toggle"  data-toggle="dropdown">
									<i class="fa fa-ellipsis-v"></i> 
								</a>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
									<li>
										<a href="#action">View Analytics</a>
									</li>
									<li>
										<a href="#action">Edit</a>
									</li>
									<li>
										<a href="#action">Copy</a>
									</li>

									<li class="divider"></li>
									<li>
										<a href="#link">Delete</a>
									</li>
								</ul>
							</div>
						</div>
						<div style="position: absolute; right: 8px; margin-top: 22px;">
						 <small>{{showDate(item.created_at)}}</small>
							<!-- <div class="label label-warning">halo</div> -->

						</div>
					</div>
				</div>


			</div>
			<div class="col-md-8 contentview hidden-sm hidden-xs">
				<!-- <h3 class="title text-center">Page Subcategories</h3> -->
				<br />
				<div class="nav-center">
					<ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
                                    <!--
                        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                    -->
                    <li class="active">
                    	<a href="#description-1" role="tab" data-toggle="tab">
                    		<i class="material-icons">info</i> Link Detail
                    	</a>
                    </li>
                    <li>
                    	<a href="#schedule-1" role="tab" data-toggle="tab">
                    		<i class="material-icons">equalizer</i> Statistics
                    	</a>
                    </li><!-- 
                    <li>
                    	<a href="#tasks-1" role="tab" data-toggle="tab">
                    		<i class="material-icons">gavel</i> Legal Info
                    	</a>
                    </li>
                    <li>
                    	<a href="#tasks-2" role="tab" data-toggle="tab">
                    		<i class="material-icons">help_outline</i> Help Center
                    	</a>
                    </li> -->
                </ul>
            </div>
            <div class="tab-content">
            	<div class="tab-pane active" id="description-1">
            		<div class="card">
            			<div class="card-header">
            				<h4 class="card-title">{{listlink[activeitem].alias}}</h4>
            				<p class="category">
            					<!-- <span class="label label-warning">label</span> -->
            				</p>
            				<p><button class="btn btn-xs btn-primary"><i class="fa fa-copy"></i> copy</button> <button class="btn btn-xs btn-primary"><i class="fa fa-share"></i> share</button></p>
            			</div>
            			<div class="card-content">

            						<div class="list-item-link-property">
            							<div class="item-title">
            								Alias
            							</div>
            							<div class="item-value alias" v-on:dblclick="editText('alias')" @keyup.enter="saveText('alias')">
            								<span class="show-item">{{listlink[activeitem].alias}}</span>
            								<input style="display: none;border: none; border-bottom: 1px solid darkblue" type="text" class="edit" v-model="listlink[activeitem].alias">

            							</div>

            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Jumlah Klik
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].hit}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Jenis Link
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].tipelink}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								ID/PIN/No.HP
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].nomor}}
            								<!-- <input type="text" v-model="listlink[activeitem].nomor"> -->
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Tags
            							</div>
            							<div class="item-value tags" v-on:dblclick="editText('tags')" @keyup.enter="saveText('tags')">
            								<span class="show-item">{{listlink[activeitem].tags ? listlink[activeitem].tags : 'klik 2x untuk edit'}}</span>
            								<input style="display: none;border: none; border-bottom: 1px solid darkblue" type="text" class="edit" v-model="listlink[activeitem].tags">

            							</div>

            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Pixel Facebook
            							</div>
            							<div class="item-value">
            								<!-- {{listlink[activeitem].pixel_id}} -->
            								<!-- {{pixy}} -->
            								<select style="border: none; " name="" id="" v-model="listlink[activeitem].pixel_id">
            									<option :value="p.id" v-for="p in pixy">{{p.pixel_id}}</option>
            								</select>
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Google Remarketing Tag
            							</div>
            							<div class="item-value">
            							<!-- <span class="show-item">{{listlink[activeitem].google_id ? listlink[activeitem].google_id : 'klik 2x untuk edit'}}</span> -->
            								<select style="border: none; " name="" id="" v-model="listlink[activeitem].google_id">
            									<option :value="p.id" v-for="p in googie">{{p.google_id}}</option>
            								</select>
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Google Tag Manager
            							</div>
            							<div class="item-value">
            								{{listlink[activeitem].gtm_id}}
            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Pixel Event
            							</div>
            							<!-- <div class="item-value">
            								{{listlink[activeitem].pixel_event}}
            							</div> -->
            							<div class="item-value pixel" v-on:dblclick="editText('pixel')" @keyup.enter="saveText('pixel')">
            								<span class="show-item">{{listlink[activeitem].pixel_event ? listlink[activeitem].pixel_event : 'klik 2x untuk edit'}}</span>
            								<input style="display: none;border: none; border-bottom: 1px solid darkblue" type="text" class="edit" v-model="listlink[activeitem].pixel_event">

            							</div>
            						</div>
            						<div class="list-item-link-property">
            							<div class="item-title">
            								Desktop Url
            							</div>
            							<div class="item-value desktop_url" v-on:dblclick="editText('desktop_url')" @keyup.enter="saveText('desktop_url')">
            								<span class="show-item">{{listlink[activeitem].desktop_url ? listlink[activeitem].desktop_url : 'klik 2x untuk edit'}}</span>
            								<input style="display: none;border: none; border-bottom: 1px solid darkblue" type="text" class="edit" v-model="listlink[activeitem].desktop_url">

            							</div>
            						</div>
            						
            			</div>
            		</div>
            	</div>
            	<div class="tab-pane" id="schedule-1">
            		<div class="card">
            			<div class="card-header">
            				<h4 class="card-title">Location of the product</h4>
            				<p class="category">
            					More information here
            				</p>
            			</div>
            			<div class="card-content">
            				Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
            				<br />
            				<br /> Dramatically maintain clicks-and-mortar solutions without functional solutions.
            			</div>
            		</div>
            	</div>
            	<!-- <div class="tab-pane" id="tasks-1">
            		<div class="card">
            			<div class="card-header">
            				<h4 class="card-title">Legal info of the product</h4>
            				<p class="category">
            					More information here
            				</p>
            			</div>
            			<div class="card-content">
            				Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
            				<br />
            				<br />Dynamically innovate resource-leveling customer service for state of the art customer service.
            			</div>
            		</div>
            	</div>
            	<div class="tab-pane" id="tasks-2">
            		<div class="card">
            			<div class="card-header">
            				<h4 class="card-title">Help center</h4>
            				<p class="category">
            					More information here
            				</p>
            			</div>
            			<div class="card-content">
            				From the seamless transition of glass and metal to the streamlined profile, every detail was carefully considered to enhance your experience. So while its display is larger, the phone feels just right.
            				<br />
            				<br /> Another Text. The first thing you notice when you hold the phone is how great it feels in your hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable, simplified design.
            			</div>
            		</div>
            	</div> -->
            </div>

        </div>
    </div>

</div>
</template>

<script>
    export default {
    	props : ['all','pixy','googie'],
    	data(){
    		return {
    			activeitem : 0,
    			windowsize : {},
    			listlink : this.all,
    		}
    	},
        mounted() {
            // console.log('Component ready.')
            console.log(this.pixy);
            var ws = this.windowsize;

            $( window ).resize(function() {
			  ws.width = $( window ).width();
			  
			  if(ws.width >= 768){
        			$('#contentview').modal('hide');
        	  }

			});

			

        },
        methods : {
        	changeActive(id){
        		this.activeitem = id;
        		console.log(this.activeitem);
        		if(this.windowsize.width < 768){
        			$('#contentview').modal();
        		}
        	},
        	showDate(date){
        		return (moment(date).fromNow());
        	},
        	showAlias(alias){

        		alias = alias.replace("http://", "");

        		if(alias.length > 32){
        			var explodealias = alias.split("/");
        			return explodealias[0].substring(0,5)+'../'+explodealias[1]+'/'+explodealias[2];
        		}

        		return alias;
        		
        	},
        	editText(el){
        		$('.'+el+' .edit').show();
        		$('.'+el+' .show-item').hide();
        		
        		// var element = $('.'+el).attr('contentEditable',true);
        		// console.log($('.'+el+' .show').clone().appendTo('.'+el).hide());
        		// $('.'+el).append('<div contentEditable=true class="write" >'+$('.'+el+' .show').text()+'</div>');
        		

        		
        	},
        	saveText(el){
        		// this.listlink[this.activeitem][el] = $('.'+el).text();
        		$('.'+el+' .edit').hide();
        		$('.'+el+' .show-item').show();
        		

        		 // $('.'+el).attr('contentEditable',false);

        		 // $('.'+el+' div').remove();

        	}
        }
    }
</script>


<style>
	#appv2 .row{
	margin-top: 70px;
}

#appv2 .listview{
	height: calc(100vh - 70px);
	background-color: white;
	overflow: scroll;
	padding: 0;

}

#appv2 .listview .list-item{
	/*background-color: red;*/
	border-bottom: 1px solid #eee;
	padding : 10px 10px 10px 20px;
	display: flex;
	  justify-content: space-between;
	  cursor: pointer;
	/*padding: 0 20px;*/
}

#appv2 .listview .search-item{
	/*background-color: red;*/
	margin-left: 22px;
	margin-right: 10px;
	margin-bottom: 10px;

	/*display: flex;*/
	/*padding: 0 20px;*/
}
#appv2 .listview .search-item .menu-operate{
	/*background-color: red;*/
	display: flex;
	justify-content: flex-end;
	/*display: flex;*/
	/*padding: 0 20px;*/
}

#appv2 .listview .list-item .thumb{
	margin-left: 10px;
}
#appv2 .listview .list-item .list-content{
	margin-left: 10px;
	margin-right: auto;
}



#appv2 .listview .list-item .list-option{
	display: flex;
	flex-direction: column;
}

#appv2 .listview .list-item .list-option div{
	margin-left: auto;

}



#appv2 .contentview{
	height: calc(100vh - 70px);
	/*background-color: white;*/
	overflow: scroll;
}
/*@media only screen and (min-width: 1200px) {
    #appv2 .listview{
		
	}
}
*/

/*#appv2 .listview .list-item.active .thumb{
	color : orange;
}

#appv2 .listview .list-item:hover .thumb{ 
    color: orange;
}


#appv2 .listview .list-item.active strong{
	color : orange;
}

#appv2 .listview .list-item:hover strong{ 
    color: orange;
}*/

#appv2 .listview .list-item:hover{ 
    background-color: #eee;
    color : black;
}

#appv2 .listview .list-item.active{
	background-color: darkblue;
	color : white;
}

#appv2 .listview .list-item.active a.dropdown-toggle{
	/*background-color: darkblue;*/
	color : white;
}

.item-title{
	width: 150px;
	font-weight: bold;
}

.list-item-link-property{
	padding-bottom: 5px;
	padding-top : 5px;
	display: flex;
	border-bottom: 1px solid #eee;
	/*width: 400px;*/
}
@media (min-width: 768px) {
  .list-item-link-property {
    width: 500px;
  }

  .item-title{
	width: 200px;
}

.edit{
	width: 300px;
}
}

/*.ps-scrollbar-x-rail{
	display: hidden;
}*/

</style>