<template>

    <div class="form-group">
        <label class="control-label">Masukan Google Remarketing ID</label>

            <select v-if="googles.length>0" @change="fireEvent" v-model="value" class="form-control">
                 <option v-for="pixel in googles" :value="pixel.google_id">{{pixel.google_id}} - {{pixel.name}}</option>
               </select>
           <input  v-else type="text" v-on:keyup="fireEvent"  v-model="value" class="form-control error" >
        <span class="material-input"></span>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component ready.')
        }
        ,
         props: ['value','googles'],

         methods : {
            fireEvent(){
                this.$emit('input', this.value);
            }
         }

    }
</script>
