<template>
  <div>

      <!-- <legend>Switches</legend> -->

      <br>

      <div v-if="user.city_id">
          <p>produk ini dikirim dari {{userlocation}}</p>
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" v-model="showlocation"> Ganti Lokasi Produk
                                                </label>
                                            </div>
      </div>
      <strong v-else>lokasi pengiriman produk</strong>


      

		<div class="product-location-component" v-if="showlocation">

        
       <div class="form-group">
                                            <label class="control-label">Provinsi</label>
                                            <select @change="pilihKabupaten()" name="province_id" v-model="selectedprovince" id="" class="form-control">
                                                <option value="0" disabled>Pilih Provinsi</option>
                                                <option v-for="prov in listprovince" :value="prov.province_id">{{prov.province}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label  class="control-label">Kabupaten</label>
                                            <select @change="pilihKecamatan()" name="city_id" v-model="selectedcity" id="" class="form-control">
                                                <option value="0" disabled>Pilih Kabupaten</option>
                                                <option v-for="city in listcity" :value="city.city_id">{{city.city_name}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Kecamatan</label>
                                            <select  name="subdistrict_id" v-model="selectedkecamatan" id="" class="form-control">
                                                <option value="0" disabled>Pilih Kecamatan</option>
                                                <option v-for="kec in listkecamatan" :value="kec.subdistrict_id">{{kec.subdistrict_name}}</option>
                                            </select>
                                        </div>
                                        <!-- {{selectedkecamatan}} -->
        </div>
    </div>
</template>

<script>
	import Multiselect from 'vue-multiselect';
    export default {
    	components: {  Multiselect },
        props : ['user'],
        mounted() {

            if(this.user.city_id){
                this.showlocation = false;
            }

            this.$http.get('/v2/rajaongkir/province').then((response) => {
                  // success callback
                  // console.log(response);
                  this.listprovince = response.body;

                  if(this.user.city_id){

                
                this.selectedprovince = this.user.province_id;

                this.pilihKabupaten();
                this.selectedcity = this.user.city_id;
                this.pilihKecamatan();
                this.selectedkecamatan = this.user.subdistrict_id;

                this.userlocation = this.listprovince[this.user.province_id - 1].province;

                  
                    }
                  

                }, (response) => {
                  // error callback

                });

            

            

        },

        data(){
            return {
                listprovince : [],
                selectedprovince : 0,

                listcity : [],
                selectedcity : 0,

                listkecamatan : [],
                selectedkecamatan : 0,

                showlocation : true,
                userlocation : '',
            }
        },

        methods : {
            pilihKabupaten(){
                this.$http.get('/v2/rajaongkir/city?province_id='+this.selectedprovince).then((response) => {
                  // success callback
                  console.log(response);
                  this.listcity = response.body;

                

                }, (response) => {
                  // error callback

                });
            },
            pilihKecamatan(){
                this.$http.get('/v2/rajaongkir/subdistrict?city_id='+this.selectedcity).then((response) => {
                  // success callback
                  // console.log(response.body);
                  this.listkecamatan = response.body;
                  console.log(this.listkecamatan);

                

                }, (response) => {
                  // error callback

                });
            }
        }
    }
</script>

<style>
    .product-location-component .form-group{
        margin-top: 0;
    }
</style>