<template>
	<div >

		<v2-modal customclass='modal-lg' id="v2ModalNew">
			<div class="modal-header" style="height: 55px; max-height: 55px;">
              <span  style="position: absolute; top:18px; right:23px;">Checkout</span>

				<button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">
					<i class="fa fa-arrow-left">  </i>
				</button>
              
				<!-- <h4 class="modal-title">Modal title</h4> -->
			</div>
			<div class="modal-body" style="border-top: 1px solid #eee; margin-top: 0; padding-top: 0px !important;">

				                        <!-- <form action="/v2r/list-purchase" method="POST"></form> -->
				    
				      					
                                        <div id="tab-1" v-if="tabactive == 1">    
                                        <div class="row">
                                            <div class="col-md-3">  
                                           <div class="form-group"> 
                                            <label class="control-label">Pilih Kurir</label>
                                            <select name="  " id="" v-model="courier" class="form-control">
                                                <option :value="courier" v-for="courier in listcourier">{{courier}}</option>
                                            </select></div>
                                            </div>
                                            <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Pilih Provinsi</label>
                                                 <select @change="pilihKabupaten()" name="province_id" v-model="create_customer.province_id" id="" class="form-control">
                                                <option value="0" disabled>Pilih Provinsi</option>
                                                <option v-for="prov in listprovince" :value="prov.province_id">{{prov.province}}</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Pilih Kabupaten/Kota</label>
                                                <select @change="pilihKecamatan()" name="city_id" v-model="create_customer.city_id" id="" class="form-control">
                                                <option value="0" disabled>Pilih Kabupaten</option>
                                                <option v-for="city in listcity" :value="city.city_id">{{city.city_name}}</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Pilih Kecamatan</label>
                                                <select  name="subdistrict_id" v-model="create_customer.subdistrict_id" id="" class="form-control">
                                                <option value="0" disabled>Pilih Kecamatan</option>
                                                <option v-for="kec in listkecamatan" :value="kec.subdistrict_id">{{kec.subdistrict_name}}</option>
                                            </select>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="form-group">
                                                <label class="control-label">Pilih Produk</label>
                                                <multiselect @input="hitungBiaya()" v-model="purchasedproducts" :options="products" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" placeholder="Pilih Produk yang dibeli" label="title" track-by="title"></multiselect>
 
                                            </div>

                                            <!-- {{ongkir.costs}} -->
                                            <!-- <multiselect v-model="courier_package" deselect-label="Can't remove this value" track-by="service" label="service" placeholder="Select one" :options="ongkir.costs" :searchable="false" :allow-empty="false"></multiselect> -->
                                            <div class="row">            <div class="col-md-6">
                                            <div class="form-group" v-if="ongkir">    
                                             <label class="control-label">Pilih Paket Pengiriman</label>
                                            <select name="  " id="" v-model="courier_package" class="form-control">
                                                <option :value="paket.cost" v-for="paket in ongkir.costs">{{paket.service}}</option>
                                            </select>
                                            </div>
                                            </div>
                                             <div class="col-md-6">

                                            <div class="form-group" v-if="ongkir">    
                                             <label class="control-label">Pilih Metode Pembayaran</label>
                                            <select name="pay_with" id="" v-model="pay_with" class="form-control">
                                                <option value="bca">bca</option>
                                                <option value="mandiri">mandiri</option>
                                            </select>
                                            </div>
                                            </div></div>
                                              

                                            <div v-if="courier_package">   

                                               
                                            <div class="row" style="height: 28px">   
                                                <div class="col-xs-6">Total Harga Produk</div>
                                                <div class="col-xs-6">{{total}}</div>
                                            </div>

                                            <div class="row" style="height: 28px">   
                                            <div class="col-xs-6">Biaya Kirim</div>
                                            <div class="col-xs-6">{{courier_package[0].value}}</div>
                                            </div>

                                            <div class="row" style="height: 28px">   
                                            <div class="col-xs-6">Biaya Lain</div>
                                            <div class="col-xs-6"><input style="border: none; border-bottom:1px solid #d1d1d1" type="number" v-model="another_cost" class=""></div>
                                            </div>
                                            <div class="row" style="height: 28px">   
                                            <div class="col-xs-6">Diskon</div>
                                            <div class="col-xs-6"><input  style="border: none; border-bottom:1px solid #d1d1d1" v-model="discount" type="number" class=""></div>
                                            </div>
                                            <hr>    
                                            <div class="row">   
                                            <div class="col-xs-6"><strong>Total</strong></div>
                                            <div class="col-xs-6"><strong>Rp.{{sell_price}}</strong></div>
                                            </div>

                                            <div class="row">
                                                <button @click="changeTab(2)" class="pull-right btn btn-fill btn-primary">Next</button>
                                            </div>
                                            </div></div>

                                            <div id="tab-2" v-else>
                                            <br>    
                   <div class="row">
                                            <div class="col-md-6"><div class="form-group label-floating">
                                            <label class="control-label">Masukan No. HP</label>
                                            <input type="number" v-model="create_customer.phone" class="form-control">
                                        </div></div>
                                        <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Masukan Alamat Email</label>
                                            <input type="email" v-model="create_customer.email" class="form-control">
                                        </div></div>
                                        <div class="col-md-6"><div class="form-group label-floating">
                                            <label class="control-label">Line (optional)</label>
                                            <input type="text" v-model="create_customer.line" class="form-control">
                                        </div></div>
                                        <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">BBM (optional)</label>
                                            <input type="text" v-model="create_customer.bbm" class="form-control">
                                        </div></div>
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Nama</label>
                                            <input type="text" v-model="create_customer.name" class="form-control">
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Alamat</label>
                                            <textarea name="" id="" v-model="create_customer.address" cols="30" rows="3" class="form-control"></textarea>
                                        </div>
                                        <button @click="changeTab(1)" class="btn btn-fill">Back</button> 
                                        <button @click="submitData()" class="pull-right btn btn-fill btn-primary">Submit</button>                         
                                        </div>



                                            

                                        

                                        
                                        
                          
				
			</div>
		</v2-modal>
		<div class="row">
			<div class="col-md-4 listview">
				<div class="search-item">

					<input id="search" style="display: none; width: 100%" type="text" class="form-control" placeholder="Cari Link">
					<div class="menu-operate">
						<div class="dropdown">
							<a href="#" onclick="$('#search').toggle()" style="border: 1px solid black; color : black; padding: 1px 6px;" class="dropdown-toggle"  >
								Search <i class="fa fa-search"></i>
							</a>

						</div>
						<div class="dropdown">
							<a href="#" style="border: 1px solid black; color : black; padding: 1px 8px;" class="dropdown-toggle"  data-toggle="dropdown">
								Sorting <i class="fa fa-sort"></i> <span style="color: white; font-size: 1px">.</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
								<li>
									<a href="#action">Klik</a>
								</li>
								<li>
									<a href="#action">Tanggal</a>
								</li>
								<li>
									<a href="#action">Abjad</a>
								</li>
							</ul>
						</div>

					</div>

				</div>

				<div class="list-item" :class="{ 'active': index == activeitem }">
					<div class="thumb" @click="changeActive(index)">
						<i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i>
					</div>
					<div class="list-content" @click="changeActive(index)">
						<strong>Halo</strong><br>
						<!-- <span class="text-center"><i class="fa fa-bar-chart" aria-hidden="true"></i>62 klik</span> -->
						<span class="text-center"><i class="fa fa-bar-chart" aria-hidden="true"></i> 23 klik</span>
					</div>
					<div class="list-option">
						<div class="div">
							<div class="dropdown pull-right">
								<a href="#" style="padding-left:10px" class="dropdown-toggle"  data-toggle="dropdown">
									<i class="fa fa-ellipsis-v"></i> 
								</a>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
									<li>
										<a href="#action">View Analytics</a>
									</li>
									<li>
										<a href="#action">Edit</a>
									</li>
									<li>
										<a href="#action">Copy</a>
									</li>

									<li class="divider"></li>
									<li>
										<a href="#link">Delete</a>
									</li>
								</ul>
							</div>
						</div>
						<div style="position: absolute; right: 8px; margin-top: 22px;">
							<small>23</small>
							<!-- <div class="label label-warning">halo</div> -->

						</div>
					</div>
				</div>


			</div>
			<div class="col-md-8 contentview hidden-sm hidden-xs">
				<!-- <h3 class="title text-center">Page Subcategories</h3> -->
				<br />
				<div class="nav-center">
					<ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
                                    <!--
                        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                    -->
                    <li class="active">
                    	<a href="#description-1" role="tab" data-toggle="tab">
                    		<i class="material-icons">info</i> Link Detail
                    	</a>
                    </li>
                    <li>
                    	<a href="#schedule-1" role="tab" data-toggle="tab">
                    		<i class="material-icons">equalizer</i> Statistics
                    	</a>
                    </li><!-- 
                    <li>
                    	<a href="#tasks-1" role="tab" data-toggle="tab">
                    		<i class="material-icons">gavel</i> Legal Info
                    	</a>
                    </li>
                    <li>
                    	<a href="#tasks-2" role="tab" data-toggle="tab">
                    		<i class="material-icons">help_outline</i> Help Center
                    	</a>
                    </li> -->
                </ul>
            </div>
            <div class="tab-content">
            	<div class="tab-pane active" id="description-1">
            		<div class="card">
            			<div class="card-header">
            				<p class="category">
            					<!-- <span class="label label-warning">label</span> -->
            				</p>
            				<p><button class="btn btn-xs btn-primary"><i class="fa fa-copy"></i> copy</button> <button class="btn btn-xs btn-primary"><i class="fa fa-share"></i> share</button></p>
            			</div>
            			<div class="card-content">

            				

            			</div>
            		</div>
            	</div>
            	<div class="tab-pane" id="schedule-1">
            		<div class="card">
            			<div class="card-header">
            				<h4 class="card-title">Location of the product</h4>
            				<p class="category">
            					More information here
            				</p>
            			</div>
            			<div class="card-content">
            				Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
            				<br />
            				<br /> Dramatically maintain clicks-and-mortar solutions without functional solutions.
            			</div>
            		</div>
            	</div>
            	<!-- <div class="tab-pane" id="tasks-1">
            		<div class="card">
            			<div class="card-header">
            				<h4 class="card-title">Legal info of the product</h4>
            				<p class="category">
            					More information here
            				</p>
            			</div>
            			<div class="card-content">
            				Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
            				<br />
            				<br />Dynamically innovate resource-leveling customer service for state of the art customer service.
            			</div>
            		</div>
            	</div>
            	<div class="tab-pane" id="tasks-2">
            		<div class="card">
            			<div class="card-header">
            				<h4 class="card-title">Help center</h4>
            				<p class="category">
            					More information here
            				</p>
            			</div>
            			<div class="card-content">
            				From the seamless transition of glass and metal to the streamlined profile, every detail was carefully considered to enhance your experience. So while its display is larger, the phone feels just right.
            				<br />
            				<br /> Another Text. The first thing you notice when you hold the phone is how great it feels in your hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable, simplified design.
            			</div>
            		</div>
            	</div> -->
            </div>

        </div>
    </div>

</div>
</template>

<script>

 

	import v2Modal from './Modal.vue';

	import Multiselect from 'vue-multiselect';



	export default {

		props : ['all','products'],
		components: { v2Modal, Multiselect },
		data(){
			return {
				activeitem : 0,
                tabactive : 1,
                listprovince : [],
                listcity : [],
                listkecamatan : [],
				windowsize : {},
                purchasedproducts : [],
                total : 0,
                courier : 'jne',
                pay_with : 'bca',
                courier_package : '',
				create_customer : {
					email : '',
					phone : '',
					bbm : '',
					line : '',
					address : '',
					province_id : 0,
					city_id : 0,
					subdistrict_id : 0,
                    name: '',
				},
                
                listcourier : ['jne', 'pos', 'tiki', 'rpx', 'esl', 'pcp', 'pandu', 'wahana', 'sicepat', 'jnt', 'pahala', 'cahaya', 'sap', 'jet', 'indah', 'dse', 'slis', 'first', 'ncs', 'star'],
                ongkir : '',
                another_cost : 0,
                discount : 0,
			}
		},
        computed : {
            sell_price(){
                return this.total+Number(this.courier_package[0].value)+Number(this.another_cost)-this.discount;
            }
        },
		mounted() {
            // console.log('Component ready.')

            var ws = this.windowsize;

            $( window ).resize(function() {
            	ws.width = $( window ).width();

            	if(ws.width >= 768){
            		$('#contentview').modal('hide');
            	}

            });

             this.$http.get('/v2/rajaongkir/province').then((response) => {
                  // success callback
                  // console.log(response);
                  this.listprovince = response.body;

                  

                }, (response) => {
                  // error callback

                });





        },
        methods : {
        	changeActive(id){
        		this.activeitem = id;
        		console.log(this.activeitem);
        		if(this.windowsize.width < 768){
        			$('#contentview').modal();
        		}
        	},
        	showDate(date){
        		return (moment(date).fromNow());
        	},
                  pilihKabupaten(){
                this.$http.get('/v2/rajaongkir/city?province_id='+this.create_customer.province_id).then((response) => {
                  // success callback
                  console.log(response);
                  this.listcity = response.body;
                  this.create_customer.city_id = 0;

                

                }, (response) => {
                  // error callback

                });
            },
             pilihKecamatan(){
                this.$http.get('/v2/rajaongkir/subdistrict?city_id='+this.create_customer.city_id).then((response) => {
                  // success callback
                  // console.log(response.body);
                  this.listkecamatan = response.body;
                  this.create_customer.subdistrict_id = 0;
                  console.log(this.listkecamatan);

                

                }, (response) => {
                  // error callback

                });
            },
            hitungBiaya(){
                var total=0;

                var origin = 0;

                var weight = 0;

                for(var i=0;i<this.purchasedproducts.length; i++){
                    total+= this.purchasedproducts[i].price; 
                    if(origin == 0){
                        origin = this.purchasedproducts[i].city_id;

                    }else{
                        if(origin != this.purchasedproducts[i].city_id){
                            alert('produk yang dipilih berasal dari gudang yang berbeda');
                            this.purchasedproducts.pop();
                        }
                    }

                    weight += this.purchasedproducts[i].weight;

                }
                // console.log(total);
                this.total = total;

                 this.$http.post('/v2/rajaongkir/cost', {origin : origin, subdistrict_id : this.create_customer.subdistrict_id, weight : weight, courier : this.courier}).then((response) => {
                  // success callback
                  console.log(response.body);
                  this.ongkir = _.cloneDeep(response.body);
                  this.courier_package = this.ongkir.costs[0].cost;
                  // console.log()

                

                }, (response) => {
                  // error callback

                });

            },
            changeTab(id){
                this.tabactive = id;
            },
            submitData(){
                this.$http.post('/v2r/list-purchase', {customer : this.create_customer}).then((response) => {
                  // success callback
                  console.log(response.body);
                 
                

                }, (response) => {
                  // error callback

                });
            }


        }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>


.multiselect__tags{
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #D2D2D2;
}

 .multiselect__option--highlight {
  background: orange;
  outline: none;
  color: white;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: orange;
  color: white;
}


.multiselect__tag{
	background-color: darkblue;
}

.multiselect__tag-icon:after {
  content: "×";
  color: white;
  font-size: 14px;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: darkblue;
}

</style>