<template>
    <div>

        <div class="card">
            <div class="card-header">
              <!--   <h4 class="card-title">{{selectedLink.tipelink}} -
                {{selectedLink.nomor}}
            </h4> -->
            <h3 class="title text-center"><i class="fa fa-bar-chart"></i> Link Details</h3>
            <br>

            <h4>{{selectedLink.nomor}}</h4>

            <pre class="message-placeholder" v-show="selectedLink.isisms.length > 0">{{decodeURI(selectedLink.isisms)}}</pre>

            <span>{{selectedLink.alias}}</span>
            <span><a href="" class="btn btn-primary btn-xs">Copy</a></span> <span><a href="" class="btn btn-primary btn-xs">Share</a></span>
            <br>
            <span>Tags</span>
            <br> 


            <!-- {{selectedLink.tags}} -->
            <!-- <input type="text" v-model="selectedLink.tags" class="tagsinput" data-role="tagsinput" data-color="rose" /> -->
            <!-- You can change data-color="rose" with one of our colors primary | warning | info | danger | success -->
            <!-- {{selectedLink}} -->

            <!-- <inputtag placeholder="tambahkan"  :tags="tagsArray"></inputtag> -->
          <!--     <div @click="focusNewTag()" v-bind:class="{'read-only': readOnly}" class="vue-input-tag-wrapper">
    <span v-for="(tag, index) in tags" class="input-tag">
      <span>{{ tag }}</span>
      <a v-if="!readOnly" @click.prevent.stop="remove(index)" class="remove"></a>
    </span>
    <input v-if="!readOnly" v-bind:placeholder="placeholder" type="text" v-model="newTag" class="new-tag"/>
  </div>
 -->
        <span v-for="(t, index) in tagsArray" class="label label-warning" style="margin-right: 2px"><small @click="callbackMethod(t)">{{t}}</small> <small id="delete-label" @click="hovered(index)">X</small></span> <input @keyup.enter="submit" v-model="tagsinput" class="tags-input" type="text" >
        <hr>
        <!-- {{tagsArray}} -->


        </div>
        <div class="">
            <div class="container" ><ul  class="nav  nav-pills nav-pills-warning">
                <li class="active">
                    <a href="#pill1" data-toggle="tab">STATISTIK </a>
                </li>
                <li>
                    <a href="#pill2" data-toggle="tab">PENGATURAN</a>
                </li>
            </ul></div>
            <div class="tab-content">
                <div class="tab-pane active" id="pill1">

                 <div class="col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">people</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Unik Klik</p>
                            <h3 class="card-title">{{klikCounter.unik}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">equalizer</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Seluruh Klik</p>
                            <h3 class="card-title">{{klikCounter.klik}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                   <div class="card">
                                <div class="card-header card-header-icon" data-background-color="orange">
                                    <i class="material-icons">insert_chart</i>
                                </div>
<div class="pull-right" style="margin-right : 10px">
                                    <!-- <button class="btn btn-xs btn-primary btn-round">Harian</button>
                                    <button class="btn btn-xs btn-primary btn-round">Mingguan</button>
                                    <button class="btn btn-xs btn-primary btn-round">Bulanan</button>
                                    <button class="btn btn-xs btn-primary btn-round">Tahunan</button> -->
                                    <select class="selectpicker" data-style="btn btn-primary  " title="Single Select" data-size="10">
                                                        <option selected>Today</option>
                                                        <option >LastWeek</option>
                                                        <option >LastMonth</option>
                                                        <option >LastYear</option>
                                                    </select>

                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Klik Chart
                                    </h4>

                                </div>
                                
                                <div id="multipleBarsChart" class="ct-chart"></div>
                                <div class="card-footer">
                            <h6>Legend</h6>
                            <i class="fa fa-circle text-info"></i> All Clicks
                            <i class="fa fa-circle text-danger"></i> Unique Clicks
                        </div>
                            </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="orange">
                            <i class="material-icons">pie_chart</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Pie Chart</h4>
                        </div>
                        <div id="browser" class="ct-chart"></div>
                        <div class="card-footer">
                            <h6>Legend</h6>
                            <i class="fa fa-circle text-info"></i> Apple
                            <i class="fa fa-circle text-warning"></i> Samsung
                            <i class="fa fa-circle text-danger"></i> Windows Phone
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="orange">
                            <i class="material-icons">pie_chart</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Pie Chart</h4>
                        </div>
                        <div id="platform" class="ct-chart"></div>
                        <div class="card-footer">
                            <h6>Legend</h6>
                            <i class="fa fa-circle text-info"></i> Apple
                            <i class="fa fa-circle text-warning"></i> Samsung
                            <i class="fa fa-circle text-danger"></i> Windows Phone
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="pill2">
                <div class="container">
                    halo
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</template>

<script>

    export default {
        mounted() {

            // var tempBlock = '';



          this.$http.get('/orderlink/hit/unik/counter/'+this.selectedLink.id).then((response) => {
              // success callback

              this.klikCounter.unik = response.body;
          }, (response) => {
              // error callback

          });

          this.$http.get('/orderlink/hit/counter/'+this.selectedLink.id).then((response) => {
              // success callback

              this.klikCounter.klik = response.body;
          }, (response) => {
              // error callback

          });

        
      },
      props : ['selectedLink','klikCounter'],
      watch : {
        selectedLink(){
            if(this.selectedLink.tags == null)
            this.tagsArray = [];
            else
               this.tagsArray = this.selectedLink.tags.split(','); 
            // if(this.selectedLink.tags)
            // this.tagsArray = this.selectedLink.tags.split(',');
            // else
            //     console.log('ksosng');
        }
      },
      methods : {
        callbackMethod(t){
            alert(t)
        },

        hovered(index){
            // alert('mantap')
            this.tagsArray.splice(index,1);

        },
        submit(){
            // alert(this.tagsinput);

            this.tagsArray.push(this.tagsinput);

            this.tagsinput = '';
        }
      },
      data(){
        return {
            klikCounter : {
                klik : 0,
                unik : 0
            },
            tagsArray : this.selectedLink.tags.split(','),
            tagsinput : '',
              klikChart : [],

        }
    }
}
</script>


<style>
    pre.message-placeholder{
        background-color: rgba(255, 152, 0, 0.23);
        border: none;

    }

    .tags-input{
        border: none;
        background-color: none;
    }

    small{
        cursor: pointer;
    }

</style>