<template>
  <div>
  <!-- <input-tag></input-tag> -->
  <!-- <inputag></inputag> -->
    <div class="col-lg-5">

<!--    <ul class="timeline timeline-simple">
    
    <li v-for="(one, index) in allLink" class="timeline-inverted">
     <div class="timeline-badge success ">
      <i class="fa fa-whatsapp"></i>
    </div>
    <div class="timeline-panel">

      <div class="timeline-body">
       <div class="dropdown pull-right">
        <a href="#" style="padding-left:10px" class="dropdown-toggle"  data-toggle="dropdown">
         <i class="fa fa-ellipsis-v"></i> 
       </a>
       <ul class="dropdown-menu dropdown-menu-right" role="menu">
         <li>
          <a href="#action">View Analytics</a>
        </li>
        <li>
          <a href="#action">Edit</a>
        </li>
        <li>
          <a href="#action">Copy</a>
        </li>

        <li class="divider"></li>
        <li>
          <a href="#link">Delete</a>
        </li>
      </ul>
    </div>
    <h4><a class="text-black" @click="showAnalitycs(index)" href="#">{{one.nomor}}</a></h4>


    <a href="" class="text-orange small-text">{{one.alias}}</a> <a href="" class="text-orange hidden-sm hidden-xs"> <i class="fa fa-copy"></i></a><br>	
    <span class="text-muted small">1 minute ago</span><span class="pull-right"><a href="#" @click="showAnalitycs(index)"  class="text-orange"><i class="fa fa-bar-chart"></i> {{one.hit}} klik</a></span><br>    

  </div>

</div>
</li>

</ul> -->
<!-- <div class="card">
                <div class="card-header card-header-tabs" data-background-color="blue">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <div class="form-group label-floating is-empty">
                                            <label class="control-label" style="color: white">Pencarian....</label>
                                            <input type="text" class="form-control"></div>
                        </div>
                    </div>
                </div>
                <div class="card-content">


                    
                    <table  class="table">
                        <tbody>
                            <tr v-for="(one, index) in allLink" id="orderlink-list" >
                                <td width="40">
                                         <div class="orderlink-badge">
      <i class="fa fa-whatsapp"></i>
    </div>
                                </td>
                                <td><strong ><a class="text-primary"  @click="showAnalitycs(index, $event)"  href="#" >{{one.nomor}}</a></strong><br>
                                    <small>http://ceksini.info</small><br>
                                    <small>dibuat 1 hari yang lalu</small></td>
                                    <td class="td-actions text-right">

                                      <div class="dropdown pull-right">
                                        <a href="#" style="padding-left:10px" class="dropdown-toggle"  data-toggle="dropdown">
                                           <i class="fa fa-ellipsis-v"></i> 
                                       </a>
                                       <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                           <li>
                                              <a href="#action">View Analytics</a>
                                          </li>
                                          <li>
                                              <a href="#action">Edit</a>
                                          </li>
                                          <li>
                                              <a href="#action">Copy</a>
                                          </li>

                                          <li class="divider"></li>
                                          <li>
                                              <a href="#link">Delete</a>
                                          </li>
                                      </ul>
                                  </div><br>  <br>
                                  <small class="pull-right"> <i class="fa fa-bar-chart"></i>  100 klik</small><br>
                                 
                              </td>
                          </tr>
                          
                  
              </tbody>
          </table>
          
      </div>
    </div> -->
    <div class="card">
      <div class="card-header card-header-tabs" data-background-color="" id="orderlink-header">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <div class="form-group label-floating is-empty">
              <label class="control-label" style="color: white">Pencarian....</label>
              <input style="color : white" type="text" class="form-control"></div>
            </div>
          </div>
        </div>
        <div class="card-content">


          <div id="orderlink-list" v-for="(one, index) in allLink"   >
            <div class="orderlink-badge"  @click="showAnalitycs(index, $event)">
              <i class="fa" :class="getIcon(one.tipelink)"></i>
            </div>
            <div class="orderlink-content"  @click="showAnalitycs(index, $event)">
            <strong >{{one.nomor}}</strong><br>
              <small>{{one.alias}}</small><br>
              <small>{{one.created_at}}</small>
            </div>
            <div class="orderlink-info">
              <div class="dropdown pull-right">
                <a href="#" style="padding-left:10px" class="dropdown-toggle"  data-toggle="dropdown">
                 <i class="fa fa-ellipsis-v"></i> 
               </a>
               <ul class="dropdown-menu dropdown-menu-right" role="menu">
                 <li>
                  <a href="#action">View Analytics</a>
                </li>
                <li>
                  <a href="#action">Edit</a>
                </li>
                <li>
                  <a href="#action">Copy</a>
                </li>

                <li class="divider"></li>
                <li>
                  <a href="#link">Delete</a>
                </li>
              </ul>
            </div>
            <br>
            <br>
            <small > <i class="fa fa-bar-chart"></i>  {{one.hit}} klik</small>
          </div>
        </div>



      </div>
    </div>
  </div>
  <div style="margin-top : 5px" class="col-md-7 visible-lg">


    <div id="stat-side">
   <statistik  :klikCounter="klikCounter"  :selectedLink="selectedLink" ></statistik>
  </div>

 </div>


 <div class="modal fade" id="showStat" tabindex="-1" role="dialog" aria-labelledby="showStatTitle" style="padding-left: 0 !important;" aria-hidden="true">
   <div class="modal-dialog" role="document">
    <div class="modal-content ">


     <div class="modal-header">
      <a href="#" class="pull-right text-muted" data-dismiss="modal"><i class="fa fa-close"></i></a>



    </div>
    <div id="stat-modal">
    <statistik  :klikCounter="klikCounter"  :selectedLink="selectedLink" ></statistik>
    </div>

  </div>
</div>
</div>

<div class="modal fade" id="create-new" tabindex="-1" role="dialog" style="padding-left: 0 !important;" aria-hidden="true">
 <div class="modal-dialog"  role="document">
  <div class="modal-content ">

    <div class="modal-body">
      <!--      Wizard container        -->
      <a href="#" class="pull-right text-muted" data-dismiss="modal"><i class="fa fa-close"></i></a>
      <div class="wizard-container">
        <div class="card wizard-card" data-color="orange" id="wizardProfile">
          <form action="" method="">
            <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
            <div class="wizard-header">
              <h3 class="wizard-title">
                Ayo Bikin Orderlinkmu Sekarang!
              </h3>
              <h5>Isilah Form di Bawah ini.</h5>
            </div>

            <ul  class="nav nav-pills nav-pills-warning" style="background-color:white; display:flex;justify-content:center" id="create_tab" role="tablist">
              <li class="nav-item active">
                <a class="nav-link" id="navtab1"  data-toggle="tab" href="#tipelink" role="tab" aria-controls="tipelink">Pilih Tipelink</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navtab2"  data-toggle="tab" href="#nomor" role="tab" aria-controls="nomor">Input Nomor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navtab3"  data-toggle="tab" href="#pixel" role="tab" aria-controls="pixel">Pixel Retargeting</a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="tipelink" role="tabpanel">
               <div class="form-group ">
                <label class="control-label">Pilih Tipelink</label>
                <select v-model="form.tipelink" class="form-control">
                 <option v-for="t in tipelink">{{t.tipe}}</option>
               </select>
               <span class="material-input"></span></div>
             </div>
             <div class="tab-pane" id="nomor" role="tabpanel">

              <div id="nomor" class="form-group" :class="[form.nomor.length < 9 ? 'has-error' : 'has-success']">
                <label class="control-label">{{selectedTipelink[0].label}} <i class="fa" :class="[form.nomor.length < 9 ? 'fa-close' : 'fa-check']"></i></label>
                <input type="text" v-on:keyup="checkNomor(value)"  v-model="form.nomor" class="form-control" :placeholder="selectedTipelink[0].example">
                <span class="material-input"></span>
              </div>

              <div class="form-group"  v-show="form.tipelink == 'SMS' || form.tipelink == 'WA'" >
                <label class="control-label">Isi Pesan yang dikirim Customer (optional)</label>
                <textarea name="" id="" cols="30" rows="3" v-model="form.isisms" class="form-control" placeholder="cth : untuk order hijab, silakan isi form ini (nama), (alamat)"></textarea>
                <span class="material-input"></span>
              </div>

              <div class="form-group ">
                <label class="control-label">Pilih Domain</label>
                <select v-model="domain" class="form-control">
                 <option v-for="domain in domains">{{domain.domain}}</option>
               </select>
               <span class="material-input"></span></div>

               <div class="form-group" :class="[domainExist ? 'has-error' : 'has-success']">
                <label class="control-label">Bikin URLmu <i class="fa"  :class="[domainExist? 'fa-close' : 'fa-check']"></i></label>
                <input type="text" v-on:keyup="checkURI"  v-model="form.alias" class="form-control error" >
                <span class="material-input"></span>
              </div>



              <div class="form-group">
                <label class="control-label">Pengalihan Traffic Komputer Desktop (optional) </label>
                <input type="text"  v-model="form.desktop_url" class="form-control" placeholder="harus gunakan http | cth : http://orderlink.in">
                <span class="material-input"></span>
              </div>
            </div>


            <div class="tab-pane" id="pixel" role="tabpanel">
              <pixel v-model="form.pixel" :pixels="pixels" ></pixel>

              <google v-model="form.google" :googles="googles" ></google>

              {{form}}
            </div>
          </div>


          <div class="wizard-footer">
            <div class="pull-right">
              <input type='button' @click="next()" id="next"  class='btn btn-next btn-fill btn-warning btn-wd' name='next' value='Next' />
              <input type='button' @click="submitNew()" id="finish"  class='btn btn-next btn-fill btn-warning btn-wd' name='finish' value='Finish' />

            </div>
            <div class="pull-left">
              <input type='button' @click="prev()" class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
    <!-- wizard container -->
  </div>

</div>
</div>
</div>
</div>
</template>

<script>
	export default {
		mounted() {
			console.log('Component ready.');
      // console.log($( window ).width());
      if($( window ).width() < 1200){
         $('#stat-side').remove();
      }else{
        $('#stat-modal').remove();
      }


      $('#finish').hide();


      $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
       if ($(this).attr('href') == '#pixel'){
        $('#next').hide();
        $('#finish').show();
      }else{
        $('#finish').hide();
        $('#next').show();
      }


    });

console.log('ayam');

this.getKlikChart(this.allLink[0]);

        







      

    },
    props :['all','domains','pixels','googles']
    ,
    watch : {
      domain(){
        this.generateAlias();
      },
    },
    data(){
      return {

        form : 
        {
          tipelink : 'WA',
          isisms : '',
          alias : '',
          nomor : '',
          desktop_url : '',
          pixel : this.pixels[0].pixel_id,
          google : this.googles[0].google_id

        },

      
        freshform : 
        {
          tipelink : 'WA',
          isisms : '',
          alias : '',
          nomor : '',
          desktop_url : '',
          pixel : this.pixels[0].pixel_id,
          google : this.googles[0].google_id

        },

        
        allLink : this.all,

        selectedLink : this.all[0],
        selectedBeforeDom : '',

        klikCounter : {
          klik : 0,
          unik : 0
        },



        domain : this.domains[0].domain,
        domainExist : true,





        

        tipelink : [
        {tipe:'SMS', shorter: 's', label: 'masukan no.hp', example: 'cth : 6287815579530'},
        {tipe:'BBM', shorter: 'b', label: 'masukan pin bbm', example: 'cth : F34DFDF'},
        {tipe:'Telpon', shorter: 'w', label: 'masukan no.hp', example: 'cth : 6287815579530'},
        {tipe:'WA', shorter: 'wa', label: 'masukan no.hp', example: 'cth : 6287815579530'},
        {tipe:'Telegram', shorter: 't', label: 'masukan alamat telegram', example: 'cth : http://t.me/maulana'},
        {tipe:'Line', shorter: 'l', label: 'masukan id', example: 'cth : orderlink'},
        {tipe:'Email', shorter: 'e', label: 'masukan email', example: 'cth : contact@orderlink.in'},

        ],
      }
    },
    computed: {
      selectedTipelink: function () {
        var active = this.form.tipelink;
        return this.tipelink.filter(function (item) {
          return item.tipe == active;
        });
      }
    },
    methods : {

      getIcon(id){
        if(id == 'WA')
          return 'fa-whatsapp';
        else 
          return 'fa-commenting-o';
      },
     checkURI(){
      if(this.form.alias.length < (this.domain.length+10)){
        this.form.alias = 'http://'+this.domain+'/'+this.selectedTipelink[0].shorter+'/';
      }else{
        this.checkURIPost();
      }
    },
    checkURIPost: _.debounce(function () {

     var alias = this.form.alias;
     this.$http.get('/api/orderlink/uri/check/?uri='+alias).then((response) => {
                  // success callback

                  if(response.body == 'true'){
                    this.domainExist = true;
                  }else{
                    this.domainExist = false;
                  }
                }, (response) => {
                  // error callback

                });

   }, 500),
    showAnalitycs(id, event) {

      $(this.selectedBeforeDom).removeClass('orderlink-active');

      var listdom = ($(event.target).closest( "div#orderlink-list" ).addClass('orderlink-active'));

      this.selectedBeforeDom = listdom;

      this.selectedLink = this.allLink[id];


       this.$http.get('/orderlink/hit/unik/counter/'+this.allLink[id].id).then((response) => {
              // success callback

              this.klikCounter.unik = response.body;
            }, (response) => {
              // error callback

            });

       this.$http.get('/orderlink/hit/counter/'+this.allLink[id].id).then((response) => {
              // success callback

              this.klikCounter.klik = response.body;
            }, (response) => {
              // error callback

            });

       this.getKlikChart(this.selectedLink);




        // console.log(listdom);

        // this.selectedBeforeDom = listdom;




        



        if($( window ).width() < 1200){
         $('#showStat').modal();  
       }


     },next(){



      var tab = ($('#create_tab .nav-item.active').next().children().tab('show'));

      if(tab.attr('href') == '#nomor'){
        this.form.nomor = (this.form.tipelink == 'WA') ? '628' : '';
        this.generateAlias();
      }

      if(tab.attr('href') == '#pixel'){
        if(this.domainExist){
          this.prev();
        // alert('link ada sudah dipakai orang lain');

        //   $.notify({
        //   icon: "notifications",
        //   message: "Welcome to <b>Material Dashboard</b> - a beautiful freebie for every web developer."

        // },{
        //     type: 'danger',
        //     timer: 3000,
        //     placement: {
        //         from: 'top',
        //         align: 'right'
        //     }
        // });

        swal({title: 'Oopp...',
          text : 'Link sudah dipakai!',
          type : 'error',
          timer : 1500});

      }
    }

  },

  getKlikChart(link){
    this.$http.get('/orderlink/hit/'+link.id+'/?scope=lastyear').then((response) => {
              // success callback

              this.klikChart = response.body;
              // console.log(this.klikChart);

                     var dataMultipleBarsChart = {
          labels: _.keys(this.klikChart.hit),
          series: [
            _.values(this.klikChart.hit),
            _.values(this.klikChart.unik)
          ]
        };

        var optionsMultipleBarsChart = {
            seriesBarDistance: 10,
            axisX: {
                showGrid: false
            },
            height: '300px'
        };

        var responsiveOptionsMultipleBarsChart = [
          ['screen and (max-width: 640px)', {
            seriesBarDistance: 5,
            axisX: {
              labelInterpolationFnc: function (value) {
                return value[0];
              }
            }
          }]
        ];

        var multipleBarsChart = Chartist.Bar('#multipleBarsChart', dataMultipleBarsChart, optionsMultipleBarsChart, responsiveOptionsMultipleBarsChart);

        //start animation for the Emails Subscription Chart
        md.startAnimationForBarChart(multipleBarsChart);


            }, (response) => {
              // error callback

            });


        //       var dataPreferences = {
        //     labels: ['62%','32%','6%'],
        //     series: [62, 32, 6]
        // };

        // var optionsPreferences = {
        //     height: '230px'
        // };

        // Chartist.Pie('#browser', dataPreferences, optionsPreferences);

        //              var dataPreferences = {
        //     labels: ['62%','32%','6%'],
        //     series: [62, 32, 6]
        // };

        // var optionsPreferences = {
        //     height: '230px'
        // };

        // Chartist.Pie('#platform', dataPreferences, optionsPreferences);

  },

  submitNew(){
    // alert('halo');
    this.$http.post('/v2/orderlink', this.form).then((response) => {
                  // success callback



                  this.allLink.unshift(response.body);

                  this.form = this.freshform;

                  $('#create-new').modal('hide');

                  this.selectedLink = response.body;

                  $(this.selectedBeforeDom).removeClass('orderlink-active');

                  $('#orderlink-list').addClass('orderlink-active');

                  ($('#navtab1').tab('show'));

                  swal({
                    title: "Good job!",
                    text: "Anda sudah membuat Orderlink baru!",
                    buttonsStyling: false,
                    timer: 1500,
                    confirmButtonClass: "btn btn-success",
                    type: "success"
                  });





                }, (response) => {
                  // error callback

                });
  },

  generateAlias(){
    this.form.alias = 'http://'+this.domain+'/'+this.selectedTipelink[0].shorter+'/gantiurlmu';
  }

  ,prev(){
    ($('#create_tab .nav-item.active').prev().children().tab('show'));


  },

}
}
</script>

<style>
	
	

	@media screen and (max-width: 1200px) {
		#create-new > .modal-dialog{
			width: 100%; height: 100%;margin: 0;border-radius: 0;border: 0;
		}
		#showStat > .modal-dialog{
			width: 100%; height: 100%;margin: 0;border-radius: 0;border: 0;
		}
	}

  #create_tab > li.active > a{
    color : white !important;
  }

  #button-trigger-new{

    position: fixed !important;
    bottom : 5%;
    right: 5%;
    overflow-y: auto;
  }

  .text-black{
    color : black;
  }

  .text-orange{
    color : orange;
  }

  a.text-orange:hover {
    background-color: yellow;
  }
  .orderlink-badge{
    /*background-color: green;*/
    width: 50px;
    height: 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 100%;
    cursor: pointer;
  }

  .orderlink-active{
    background-color: orange;
    color : white;
  }

  .orderlink-badge > .fa-whatsapp{
    color : #075e54;
  }

  .orderlink-badge > .fa-commenting-o {
    color : #a4c639;
  }

  .orderlink-active  .fa{
    color : white !important;
  }

  #orderlink-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid  rgba(144, 137, 137, 0.5);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 3px;
  }

  .orderlink-content{
    margin-right: auto;
    cursor: pointer;
    margin-left: 4px;
  }

  .orderlink-info{
    padding-right: 10px;
  }

  #orderlink-header{
    background-color: darkblue;
  }






</style>