

<template>
  <div class="box">
    <div class="box-header b-b">
      <h3>Cloak Links</h3>
    </div>

    <div>
      <div class="row-col p-b">

        <div class="col-sm-12">

          <div class="p-a">
           <div class="box-body">
			     <div class="form-group">
             Cloak Link
               <label data-toggle="tooltip" title="Link Cloak" style="position: relative; top:5px;"  class="ui-switch info m-r m-t m-l">
                <input @click="changeCloak()"  type="checkbox" :checked="campaign.cloak_link">
                <i></i>
              </label>   
           </div>
           <div v-show="campaign.cloak_link">
           <div class="form-group" >
             <label for="">Authority URL</label>
             <input type="text" name="" class="form-control" v-model="authority_url" placeholder="ex : http://kompas.com">
           </div>

              <div >
            <label class="typo__label">Allowed Country</label>
            <multiselect v-model="value" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" placeholder="Pilih Negara" label="negara" track-by="negara"></multiselect>

          </div>

          <div class="form-group p-t" >
             <label for="">Pilih domain</label>
             <select name="" id="" class="form-control" v-model="domain">
               <option :value="domain.domain" v-for="domain in domains">
                 {{domain.domain}}
               </option>
             </select>
           </div>

          <div class="form-group" >
             <label for="">Alias</label>
             <input type="text" name="" class="form-control" readonly v-model="doAlias" >
           </div>
  
          

          <div class="form-group m-t" v-show="savebutton">
            <button @click="submit" class="btn info">Simpan Perubahan</button>
          </div>
          
          <div v-show="showAlias">
            <h5>new alias : {{campaign.alias}}</h5>
          </div>
          </div>




           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
  export default {

  	props: ['getcampaign','domains'],

    components: {
      Multiselect
    },
    mounted(){
      console.log(this.getcampaign);
      this.authority_url = this.getcampaign.cloak_redirect;

      var allowed_country = this.getcampaign.allowed_country;

      this.doAlias = this.getcampaign.alias;

      console.log(allowed_country);
      this.value = this.options.filter(function(item){
                if(_.includes(allowed_country, item.id) ){
                    return item;
                }
            })
    },
    watch :{
      value(){
        this.savebutton = true;
      },
      authority_url(){
        this.savebutton = true;
      },
      domain(){
        this.changeUrl();
      }



    },
    computed : {
      stringCountry(){
        var step1 = _.map(this.value, 'id');

        return _.toString(step1);
      },
    },
    data () {
      return {
        savebutton : false,
        showAlias : false,
        authority_url : '',
        doAlias : '',
        campaign : this.getcampaign,
        domain : this.domains[0].domain,
        value: [
        ],
          options: [
          { id: "AD", negara: "Andorra" },
          { id: "AE", negara: "United Arab Emirates" },
          { id: "AF", negara: "Afghanistan" },
          { id: "AG", negara: "Antigua and Barbuda" },
          { id: "AI", negara: "Anguilla" },
          { id: "AL", negara: "Albania" },
          { id: "AM", negara: "Armenia" },
          { id: "AO", negara: "Angola" },
          { id: "AP", negara: "Asia/Pacific Region" },
          { id: "AQ", negara: "Antarctica" },
          { id: "AR", negara: "Argentina" },
          { id: "AS", negara: "American Samoa" },
          { id: "AT", negara: "Austria" },
          { id: "AU", negara: "Australia" },
          { id: "AW", negara: "Aruba" },
          { id: "AX", negara: "Aland Islands" },
          { id: "AZ", negara: "Azerbaijan" },
          { id: "BA", negara: "Bosnia and Herzegovina" },
          { id: "BB", negara: "Barbados" },
          { id: "BD", negara: "Bangladesh" },
          { id: "BE", negara: "Belgium" },
          { id: "BF", negara: "Burkina Faso" },
          { id: "BG", negara: "Bulgaria" },
          { id: "BH", negara: "Bahrain" },
          { id: "BI", negara: "Burundi" },
          { id: "BJ", negara: "Benin" },
          { id: "BL", negara: "Saint Bartelemey" },
          { id: "BM", negara: "Bermuda" },
          { id: "BN", negara: "Brunei Darussalam" },
          { id: "BO", negara: "Bolivia" },
          { id: "BQ", negara: "Bonaire, Saint Eustatius and Saba" },
          { id: "BR", negara: "Brazil" },
          { id: "BS", negara: "Bahamas" },
          { id: "BT", negara: "Bhutan" },
          { id: "BV", negara: "Bouvet Island" },
          { id: "BW", negara: "Botswana" },
          { id: "BY", negara: "Belarus" },
          { id: "BZ", negara: "Belize" },
          { id: "CA", negara: "Canada" },
          { id: "CC", negara: "Cocos (Keeling) Islands" },
          { id: "CD", negara: "Congo, The Democratic Republic of the" },
          { id: "CF", negara: "Central African Republic" },
          { id: "CG", negara: "Congo" },
          { id: "CH", negara: "Switzerland" },
          { id: "CI", negara: "Cote d'Ivoire" },
          { id: "CK", negara: "Cook Islands" },
          { id: "CL", negara: "Chile" },
          { id: "CM", negara: "Cameroon" },
          { id: "CN", negara: "China" },
          { id: "CO", negara: "Colombia" },
          { id: "CR", negara: "Costa Rica" },
          { id: "CU", negara: "Cuba" },
          { id: "CV", negara: "Cape Verde" },
          { id: "CW", negara: "Curacao" },
          { id: "CX", negara: "Christmas Island" },
          { id: "CY", negara: "Cyprus" },
          { id: "CZ", negara: "Czech Republic" },
          { id: "DE", negara: "Germany" },
          { id: "DJ", negara: "Djibouti" },
          { id: "DK", negara: "Denmark" },
          { id: "DM", negara: "Dominica" },
          { id: "DO", negara: "Dominican Republic" },
          { id: "DZ", negara: "Algeria" },
          { id: "EC", negara: "Ecuador" },
          { id: "EE", negara: "Estonia" },
          { id: "EG", negara: "Egypt" },
          { id: "EH", negara: "Western Sahara" },
          { id: "ER", negara: "Eritrea" },
          { id: "ES", negara: "Spain" },
          { id: "ET", negara: "Ethiopia" },
          { id: "EU", negara: "Europe" },
          { id: "FI", negara: "Finland" },
          { id: "FJ", negara: "Fiji" },
          { id: "FK", negara: "Falkland Islands (Malvinas)" },
          { id: "FM", negara: "Micronesia, Federated States of" },
          { id: "FO", negara: "Faroe Islands" },
          { id: "FR", negara: "France" },
          { id: "GA", negara: "Gabon" },
          { id: "GB", negara: "United Kingdom" },
          { id: "GD", negara: "Grenada" },
          { id: "GE", negara: "Georgia" },
          { id: "GF", negara: "French Guiana" },
          { id: "GG", negara: "Guernsey" },
          { id: "GH", negara: "Ghana" },
          { id: "GI", negara: "Gibraltar" },
          { id: "GL", negara: "Greenland" },
          { id: "GM", negara: "Gambia" },
          { id: "GN", negara: "Guinea" },
          { id: "GP", negara: "Guadeloupe" },
          { id: "GQ", negara: "Equatorial Guinea" },
          { id: "GR", negara: "Greece" },
          { id: "GS", negara: "South Georgia and the South Sandwich Islands" },
          { id: "GT", negara: "Guatemala" },
          { id: "GU", negara: "Guam" },
          { id: "GW", negara: "Guinea-Bissau" },
          { id: "GY", negara: "Guyana" },
          { id: "HK", negara: "Hong Kong" },
          { id: "HM", negara: "Heard Island and McDonald Islands" },
          { id: "HN", negara: "Honduras" },
          { id: "HR", negara: "Croatia" },
          { id: "HT", negara: "Haiti" },
          { id: "HU", negara: "Hungary" },
          { id: "ID", negara: "Indonesia" },
          { id: "IE", negara: "Ireland" },
          { id: "IL", negara: "Israel" },
          { id: "IM", negara: "Isle of Man" },
          { id: "IN", negara: "India" },
          { id: "IO", negara: "British Indian Ocean Territory" },
          { id: "IQ", negara: "Iraq" },
          { id: "IR", negara: "Iran, Islamic Republic of" },
          { id: "IS", negara: "Iceland" },
          { id: "IT", negara: "Italy" },
          { id: "JE", negara: "Jersey" },
          { id: "JM", negara: "Jamaica" },
          { id: "JO", negara: "Jordan" },
          { id: "JP", negara: "Japan" },
          { id: "KE", negara: "Kenya" },
          { id: "KG", negara: "Kyrgyzstan" },
          { id: "KH", negara: "Cambodia" },
          { id: "KI", negara: "Kiribati" },
          { id: "KM", negara: "Comoros" },
          { id: "KN", negara: "Saint Kitts and Nevis" },
          { id: "KP", negara: "Korea, Democratic People's Republic of" },
          { id: "KR", negara: "Korea, Republic of" },
          { id: "KW", negara: "Kuwait" },
          { id: "KY", negara: "Cayman Islands" },
          { id: "KZ", negara: "Kazakhstan" },
          { id: "LA", negara: "Lao People's Democratic Republic" },
          { id: "LB", negara: "Lebanon" },
          { id: "LC", negara: "Saint Lucia" },
          { id: "LI", negara: "Liechtenstein" },
          { id: "LK", negara: "Sri Lanka" },
          { id: "LR", negara: "Liberia" },
          { id: "LS", negara: "Lesotho" },
          { id: "LT", negara: "Lithuania" },
          { id: "LU", negara: "Luxembourg" },
          { id: "LV", negara: "Latvia" },
          { id: "LY", negara: "Libyan Arab Jamahiriya" },
          { id: "MA", negara: "Morocco" },
          { id: "MC", negara: "Monaco" },
          { id: "MD", negara: "Moldova, Republic of" },
          { id: "ME", negara: "Montenegro" },
          { id: "MF", negara: "Saint Martin" },
          { id: "MG", negara: "Madagascar" },
          { id: "MH", negara: "Marshall Islands" },
          { id: "MK", negara: "Macedonia" },
          { id: "ML", negara: "Mali" },
          { id: "MM", negara: "Myanmar" },
          { id: "MN", negara: "Mongolia" },
          { id: "MO", negara: "Macao" },
          { id: "MP", negara: "Northern Mariana Islands" },
          { id: "MQ", negara: "Martinique" },
          { id: "MR", negara: "Mauritania" },
          { id: "MS", negara: "Montserrat" },
          { id: "MT", negara: "Malta" },
          { id: "MU", negara: "Mauritius" },
          { id: "MV", negara: "Maldives" },
          { id: "MW", negara: "Malawi" },
          { id: "MX", negara: "Mexico" },
          { id: "MY", negara: "Malaysia" },
          { id: "MZ", negara: "Mozambique" },
          { id: "NA", negara: "Namibia" },
          { id: "NC", negara: "New Caledonia" },
          { id: "NE", negara: "Niger" },
          { id: "NF", negara: "Norfolk Island" },
          { id: "NG", negara: "Nigeria" },
          { id: "NI", negara: "Nicaragua" },
          { id: "NL", negara: "Netherlands" },
          { id: "NO", negara: "Norway" },
          { id: "NP", negara: "Nepal" },
          { id: "NR", negara: "Nauru" },
          { id: "NU", negara: "Niue" },
          { id: "NZ", negara: "New Zealand" },
          { id: "OM", negara: "Oman" },
          { id: "PA", negara: "Panama" },
          { id: "PE", negara: "Peru" },
          { id: "PF", negara: "French Polynesia" },
          { id: "PG", negara: "Papua New Guinea" },
          { id: "PH", negara: "Philippines" },
          { id: "PK", negara: "Pakistan" },
          { id: "PL", negara: "Poland" },
          { id: "PM", negara: "Saint Pierre and Miquelon" },
          { id: "PN", negara: "Pitcairn" },
          { id: "PR", negara: "Puerto Rico" },
          { id: "PS", negara: "Palestinian Territory" },
          { id: "PT", negara: "Portugal" },
          { id: "PW", negara: "Palau" },
          { id: "PY", negara: "Paraguay" },
          { id: "QA", negara: "Qatar" },
          { id: "RE", negara: "Reunion" },
          { id: "RO", negara: "Romania" },
          { id: "RS", negara: "Serbia" },
          { id: "RU", negara: "Russian Federation" },
          { id: "RW", negara: "Rwanda" },
          { id: "SA", negara: "Saudi Arabia" },
          { id: "SB", negara: "Solomon Islands" },
          { id: "SC", negara: "Seychelles" },
          { id: "SD", negara: "Sudan" },
          { id: "SE", negara: "Sweden" },
          { id: "SG", negara: "Singapore" },
          { id: "SH", negara: "Saint Helena" },
          { id: "SI", negara: "Slovenia" },
          { id: "SJ", negara: "Svalbard and Jan Mayen" },
          { id: "SK", negara: "Slovakia" },
          { id: "SL", negara: "Sierra Leone" },
          { id: "SM", negara: "San Marino" },
          { id: "SN", negara: "Senegal" },
          { id: "SO", negara: "Somalia" },
          { id: "SR", negara: "Suriid" },
          { id: "SS", negara: "South Sudan" },
          { id: "ST", negara: "Sao Tome and Principe" },
          { id: "SV", negara: "El Salvador" },
          { id: "SX", negara: "Sint Maarten" },
          { id: "SY", negara: "Syrian Arab Republic" },
          { id: "SZ", negara: "Swaziland" },
          { id: "TC", negara: "Turks and Caicos Islands" },
          { id: "TD", negara: "Chad" },
          { id: "TF", negara: "French Southern Territories" },
          { id: "TG", negara: "Togo" },
          { id: "TH", negara: "Thailand" },
          { id: "TJ", negara: "Tajikistan" },
          { id: "TK", negara: "Tokelau" },
          { id: "TL", negara: "Timor-Leste" },
          { id: "TM", negara: "Turkmenistan" },
          { id: "TN", negara: "Tunisia" },
          { id: "TO", negara: "Tonga" },
          { id: "TR", negara: "Turkey" },
          { id: "TT", negara: "Trinidad and Tobago" },
          { id: "TV", negara: "Tuvalu" },
          { id: "TW", negara: "Taiwan" },
          { id: "TZ", negara: "Tanzania, United Republic of" },
          { id: "UA", negara: "Ukraine" },
          { id: "UG", negara: "Uganda" },
          { id: "UM", negara: "United States Minor Outlying Islands" },
          { id: "US", negara: "United States" },
          { id: "UY", negara: "Uruguay" },
          { id: "UZ", negara: "Uzbekistan" },
          { id: "VA", negara: "Holy See (Vatican City State)" },
          { id: "VC", negara: "Saint Vincent and the Grenadines" },
          { id: "VE", negara: "Venezuela" },
          { id: "VG", negara: "Virgin Islands, British" },
          { id: "VI", negara: "Virgin Islands, U.S." },
          { id: "VN", negara: "Vietnam" },
          { id: "VU", negara: "Vanuatu" },
          { id: "WF", negara: "Wallis and Futuna" },
          { id: "WS", negara: "Samoa" },
          { id: "YE", negara: "Yemen" },
          { id: "YT", negara: "Mayotte" },
          { id: "ZA", negara: "South Africa" },
          { id: "ZM", negara: "Zambia" },
          { id: "ZW", negara: "Zimbabwe" },
        ]
      }
    },

    methods: {
    	changeCloak(){

    		this.campaign.cloak_link = !this.campaign.cloak_link;

        this.changeUrl();
    		
    		 this.$http.put('/pixelink/cloak/edit', {id: this.campaign.id, cloak_link: this.campaign.cloak_link}).then(response => {


			  });

    	},

      changeUrl(){
            if(this.campaign.cloak_link){
             var text = "";
      
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for( var i=0; i < 8; i++ ){
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            }

             var newAlias = 'http://'+this.domain+'/'+text;

             this.doAlias = newAlias;

          }
      },
      submit(){
        this.savebutton = false;
        

     
        if(this.doAlias != this.campaign.alias){
          this.campaign.alias =  this.doAlias;

           this.showAlias = true;

           this.$http.put('/pixelink/cloak/edit', {id: this.campaign.id,  alias: this.doAlias, allowed_country: this.stringCountry, cloak_redirect : this.authority_url}).then(response => {
             toastr.success('data disimpan');

        });

        }
        else{
          this.$http.put('/pixelink/cloak/edit', {id: this.campaign.id,  allowed_country: this.stringCountry, cloak_redirect : this.authority_url}).then(response => {
             toastr.success('data disimpan');

          });
        }
        
        
      }
    }

    }
  </script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>