<template>
 <div class="box">
    <div class="box-header b-b">
      <h3>Custom Loader Text</h3>
    </div>

    <div>
      <div class="row-col p-b">

        <div class="col-sm-12">

          <div class="p-a">
           <div class="box-body">
          
          <div class="form-group" >
             <label for="">masukan text loader</label>
             <input type="text" name="" class="form-control" v-model="loader_text" placeholder="cth : Mohon Tunggu Sebentar...">
           </div>

          <div class="form-group m-t" v-show="savebutton">
            <button @click="submit" class="btn info">Simpan Perubahan</button>
          </div>


           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</template>

<script>
    export default {
        props : ['getloadertext','type','id'],
        data(){
            return {
                loader_text : this.getloadertext,
                savebutton : false,
            }
        },
        watch : {
          loader_text(){
            this.savebutton = true;
          }
        },
        methods : {
          submit(){

          }
        }
    }
</script>
