<template>
    <div class="m-b" id="accordion">
        <div class="panel box no-border m-b-xs">
          <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_1">
              1. Pilih Tipelink
            </a>
          </div>
          <div id="c_1" class="collapse in">
            <div class="box-body">
              <div class="text-sm">

            <div class="md-form-group">
              <select v-model="form.tipelink" class="md-input" name="tipelink" id="">
                  <option v-for="t in tipelink">{{t.tipe}}</option>
              </select>
              <label>pilih salah satu</label>
            </div>

                 <a @click="next()" class="md-btn md-raised m-b-sm w-xs info text-white" >
              NEXT
            </a>
              </div>
            </div>
          </div>
        </div>

        <div class="panel box no-border m-b-xs ">
          <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_2">
              2. Masukan Orderlink Properties
            </a>
          </div>
          <div id="c_2" class="collapse">
            <div class="box-body">
            <div class="md-form-group">
              <input name="nomor" required class="md-input" :placeholder="selectedTipelink[0].example" v-model="form.nomor">
              <label>{{selectedTipelink[0].label}}</label>
              <span class="text-danger" v-show="form.tipelink == 'WA'">nomor didahului kode negara (ID = 62 ! tanpa +)</span>
            </div>
            <div v-show="form.tipelink == 'SMS' || form.tipelink == 'WA'" class="md-form-group">
              <textarea placeholder="cth : ORDER BAJU an.MAULANA SHALIHIN"  name="isisms" class="md-input" rows="2"></textarea>
              <label>Isi Pesan yang dikirim pelanggan anda</label> 
            </div>

            <div class="md-form-group">
              <select name="" id="" class="md-input" v-model="domain">
                <option v-for="domain in domains" :value="domain.domain">{{domain.domain}}</option>
              </select>
              <label>pakai Domain</label>
            </div>

             <div class="md-form-group">
              <input name="alias"  class="alias md-input" v-on:keyup="checkURI"  v-model="form.alias">
              <label>Link disingkat jadi</label>
              <p class="text-danger" v-show="isExist">Link sudah digunakan</p>
              
            </div>
         
                 <div class="md-form-group">
              <input name="desktop_url" class="md-input" placeholder='cth : http://orderlink.in' v-model="form.nomor">
              <label>Desktop Redirect</label>
              <span class="text-muted">klik dari komputer/pc diarahkan ke?</span>
            </div>

              <a @click="next2()" class="md-btn md-raised m-b-sm w-xs info text-white" >
              NEXT
            </a>

       

            </div>
          </div>
          
        </div>

        <div class="panel box no-border m-b-xs ">
          <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_3">
              3. Retargeting Formula
            </a>
          </div>
          <div id="c_3" class="collapse">
            <div class="box-body">
        
                <slot>
             </slot>

            <div class="md-form-group">
              <button class="md-btn md-raised m-b-sm w-xs info text-white">Submit</button>
   
            </div>

            </div>
          </div>
          
        </div>
      
      </div>
</template>

<script>
    export default { 

        props: ['domains'],
        
        mounted() 
        {
            console.log('Component ready.')
        },

        watch: {
          domain(){
            this.createHash();
          }
        },

        data(){
            return{
                form : 
                {
                    tipelink : 'SMS',
                    isisms : '',
                    alias : '',
                },

                tipelink : [
                    {tipe:'SMS', shorter: 's', label: 'masukan no.hp anda', example: 'cth : 087815579530'},
                    {tipe:'BBM', shorter: 'b', label: 'masukan pin bbm anda', example: 'cth : F34DFDF'},
                    {tipe:'Telpon', shorter: 'w', label: 'masukan no.hp anda', example: 'cth : 087815579530'},
                    {tipe:'WA', shorter: 'wa', label: 'masukan no.hp anda', example: 'cth : 6287815579530'},
                    {tipe:'Telegram', shorter: 't', label: 'masukan id anda', example: 'cth : orderlink'},
                    {tipe:'Line', shorter: 'l', label: 'masukan id anda', example: 'cth : orderlink'},
                    {tipe:'Email', shorter: 'e', label: 'masukan email anda', example: 'cth : contact@orderlink.in'},

                    ],

                domain : this.domains[0].domain,
                isExist: false,
            }
        },

        methods: 
        {

          next()
          {

        
                     $("#c_1").removeClass(function(){
                  return "in";
                });
                        
                $("#c_2").addClass("in");
              this.createHash();
            

          
        
  
          },

           next2()
          {

        
                     $("#c_2").removeClass(function(){
                  return "in";
                });
                        
                $("#c_3").addClass("in");

            

          
        
  
          },

      
       


            createHash() 
            {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for( var i=0; i < 8; i++ ){
                    text += possible.charAt(Math.floor(Math.random() * possible.length));
                }

                this.form.alias = 'http://'+this.domain+'/'+this.selectedTipelink[0].shorter+'/'+text;


                this.$http.get('/api/orderlink/uri/check/?uri='+this.form.alias).then((response) => {
                    // success callback
                    if(response.body == 'true'){
                        this.createHash();
                    }
                  }, (response) => {
                    // error callback

                  });

            },

            checkURI(){
              if(this.form.alias.length < (this.domain.length+10)){
                this.form.alias = 'http://'+this.domain+'/'+this.selectedTipelink[0].shorter+'/';
              }else{
                    this.checkURIPost();
                                }
            },
            checkURIPost: _.debounce(function () {
                   
                   var alias = this.form.alias;
               this.$http.get('/api/orderlink/uri/check/?uri='+alias).then((response) => {
                  // success callback

                    if(response.body == 'true'){
                        this.isExist = true;
                    }else{
                      this.isExist = false;
                    }
                }, (response) => {
                  // error callback

                });

            }, 500),
          

             checkURI2: _.debounce(function () {
                   console.log('ayamgoreng');
              // ...
            
            }, 500)

          



        },

        computed: {
          selectedTipelink: function () {
            var active = this.form.tipelink;
            return this.tipelink.filter(function (item) {
              return item.tipe == active;
            });
          }
        },
    }
</script>
