<template>
 <div class="m-b" id="accordion">
   <div class="panel box no-border m-b-xs">
       <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_1">
                1. Masukan Link Anda
            </a>
        </div>
        <div id="c_1" class="collapse in">
            <div class="box-body">
                <div class="text-sm">
                      <div class="md-form-group">
                       <textarea  id="url" type="url"  v-model="url" name="url"  class="md-input" rows="3"></textarea>
                       <label>Paste link anda disini</label>
                   </div>
                   <a @click="next()" class="btn btn-outline rounded b-info text-info" >
                      NEXT
                  </a>

              </div>
            </div>
        </div>

    </div>

    <div class="panel box no-border m-b-xs">
         <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_2">
            2. Masukan Link Properties
            </a>
         </div>
         <div id="c_2" class="collapse">
            <div class="box-body">
                 <div class="md-form-group">
                  <textarea  v-model="form.title" placeholder="masukan title link ini. cth : orderlink campaign" name="title" class="md-input" rows="2"></textarea>
                  <label>Title</label>
                 </div>
                 <div class="md-form-group">
                    <select name="" id="" class="md-input" v-model="domain">
                    <option v-for="domain in domains" :value="domain.domain">{{domain.domain}}</option>
                    </select>
                    <label>pakai Domain</label>
                </div>

                <div class="md-form-group">
                  <input class="md-input alias" name="alias" v-on:keyup="URLchecker()" v-model="form.alias">
                  <label>Link disingkat jadi</label>
                   <p class="text-danger" v-show="isExist">Link sudah digunakan</p>
                </div>


               <div class="md-form-group">
                    <a @click="next2('#c_2','#c_3')"class="btn btn-outline rounded b-info text-info">
                    Next
                    </a>
               </div>

            </div>
         </div>
      </div>

      <div class="panel box no-border m-b-xs">
         <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_3">
            3. Contentlink

            </a>
         </div>
         <div id="c_3" class="collapse">
            <div class="box-body">

               <div v-for="(item, index) in form.mycontentlink">
               
                     <div class="md-form-group" >
                        <select v-model="form.mycontentlink[index]"  class="md-input">
                           <option :value="m.id"  v-for="m in mycontentlink">{{m.title}}</option>
                        </select>
                        <label>Pilih Contentlink</label>
                     </div>
                     <div class="md-form-group" >
                        <select  v-model="form.event[index]"  class="md-input">
                           <option value="onload" >Website Dibuka</option>
                           <option value="onclose" >Mau Tutup Halaman</option>
                        </select>
                        <label>Tampil Ketika</label>
                        <p v-show="form.event[index] == 'onclose' && first==true"  class="text-danger">pilihan ini hanya aktif untuk visitor di komputer desktop</p>
                        <p v-show="first==true && form.event[index] == 'onclose'"  class="text-info">banner akan muncul ketika mouse mengarah ke tombol close halaman</p>
                        <p v-show="first==true && form.event[index] == 'onload'"  class="text-info">banner akan muncul setelah halaman dibuka</p>
                     </div>





                     <div v-show="form.event[index] == 'onload'" class="md-form-group" >
                        <input type="number"  v-model="form.time[index]"  class="md-input">
                        <label>Setelah(s)</label>
                        <p v-show="first==true"  class="text-info">banner akan muncul setelah berapa detik?</p>
                     </div>
                     <div v-show="form.event[index] == 'onclose'" class="md-form-group" >

                        <input type="number"  v-model="form.maksShow[index]"  class="md-input">
                        <label>Maksimal Tampil</label>
                         <p v-show="first==true"  class="text-info">banner akan selalu muncul sebanyak</p>
                     </div>
                     <div v-show="form.event[index] == 'onclose'" class="md-form-group" >
                        <input type="text"  v-model="form.redirectTo[index]"  class="md-input">
                        <label>RedirectTo</label>
                         <p v-show="first==true"  class="text-info">jika selama 4 detik, visitor tidak mengisi/klik form/banner dia akan dialihkan</p>
                     </div>

                     <div class="md-form-group" >
                        <select  v-model="form.showOn[index]"  class="md-input">
                           <option value="all" >Semua</option>
                           <option value="desktop" >Desktop Saja</option>
                           <option value="mobile" >Mobile Saja</option>
                        </select>
                        <label>Tampil di</label>
                        <p v-show="first==true"  class="text-info">banner akan ditampilkan pada device apa?</p>
                     </div>
               
                     <hr class="info">
                     <hr class="info">
       
                </div>

                <div class="row">
                   <div class="col-md-2 col-sm-2 col-xs-2">
                   
              <a @click="hapus()" class="btn btn-icon rounded danger text-white">
                    <i class="fa  fa-trash"></i>
                     </a>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <a @click="AyamGoreng()" class="btn btn-icon rounded info text-white">
                    <i class="fa  fa-plus"></i>
                     </a>

                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                     <a @click="next2('#c_3','#c_4')" class="btn btn-outline rounded b-info text-info">
                    Next
                     </a>
                  </div>
                </div>

                
               
               
            </div>
         </div>
      </div>

     <div class="panel box no-border m-b-xs">
         <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_4">
            4. Retargeting
            </a>
         </div>
         <div id="c_4" class="collapse">
            <div class="box-body">

            <div v-if="facebook" class="md-form-group">
              <select class="md-input"   v-model="form.pixel_id">
              <option v-for="pixel in facebook" >{{pixel.pixel_id}}</option>
              </select>
              <label>Facebook Pixel ID</label>
            </div>

            <div v-else class="md-form-group">
              <input class="md-input" type="text" v-model="form.pixel_id">
              <label>Facebook Pixel ID</label>
            </div>

               <div class="md-form-group">
                <select  class="md-input" v-model="selectedEvent"  id="">

                  <option v-for="event in events" :value="event.code">{{event.name}}</option>
                  
                </select>
                <label>Pixel Event</label>
              </div>
               <div v-show="selectedEvent == 'custom'" class="md-form-group">
                <input type="text" v-model="custom" class="md-input">
                <label>Custom Event</label>
              </div>
              <div v-show="selectedEvent == 'purchase'" class="md-form-group">
                <input type="text" v-model="value" class="md-input">
                <label>Purchase Value</label>
              </div>
              <div v-show="selectedEvent == 'purchase'" class="md-form-group">
                <select  class="md-input" v-model="kurs" id="">
                    <option value="IDR">IDR</option>
                    <option value="USD">USD</option>
             
                </select>
                <label>Currency</label>
              </div>

            <div v-if="google" class="md-form-group">
              <select class="md-input"   v-model="form.google_id">
              <option v-for="pixel in google" >{{pixel.google_id}}</option>
              </select>
               <label>Google Remarketing ID</label>
            </div>

             <div v-else class="md-form-group">
              <input class="md-input" type="text" v-model="form.google_id">
              <label>Google Remarketing ID</label>
            </div>

                

            <div class="row">
                
                <div class="col-md-4 col-sm-4 col-xs-4">
                     <a @click="next2('#c_4','#c_5')" class="btn btn-outline rounded b-info text-info">
                    Next
                     </a>
                </div>
            </div>

                

               
            </div>
         </div>
     </div>
     <div class="panel box no-border m-b-xs">
         <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_5">
            5. Add ons
            </a>
         </div>
         <div id="c_5" class="collapse">
            <div class="box-body">

                

       

                <div class="md-form-group">
                  <select class="md-input"   v-model="isShareButtonExist">
                  <option value="true">Ya</option>
                  <option value="false">Tidak</option>
                  </select>
                  <label>Mau Menggunakan Share Button?</label>
                </div>
                <div v-show="isShareButtonExist == 'true'" class="md-form-group">
                    <input type="text" class="md-input" v-model="form.shareButton">
                    <label>Share Button Text</label>
                </div>
                <div class="md-form-group">
                  <select class="md-input"   v-model="isCookieStuffing">
                  <option value="true">Ya</option>
                  <option value="false">Tidak</option>
                  </select>
                  <label>Pakai Cookie Stuffing?</label>
                </div>
                <div v-show="isCookieStuffing == 'true'" class="md-form-group">
                    <input type="text" placeholder="paste link affiliate anda disini" class="md-input" v-model="form.cookieStuffing">
                    <label>Link Affiliate</label>
                </div>
        
                     <button style="width: 100%;" @click.prevent="submit" class="btn btn-outline rounded b-info text-info"  >BIKIN CONTENTLINK!</button>

               
            </div>
         </div>
     </div>
     <div class="panel box no-border m-b-xs" v-show="bitly">
         <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_6">
            6. Hasil
            </a>
         </div>
         <div id="c_6" class="collapse">
            <div class="box-body">

                
            <div class="row" v-show="bitly">
                <div class="alert alert-success">
                <a :href="form.alias" id="alias">{{form.alias}}</a>
                <br>
                <a :href="bitly" id="bitly">{{bitly}}</a>
                    <div v-if="bitly === 'success!'">
                         <br>
                        <div class="m-b">
                            <button  class="btn btn-md info m-r" data-clipboard-action="copy" data-clipboard-target="a#alias"><i class="fa fa-copy"></i> copy link</button><button  class="btn btn-md info"><i class="fa fa-facebook"></i> share ke facebook</button>
                        </div>
                    </div>
                    <div v-else>
                         <br>
                        <div class="m-b">
                            <button style="width: 46%;" class="btn btn-md info m-r" data-clipboard-action="copy" data-clipboard-target="a#alias"><i class="fa fa-copy"></i> copy link</button><button style="width: 46%;" class="btn btn-md info" data-clipboard-action="copy" data-clipboard-target="a#bitly"><i class="fa fa-copy"></i> copy bitly</button>
                        </div>
                        <button style="width: 100%;" @click="share()" class="btn btn-md btn-outline b-info text-info"><i class="fa fa-facebook"></i> Share ke facebook!</button>
                    </div>
                </div>             
            </div>
                

               
            </div>
         </div>
     </div>


 </div>
</template>
<script>
 export default {

    props: ['url', 'domains','mycontentlink','facebook','google'],

       computed : {
      getEvent(){
        if(this.selectedEvent == 'purchase'){
          return "fbq('track', 'Purchase', {value: "+this.value+", currency: '"+this.kurs+"'});";
        }
        else if(this.selectedEvent == 'custom'){
          return "fbq('track', '"+this.custom+"');";
        }
        else{
          return this.selectedEvent;
        }
      }
   },

    data(){
        return {
            selectedEvent : '',
      value : '10.000',
      kurs : 'IDR',
      custom : '',
      events : [
        {name: 'View content', code:"fbq('track', 'ViewContent');"},
        {name: 'Search', code:"fbq('track', 'Search');"},
        {name: 'Add to cart', code:"fbq('track', 'AddToCart');"},
        {name: 'Add to wishlist', code:"fbq('track', 'AddToWishlist');"},
        {name: 'Initiate checkout', code:"fbq('track', 'InitiateCheckout');"},
        {name: 'Add payment info', code:"fbq('track', 'AddPaymentInfo');"},
        {name: 'Make purchase', code: 'purchase'},
        {name: 'Lead', code:"fbq('track', 'Lead');"},
        {name: 'Complete registration', code:"fbq('track', 'CompleteRegistration');"},
        {name: 'Custom Event', code:"custom"},
        ],
            form: {
                url : '',
                title : '',
                domain : '',
                alias : '',
                mycontentlink: [this.mycontentlink[0].id] ? [this.mycontentlink[0].id] : '',
                event: ['onload'],
                time : [0],
                maksShow : [5],
                redirectTo : ['#'],
                showOn : ['all'],
                shareButton : 'Share on Facebook',
                cookieStuffing : '',
                google_id : '',
                pixel_id : '' ,
                pixel_event : ''
                
            },
            domain : this.domains[0].domain,
            bitly : '',
            isExist: false,
            isShareButtonExist: 'true',
            isCookieStuffing : 'false'

        }
    },

    watch : {


        isShareButtonExist(){
            if(this.isShareButtonExist == 'true'){
                this.form.shareButton = 'Share on Facebook';
            }else{
                this.form.shareButton = '';
            }
        },
        url(){

             $("#c_2").removeClass(function(){
                 return "in";
               });

              $("#c_4").removeClass(function(){
                 return "in";
               });
                       
            $("#c_1").addClass("in");

            this.bitly = '';
          
        },
        domain: function () {
        // `this` points to the vm instance
        this.createHash();
        },
      },

    methods : {
        next(){

            //switch accourdion
            $("#c_1").removeClass(function(){
                 return "in";
               });
                       
            $("#c_2").addClass("in");

            this.form.url = this.url;

            //get new title from facebook api
            this.$http.get('https://graph.facebook.com?id='+this.url).then((response) => {
               // success callback
               this.form.title = (response.body.og_object.title);
            });

             this.createHash();




        },

        next2(hide,show)
        {
           $(hide).removeClass(function(){
             return "in";
           });
                   
           $(show).addClass("in");
        },

         AyamGoreng()
        {
          this.form.mycontentlink.push(this.mycontentlink[0].id);
          this.form.event.push('onload');
          this.form.time.push(0);
          this.form.maksShow.push(5);
          this.form.redirectTo.push('#');
          this.form.showOn.push('all');
        },

        hapus()
        {
          this.form.mycontentlink.pop();
          this.form.event.pop();
          this.form.time.pop();
          this.form.maksShow.pop();
          this.form.redirectTo.pop();
          this.form.showOn.pop();
        },



        createHash() 
        {
               var text = "";
               var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
   
               for( var i=0; i < 8; i++ ){
                   text += possible.charAt(Math.floor(Math.random() * possible.length));
               }
   
               this.form.alias = 'http://'+this.domain+'/c/'+text;
   
            this.$http.get('/api/contentlink/uri/check/?uri='+this.form.alias).then((response) => {
                // success callback
                if(response.body == 'true'){
                        this.createHash();
                    }
              }, (response) => {
                // error callback
   
              });
   
        },

        URLchecker(){
            if(this.form.alias.length < (this.domain.length+10)){
                this.form.alias='http://'+this.domain+'/c/';
            }else{
                this.checkURIPost();
            }
        },

        share(){
          window.open('https://web.facebook.com/sharer/sharer.php?u='+this.form.alias, 'mywin',
          'left=0,top=0,width=558,height=600,toolbar=1,resizable=0'); 
          return false;
        },

        submit(){

            this.form.pixel_event = this.getEvent;
            this.$http.post('/contentlink/campaign/api', this.form).then((response) => {
               // success callback
               console.log(response.body);

              
                this.bitly = response.body;
               
               

               this.next2('#c_5','#c_6');
            });
        },

        checkURIPost: _.debounce(function () {
              // ...
                  var alias = this.form.alias;
               this.$http.get('/api/contentlink/uri/check/?uri='+alias).then((response) => {
                  // success callback
                    if(response.body == 'true'){
                        this.isExist = true;
                    }else{
                      this.isExist = false;
                    }
                }, (response) => {
                  // error callback

                });
            }, 500)



    }

}
</script>