<template>
   <div class="box">
      <div class="box-header">
         <h3>{{title}}</h3>
         <small>{{description}}</small>
      </div>
      <div class="box-tool">
         <ul class="nav">
            <li class="nav-item inline">
               <a class="nav-link">
               <i class="ion-android-sync m-x-xs"></i>
               </a>
            </li>
            <li class="nav-item inline dropdown">
               <a class="nav-link" data-toggle="dropdown">
               <i class="ion-android-menu m-x-xs"></i>
               </a>
               <div class="dropdown-menu dropdown-menu-scale pull-right">
                  <a class="dropdown-item" href="#">This week</a>
                  <a class="dropdown-item" href="#">This month</a>
                  <a class="dropdown-item" href="#">This week</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">Today</a>
               </div>
            </li>
         </ul>
      </div>
      <div>
         <canvas :id="id" height="150">
         </canvas>
      </div>
      <div class="box-body text-center p-b-md" :class="warnapanel">
         <span class="dark-white rounded m-r p-x p-y-xs text-info" :class="warnatulisan"><i class="fa fa-caret-up" v-if="persentage>=0"></i><i class="fa fa-caret-down" v-if="persentage<0"></i> {{persentage ? persentage.toFixed(2)+'%' : 'belum ada traffic'}}</span>
         <span></span>
      </div>
   </div>
</template>
<script>
   export default {
       props : ['id','title','description','color','warnapanel', 'hit'],
       mounted() {
           console.log('Component ready.');
           this.renderChart();
       },
       computed:{
            dataLength(){
                return Object.keys(this.hit).length;
            },

            persentage(){
                return 100*((Object.values(this.hit)[this.dataLength-1] - Object.values(this.hit)[this.dataLength-2])/Object.values(this.hit)[this.dataLength-2]);
            }
       },
       data(){
          return {
            warnatulisan : 'text-'+this.warnapanel,
            scope : 'today',
            KlikChart : '',
            chartData: {
                labels: Object.keys(this.hit),
                datasets: [
                  {
                      label: 'Dataset',
                      data: Object.values(this.hit),
                      fill: true,
                      backgroundColor: this.color,
                      borderColor: this.color,
                      borderWidth: 2,
                      borderCapStyle: 'butt',
                      borderDash: [],
                      borderDashOffset: 0.0,
                      borderJoinStyle: 'miter',
                      pointBorderColor: this.color,
                      pointBackgroundColor: '#fff',
                      pointBorderWidth: 2,
                      pointHoverRadius: 4,
                      pointHoverBackgroundColor: this.color,
                      pointHoverBorderColor: '#fff',
                      pointHoverBorderWidth: 2,
                      pointRadius: [0,4,4,4,4,4,0],
                      pointHitRadius: 10,
                      spanGaps: false
                      }
                  ]
              },
            }

        },

        methods : {
            renderChart(){
                var ctx = document.getElementById(this.id);
                this.KlikChart = new Chart(ctx, {
                  type: 'line',
                  data: this.chartData,
                  options: {
                        scales: {
                            xAxes: [{
                               display: false
                            }],
                            yAxes: [{
                               display: false,
                               ticks:{
                                 min: 0,
                                 max: 60
                               }
                            }]
                        },
                        legend: {
                            display: false
                        }
                      }
              });
              },
        }
   }
</script>