<template>
 <div class="m-b" id="accordion">
  <div class="panel box no-border m-b-xs">
   <div class="box-header p-y-sm info">
    <a data-toggle="collapse" data-parent="#accordion" data-target="#e_1">
      1. Masukan Link Anda
    </a>
  </div>
  <div id="e_1" class="collapse in">
    <div class="box-body">
     <div class="text-sm">
      <div class="md-form-group">
       <textarea disabled v-on:keyup.86="next()" id="url" type="url"  v-model="form.url" name="url"  class="md-input" rows="3"></textarea>
       <label>Paste link anda disini</label>
     </div>
     <a @click="next()" class="pull-right m-b btn btn-outline rounded b-info text-info" >
      NEXT
    </a>
    <br>
    <br>

  </div>
</div>
</div>
</div>
<div class="panel box no-border m-b-xs">
 <div class="box-header p-y-sm info">
  <a data-toggle="collapse" data-parent="#accordion" data-target="#e_2">
    2. Masukan Link Properties
  </a>
</div>
<div id="e_2" class="collapse">
  <div class="box-body">
   <div class="md-form-group">
    <textarea  v-model="form.title" placeholder="masukan title link ini. cth : orderlink campaign" name="title" class="md-input" rows="2"></textarea>
    <label>Title</label>
  </div>


  <div class="md-form-group">
    <select name="" id="" class="md-input" v-model="domain">
      <option v-for="domain in domains" :value="domain.domain">{{domain.domain}}</option>
    </select>
    <label>pakai Domain</label>
  </div>


  <div class="md-form-group">
    <input class="md-input alias" name="alias" v-on:keyup="URLchecker()" v-model="form.alias">
    <label>Link disingkat jadi</label>
    <p class="text-danger" v-show="isExist">Link sudah digunakan</p>
  </div>


  <a @click="next2('#e_2','#e_3')" class="pull-right m-b btn btn-outline rounded b-info text-info">
    Next
  </a>
  <br>
  <br>
</div>
</div>
</div>
<div class="panel box no-border m-b-xs">
 <div class="box-header p-y-sm info">
  <a data-toggle="collapse" data-parent="#accordion" data-target="#e_3">
    3. Contentlink
  </a>
</div>
<div id="e_3" class="collapse">
  <div class="box-body">

   <div v-for="(item, index) in form.mycontentlink">

     <div class="md-form-group" >
      <select v-model="form.mycontentlink[index]"  class="md-input">
       <option :value="m.id"  v-for="m in mycontentlink">{{m.title}}</option>
     </select>
     <label>Pilih Contentlink</label>
   </div>
   <div class="md-form-group" >
    <select  v-model="form.event[index]"  class="md-input">
     <option value="onload" >Website Dibuka</option>
     <option value="onclose" >Mau Tutup Halaman</option>
   </select>
   <label>Tampil Ketika</label>
   <p v-show="form.event[index] == 'onclose' && first==true"  class="text-danger">pilihan ini hanya aktif untuk visitor di komputer desktop</p>
   <p v-show="first==true && form.event[index] == 'onclose'"  class="text-info">banner akan muncul ketika mouse mengarah ke tombol close halaman</p>
   <p v-show="first==true && form.event[index] == 'onload'"  class="text-info">banner akan muncul setelah halaman dibuka</p>
 </div>





 <div v-show="form.event[index] == 'onload'" class="md-form-group" >
  <input type="number"  v-model="form.time[index]"  class="md-input">
  <label>Setelah(s)</label>
  <p v-show="first==true"  class="text-info">banner akan muncul setelah berapa detik?</p>
</div>
<div v-show="form.event[index] == 'onclose'" class="md-form-group" >

  <input type="number"  v-model="form.maksShow[index]"  class="md-input">
  <label>Maksimal Tampil</label>
  <p v-show="first==true"  class="text-info">banner akan selalu muncul sebanyak</p>
</div>
<div v-show="form.event[index] == 'onclose'" class="md-form-group" >
  <input type="text"  v-model="form.redirectTo[index]"  class="md-input">
  <label>RedirectTo</label>
  <p v-show="first==true"  class="text-info">jika selama 4 detik, visitor tidak mengisi/klik form/banner dia akan dialihkan</p>
</div>

<div class="md-form-group" >
  <select  v-model="form.showOn[index]"  class="md-input">
   <option value="all" >Semua</option>
   <option value="desktop" >Desktop Saja</option>
   <option value="mobile" >Mobile Saja</option>
 </select>
 <label>Tampil di</label>
 <p v-show="first==true"  class="text-info">banner akan ditampilkan pada device apa?</p>
</div>

<hr class="info">
<hr class="info">

</div>

<div class="row">
 <div class="col-md-2 col-sm-2 col-xs-2">

  <a @click="hapus()" class="btn btn-icon rounded danger text-white">
    <i class="fa  fa-trash"></i>
  </a>
</div>
<div class="col-md-6 col-sm-6 col-xs-6">
  <a @click="AyamGoreng()" class="btn btn-icon rounded info text-white">
    <i class="fa  fa-plus"></i>
  </a>

</div>
<div class="col-md-4 col-sm-4 col-xs-4">
 <a @click="next2('#e_3','#e_4')" class="btn btn-outline rounded b-info text-info">
  Next
</a>
</div>
</div>





<input type="hidden" name="listContent" :value="form.mycontentlink">
<input type="hidden" name="listEvent" :value="form.event">
<input type="hidden" name="listTime" :value="form.time">
<input type="hidden" name="listShowOn" :value="form.showOn">
<input type="hidden" name="listRedirectTo" :value="form.redirectTo">
<input type="hidden" name="listMaksShow" :value="form.maksShow">


</div>
</div>
</div>

<div class="panel box no-border m-b-xs">
 <div class="box-header p-y-sm info">
  <a data-toggle="collapse" data-parent="#accordion" data-target="#e_4">
    4. Retargeting
  </a>
</div>
<div id="e_4" class="collapse">
  <div class="box-body">


    <slot></slot>


    <a @click="next2('#e_4','#e_5')" class="pull-right m-b btn btn-outline rounded b-info text-info">
      Next
    </a>
    <br>
    <br>

  </div>
</div>
</div>
<div class="panel box no-border m-b-xs">
 <div class="box-header p-y-sm info">
  <a data-toggle="collapse" data-parent="#accordion" data-target="#e_5">
    5. Add ons
  </a>
</div>
<div id="e_5" class="collapse">
  <div class="box-body">




    <div class="md-form-group">
      <select class="md-input"   v-model="isShareButtonExist">
        <option value="true">Ya</option>
        <option value="false">Tidak</option>
      </select>
      <label>Mau Menggunakan Share Button?</label>
    </div>
    <div v-show="isShareButtonExist == 'true'"  class="md-form-group">
      <input type="text" class="md-input" name="share_button" v-model="form.share_button">
      <label>Share Button Text</label>
    </div>
    <div class="md-form-group">
      <select class="md-input"   v-model="isCookieStuffing">
        <option value="true">Ya</option>
        <option value="false">Tidak</option>
      </select>
      <label>Pakai Cookie Stuffing?</label>
    </div>
    <div v-show="isCookieStuffing == 'true'" class="md-form-group">
      <input type="text" placeholder="paste link affiliate anda disini" name="stuffing_url" class="md-input" v-model="form.stuffing_url">
      <label>Link Affiliate</label>
    </div>

    <button style="width: 100%;" class="btn btn-outline rounded b-info text-info"  >BIKIN CONTENTLINK!</button>


  </div>
</div>
</div>


</div>
</template>
<script>
 export default {
  props: ['mycontentlink', 'first', 'domains','campaign'],

  mounted() 
  {
  	this.form.url = this.campaign.url;
  	this.form.title = this.campaign.title;
  	this.form.alias = this.campaign.alias;
    this.form.share_button = this.campaign.share_button;
    this.form.stuffing_url = this.campaign.stuffing_url;
    this.form.mycontentlink = _.map(this.campaign.contentlink_props, 'id');
    this.form.event = _.map(this.campaign.contentlink_props, 'event');
    this.form.time = _.map(this.campaign.contentlink_props, 'time');
    this.form.showOn = _.map(this.campaign.contentlink_props, 'showOn');
    this.form.maksShow = _.map(this.campaign.contentlink_props, 'maksShow');
    this.form.redirectTo = _.map(this.campaign.contentlink_props, 'redirectTo');

    if(this.campaign.stuffing_url.length>0){
      this.isCookieStuffing = 'true';
    }
 },

 data(){
  return{
    form : 
    {
      url : '',
      title : '',
      alias: 'http://app.orderlink.in/',
      pixels: '',
      pixel_id: '',
      googles: '',
      google_id:  '',
      mycontentlink: [this.mycontentlink[0].id],
      event: ['onload'],
      time : [0],
      maksShow : [5],
      redirectTo : ['#'],
      showOn : ['all'],
      share_button : 'Share on Facebook',
      stuffing_url : '',
    },

    isExist: false,

    domain : this.domains[0].domain,

    isShareButtonExist: 'true',
    isCookieStuffing : 'false'
  }
},

watch: {
  // a computed getter
  domain: function () {
        // `this` points to the vm instance
        this.createHash();
      },

    },

    methods: 
    {

      next()
      {



         $("#e_1").removeClass(function(){
           return "in";
         });

         $("#e_2").addClass("in");
    

       

     },

     next2(idfrom,idto)
     {


       $(idfrom).removeClass(function(){
         return "in";
       });

       $(idto).addClass("in");



       

     },


     getTitle()
     {

       this.$http.get('https://graph.facebook.com?id='+this.form.url).then((response) => {
               // success callback
               this.form.title = (response.body.og_object.title);
             }, (response) => {
               // error callback
             });

     },

     createHash() 
     {
       var text = "";
       var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

       for( var i=0; i < 8; i++ ){
         text += possible.charAt(Math.floor(Math.random() * possible.length));
       }

       this.form.alias = 'http://'+this.domain+'/c/'+text;

       this.$http.get('/api/contentlink/uri/check/?uri='+this.form.alias).then((response) => {
                // success callback
                if(response.body == 'true'){
                  this.createHash();
                }
              }, (response) => {
                // error callback

              });

     },

     AyamGoreng()
     {
      this.form.mycontentlink.push(this.mycontentlink[0].id);
      this.form.event.push('onload');
      this.form.time.push(0);
      this.form.maksShow.push(5);
      this.form.redirectTo.push('#');
      this.form.showOn.push('all');
    },

    hapus()
    {
      this.form.mycontentlink.pop();
      this.form.event.pop();
      this.form.time.pop();
      this.form.maksShow.pop();
      this.form.redirectTo.pop();
      this.form.showOn.pop();
    },



    URLchecker(){
      if(this.form.alias.length < (this.domain.length+10)){
        this.form.alias='http://'+this.domain+'/c/';
      }else{
        this.checkURIPost();
      }
    },

    checkURIPost: _.debounce(function () {
              // ...
                  var alias = this.form.alias;
              this.$http.get('/api/contentlink/uri/check/?uri='+alias).then((response) => {
                  // success callback
                  if(response.body == 'true'){
                    this.isExist = true;
                  }else{
                    this.isExist = false;
                  }
                }, (response) => {
                  // error callback

                });
            }, 500)







  }
}
</script>