<template>
    <div class="m-b" id="accordion">
        <div class="panel box no-border m-b-xs">
          <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#e_1">
              1. Masukan Link Anda
            </a>
          </div>
          <div id="e_1" class="collapse in">
            <div class="box-body">
              <div class="text-sm">

            <div class="md-form-group">
              <textarea disabled="" v-on:keyup.86="next()" id="url" type="url"  v-model="form.url" name="url"  class="md-input" rows="3"></textarea>
              <label>Link Asli (ga bisa diedit)</label>
            </div>

                 <a @click="nextEdit()" class="md-btn md-raised m-b-sm w-xs info text-white" >
              NEXT
            </a>
              </div>
            </div>
          </div>
        </div>

        <div class="panel box no-border m-b-xs">
          <div class="box-header p-y-sm info">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#e_2">
              2. Masukan Link Properties
            </a>
          </div>
          <div id="e_2" class="collapse">
            <div class="box-body">
     				 <div class="md-form-group">
              <textarea  v-model="form.title" placeholder="masukan title link ini. cth : orderlink campaign" name="title" class="md-input" rows="2"></textarea>
              <label>Title</label>
            </div>

             <div class="md-form-group">
              <select name="" id="" class="md-input" v-model="domain">
                <option v-for="domain in domains" :value="domain.domain">{{domain.domain}}</option>
              </select>
              <label>pakai Domain</label>
            </div>
            
             <div class="md-form-group">
              <input class="md-input alias" v-on:keyup="URLchecker()" name="alias" v-model="form.alias">
              <label>Link disingkat jadi</label>
              <p class="text-danger" v-show="isExist">Link sudah digunakan</p>
            </div>
             <slot>
             </slot>

            <div class="md-form-group">
              <button class="md-btn md-raised m-b-sm w-full info text-white">Simpan Perubahan</button>
   
            </div>

            </div>
          </div>
        </div>
      
      </div>
</template>

<script>
    export default {

        props: ['domains','pixelink'],
        

        

        data(){
        	return{
        		form : 
        		{
        			url : this.pixelink.url,
        			title : this.pixelink.title,
        			alias: this.pixelink.alias,
	                pixels: '',
	                pixel_id: '',
	                googles: '',
	                google_id:  ''
	        	},

	        	domain : this.domains[0].domain,
            isExist: false,
        	}
        },

        watch: {
    // a computed getter
        domain: function () {
          // `this` points to the vm instance
          this.createHash();
          },

        },

     

        methods: 
        {

        	nextEdit()
        	{

        
  				
     
                $("#e_1").removeClass(function(){
                  return "in";
                });
                        
                $("#e_2").addClass("in");
            

          
        
  
        	},



        	createHash() 
        	{
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for( var i=0; i < 8; i++ ){
                    text += possible.charAt(Math.floor(Math.random() * possible.length));
                }

                this.form.alias = 'http://'+this.domain+'/'+text;

	            this.$http.get('/api/pixelink/uri/check/?uri='+this.form.alias).then((response) => {
	                // success callback
                    if(response.body == 'true'){
                        this.createHash();
                    }
	              }, (response) => {
	                // error callback

	              });

	        },

          URLchecker(){
              if(this.form.alias.length < (this.domain.length+8)){
                console.log('yes');
                this.form.alias='http://'+this.domain+'/';
              }else{
                    this.checkURIPost();
                                }
          },

           checkURIPost: _.debounce(function () {
              // ...
              var alias = this.form.alias;
               this.$http.get('/api/pixelink/uri/check/?uri='+alias).then((response) => {
                  // success callback
                    if(response.body == 'true'){
                        this.isExist = true;
                        if(alias == this.pixelink.alias){
                          this.isExist = false;
                        }
                    }else{
                      this.isExist = false;
                    }
                }, (response) => {
                  // error callback

                });
            }, 500)




        }
    }
</script>
