<template>

	<div class="share-input-wrapper ">	
		<div class="md-form-group ">
			<select class="md-input"  v-model="shareWay" name="	" id="">
				<option >Quick Share</option>
				<option >Canonical Share</option>
			</select>
			<label>Cara Ngeshare</label>
		</div>
		<div v-if="shareWay=='Canonical Share'">	
		<div class="md-form-group ">
			<input placeholder="kosong = default property" v-model="title" type="text" class="md-input">
			<label>Title</label>
		</div>
		<div class="md-form-group ">
			<input  placeholder="kosong = default property"  type="text" v-model="description" class="md-input">
			<label>Description</label>
		</div>
		<div class="md-form-group ">
			<input  placeholder="kosong = default property" type="text" v-model="caption" class="md-input">
			<label>URL</label>
		</div>
		<div class="md-form-group ">
			<input  placeholder="kosong = default property" type="text" v-model="picture" class="md-input">
			<label>Image</label>
		</div>
		</div>
		<div class="alert alert-info">{{generatedUrl}}</div>
		<div v-show="bitly" class="alert alert-success">{{bitly}}</div>
		<button @click="copyBitly" v-if="bitly" class="btn info btn-md">copy bitly link!</button>
		<button @click="generateBitly" v-else class="btn info btn-md">generate bitly link!</button>
		<button @click="share"  class="btn info btn-md">Share Sekarang!</button>
	</div>

</template>

<script>
	export default {
		props: ['alias','url', 'just_token'],
		data(){
			return{
				shareWay : 'Quick Share',
				title : '',
				description : '',
				caption : '',
				picture : '',
				bitly : '',


			}
		},
		mounted() {
        },
		computed : {
			generatedUrl(){
				 return 'https://web.facebook.com/sharer/sharer.php?u='+this.alias+this.generateTitle+this.generateDescription+this.generateCaption+this.generatePicture;
			},
			generateTitle(){
				if(this.title == '')
					return "";
				else
					return '&title='+this.title;
			},
			generateDescription(){
				if(this.description == '')
					return "";
				else
				return '&description='+this.description;
			},
			generateCaption(){
				if(this.caption == '')
					return "";
				else
				return '&caption='+this.caption;
			},
			generatePicture(){
				if(this.picture == '')
					return "";
				else
				return '&picture='+this.picture;
			}
		},
		methods:{
			share(){
				window.open(this.generatedUrl, 'mywin',
				'left=0,top=0,width=558,height=600,toolbar=1,resizable=0'); 
				return false;
			},
			generateBitly(){
					$.get( "https://api-ssl.bitly.com/v3/user/link_save?access_token="+this.just_token+"&longUrl="+this.generatedUrl, function( data ) {
				  this.bitly = (data.data.link_save.link);
				});
		
			}
		}
	}
</script>

<style>	
	.share-input-wrapper{
		margin : 5px;
		padding: 5px;
	}
	.btn-full{
		width: 100%;
	}
</style>
