<template>


        <div class="md-form-group">
              <select v-model="selectedg" class="md-input" name="google_id" id="">
                <option v-for="g in google" :value="g.id">{{g.google_id}} - {{g.name}}</option>
                <option value="">Tanpa Pixel</option>
              </select>
              <label>Pilih Google Remarketing anda</label>
        </div>

</template>

<script>
    export default {
    	props: ['google','selectedg'],
    }
</script>
