<template>
	<div >

		<div class="input-group ">
			<input type="text" name="link" v-model="newPixel" class="form-control" placeholder="Masuk Pixel ID anda">
			<span class="input-group-btn">
				<button class="btn btn-info" @click="createNew" type="submit">Bikin Baru</button>
			</span>
		</div>



		<div id="pixel-wrapper" v-if="pixels.length>0" >
			<span  id="number">No</span>
			<span id="data-pixel">Pixel </span>
		</div>
		<div v-else id="noquery">
			<h4>Pixel anda masih Kosong</h4>
		</div>
		<div id="pixel-wrapper" v-for="(pixel, index) in pixels">

			<span  id="number">{{index+1}}</span>
			<span  v-show="!pixel.isEdit"  id="data-pixel"  >{{pixel.pixel_id}}</span>
			<span  v-show="!pixel.isEdit"  id="data-pixel"  >{{pixel.name}}</span>
			<input id="data-pixel" v-show="pixel.isEdit"   type="text" v-model="pixel.pixel_id">
			<input id="data-pixel" v-show="pixel.isEdit"   type="text" v-model="pixel.name">

			<span v-show="!pixel.isEdit"  @click="editData(index)"  id="edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
			<span v-show="pixel.isEdit"  @click="updateData(index)"  id="edit"><i class="fa fa-save" aria-hidden="true"></i></span>
			<span @click="deleteData(index)"   id="delete"><i class="fa fa-times" aria-hidden="true"></i></span>
		</div>
	</div>
</template>

<script>
	export default {
		props: ["pixels_","type"],
		data(){
			return {
				pixels:[],
				newPixel : '',

			}
		},
		mounted(){
			for(var i=0;i<this.pixels_.length;i++){

				if(this.type == 'facebook'){
					this.pixels.push({id: this.pixels_[i].id,pixel_id: this.pixels_[i].pixel_id, name: this.pixels_[i].name, isEdit:false})
				}else{
					this.pixels.push({id: this.pixels_[i].id,pixel_id: this.pixels_[i].google_id, name: this.pixels_[i].name, isEdit:false})
				}
			}
			console.log(this.pixels[0].isEdit);
		},
		
		methods:{
			editData(index){
				this.pixels[index].isEdit = true;
			},

			createNew(){



				this.$http.post('/asset/'+this.type+'/store', {pixel:this.newPixel }).then((response) => {
					// console.log(response);
					this.pixels.push({id: response.body.id,pixel_id: this.newPixel, isEdit:false});

					this.newPixel = '';

				}, (response) => {
			    // error callback
			});


			},

			updateData(index){

				this.pixels[index].isEdit = false;

				this.$http.put('/asset/'+this.type+'/update/'+this.pixels[index].id, {pixel_id: this.pixels[index].pixel_id, name: this.pixels[index].name }).then((response) => {
					// console.log(response);

				}, (response) => {
			    // error callback
			});


			},

			deleteData(index){
				// console.log(this.pixels[index].id);

				var data = this.pixels[index].id;

				this.pixels.splice(index,1);

				console.log(data);

				this.$http.delete('/asset/'+this.type+'/delete/'+data).then((response) => {

					console.log(response);
					

				}, (response) => {
			    // error callback
			});
			}


		}
	}
</script>


<style>


	#pixel-wrapper {
		display: flex;
		border-bottom: dashed 1px black;
		margin: 20px 0;
		justify-content: space-between;
	}

	#noquery{
		text-align: center;
		margin-top: 10px;
	}

	#pixel-wrapper #data-pixel {
		margin-right: auto;
		margin-left: 20px;
	}
	#pixel-wrapper #edit {
		cursor: pointer;
		font-size: 20px;
	}
	#pixel-wrapper #delete {
		cursor: pointer;
		margin-left: 5px;
		font-size: 20px;
	}



</style>