

<template>
    <div class="box">
      <div class="box-header">
        <h3>{{title}}</h3>
        <small>{{description}}</small>

      </div>
       <div class="box-tool">
                <ul class="nav">
                  <li class="nav-item inline">
                    <a class="nav-link">
                      <span v-show="hitLength > 0" class="label rounded" :class="[warnapanel]">{{Object.values(this.hit)[hitLength-1]}} klik</span> 
                    </a>
                  </li>
                </ul>
              </div>
      
        <div>
      
            <chart :data="chartData" :options="options" height="200" ></chart>
        </div>
        <div  class="box-body text-center p-b-md" :class="[warnapanel]" >
            <span v-show="hitLength > 1" class="dark-white rounded m-r p-x p-y-xs" :class="[warnatulisan]"><i v-show="persentage > 0" class="fa fa-caret-up"></i><i v-show="persentage < 0" class="fa fa-caret-down"></i> {{ persentage.toFixed(2) }}%</span>
            <span v-show="hitLength > 1" >dari kemarin</span>
            <span v-show="hitLength == 0" >belum ada traffic</span>
        </div>

    </div>
</template>

<script>

    export default {
       mounted(){
        console.log(this.hitLength);
      },  
   
       computed: {
          hitLength: function () {
            return Object.keys(this.hit).length;
          },

          persentage: function() {
            return 100*((Object.values(this.hit)[this.hitLength-1] - Object.values(this.hit)[this.hitLength-2])/Object.values(this.hit)[this.hitLength-2])
          }
        },

      props: ["warnapanel", "color", 'title', 'description','hit'],

      data(){
        return {
          warnatulisan: 'text-'+this.warnapanel,
          chartData: {
            labels: (Object.keys(this.hit)),
            datasets: [
              {
                label: this.title,
                          data: (Object.values(this.hit)),
                          fill: true,
                          backgroundColor: this.color,
                          borderColor: this.color,
                          borderWidth: 2,
                          borderCapStyle: 'butt',
                          borderDash: [],
                          borderDashOffset: 0.0,
                          borderJoinStyle: 'miter',
                          pointBorderColor: this.color,
                          pointBackgroundColor: '#fff',
                          pointBorderWidth: 2,
                          pointHoverRadius: 4,
                          pointHoverBackgroundColor: this.color,
                          pointHoverBorderColor: '#fff',
                          pointHoverBorderWidth: 2,
                          pointRadius: [0,4,4,4,4,4,0],
                          pointHitRadius: 10,
                          spanGaps: false
              }
            ]
          },
          options: {
                scales: {
                    xAxes: [{
                       display: false
                    }],
                    yAxes: [{
                       display: false,
                       
                    }]
                },
                legend: {
                    display: false
                }
              },

        }
      }
      
      

    }
</script>
