<template>
	<div class="wrapper">
		<div class="md-form-group">
		<input type="text" name="pixels" class="md-input">
		<label>Masukan Facebook Pixel Anda</label>
		</div>
		  <div class="md-form-group">
    <select  class="md-input" v-model="selectedEvent"  id="">

      <option v-for="event in events" :value="event.code">{{event.name}}</option>
      
    </select>
    <label>Pixel Event</label>
  </div>
   <div v-show="selectedEvent == 'custom'" class="md-form-group">
    <input type="text" v-model="custom" class="md-input">
    <label>Custom Event</label>
  </div>
  <div v-show="selectedEvent == 'purchase'" class="md-form-group">
    <input type="text" v-model="value" class="md-input">
    <label>Purchase Value</label>
  </div>
  <div v-show="selectedEvent == 'purchase'" class="md-form-group">
    <select  class="md-input" v-model="kurs" id="">
        <option>IDR</option>
        <option>USD</option>
 
    </select>
    <label>Currency</label>
  </div>
  <input type="hidden" name="pixel_event" :value="getEvent">

	</div>
</template>


<script>
	export default {
		computed : {
      getEvent(){
        if(this.selectedEvent == 'purchase'){
          return "fbq('track', 'Purchase', {value: '"+this.value+"', currency: '"+this.kurs+"'});";
        }
        else if(this.selectedEvent == 'custom'){
          return "fbq('track', '"+this.custom+"');";
        }
        else{
          return this.selectedEvent;
        }
      }
   },
   data(){
	    return {
	      selectedEvent : '',
	      value : '10.000',
	      kurs : 'IDR',
	      custom : '',
	      events : [
	        {name: 'View content', code:"fbq('track', 'ViewContent');"},
	        {name: 'Search', code:"fbq('track', 'Search');"},
	        {name: 'Add to cart', code:"fbq('track', 'AddToCart');"},
	        {name: 'Add to wishlist', code:"fbq('track', 'AddToWishlist');"},
	        {name: 'Initiate checkout', code:"fbq('track', 'InitiateCheckout');"},
	        {name: 'Add payment info', code:"fbq('track', 'AddPaymentInfo');"},
	        {name: 'Make purchase', code: 'purchase'},
	        {name: 'Lead', code:"fbq('track', 'Lead');"},
	        {name: 'Complete registration', code:"fbq('track', 'CompleteRegistration');"},
	        {name: 'Custom Event', code:"custom"},
	        ]
	    }
	   }
	}
</script>
