<template>
    <div class="donut-parent">

       <canvas :id="id" width="100" height="100"></canvas>
       <div class="donut-inner">
    <div><h6>{{id}}</h6></div>
</div>
   </div>
</template>

<script>

  export default {

    mounted(){

      this.renderChart();


    },
    props: ['id','data'],



    data(){
      return {
        scope : 'today',
        KlikChart : '',
        chartData:  {
        type: 'doughnut',
        data: {
            datasets: [{
                data: _.values(this.data),
                 backgroundColor: [ 
                    'rgba(7, 96, 176, 1)',
                    'rgba(6, 214, 160, 1)',
                    'rgba(84, 198, 235, 1)',
                    'rgba(138, 137, 192, 1)',
                    'rgba(205, 162, 171, 1)',
                    'rgba(28, 40, 59, 1)',
                    'rgba(86, 31, 55, 1)',
                    'rgba(57, 162, 174, 1)',
                    'rgba(85, 219, 203, 1)',
                    'rgba(117, 228, 179, 1)'
                ],
                label: 'Dataset 1'
            }],
            labels: _.keys(this.data)
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    },
        
      }
    },

    methods : {
      renderChart(){
            var ctx = document.getElementById(this.id).getContext("2d");
            var myDoughnut = new Chart(ctx, this.chartData);
      },
     


      }
      
      

    }
</script>
<style>
.donut-parent{
position: relative;
}
    .donut-inner {
   position: absolute;
   top : 52%;
   left: 42%;

}



</style>