

<template>
  <div class="box">
    <div class="box-header b-b">
      <h3>Klik Statistik</h3>
    </div>
    <div class="box-tool">
      <div class="dropdown">
        <a data-toggle="dropdown" class="btn btn-xs rounded white dropdown-toggle">{{scope}}</a>
        <div class="dropdown-menu pull-right">
          <a class="dropdown-item" href="" @click.prevent="changeScope('today')">Hari ini</a>
          <a class="dropdown-item" href="" @click.prevent="changeScope('lastweek')">7 Hari Terakhir</a>
          <a class="dropdown-item" href="" @click.prevent="changeScope('lastmonth')">Bulan Terakhir</a>
          <a class="dropdown-item" href="" @click.prevent="changeScope('lastyear')">Setahun Terakhir</a>
        </div>
      </div>
    </div>
    <div>
      <div class="row-col">

        <div class="col-sm-12">

          <div class="p-a">
           <div class="box-body">

             <canvas id="myChart" width="400" height="220"></canvas>


           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

</template>

<script>

  export default {

    mounted(){

      this.renderChart();


    },
    props: ['Klik','Unik','Campaign_id','model'],



    data(){
      return {
        scope : 'today',
        KlikChart : '',
        chartData: {
          labels: _.keys(this.Klik),
          datasets: [{
            type: 'bar',
            label: 'Unik Klik',
            borderColor: '#fb8305',
            backgroundColor : '#fb8305',
            borderWidth: 2,
            fill: false,
            data: _.values(this.Unik),
          },{
            label: 'Jumlah Klik',
            data: _.values(this.Klik),
            backgroundColor: 'rgba(7,96,176, 1)',
            borderColor: 'rgba(7,96,176, 1)',
            borderWidth: 1
          }]
        },
        chartOptions: {
          lineSmooth: false
        }
      }
    },

    methods : {
      renderChart(){
        var ctx = document.getElementById("myChart");
        this.KlikChart = new Chart(ctx, {
          type: 'bar',
          data: this.chartData,
          options: {
            scales: {
             xAxes: [{
              stacked: true
            }],

            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
      },
      changeScope(scope){
        this.scope = scope;

          // console.log(this.chartData.labels);

          this.$http.get('/'+this.model+'/hit/'+this.Campaign_id+'?scope='+scope).then((response) => {
                // success callback


                this.chartData.labels = (Object.keys(response.body.hit));
                this.chartData.datasets[0].data = (Object.values(response.body.unik));
                this.chartData.datasets[1].data = (Object.values(response.body.hit));

                this.KlikChart.update();



              }, (response) => {
                  // error callback
                });


        },


      }
      
      

    }
  </script>
