<template>
 <div class="app-body-inner" >
  <div class="row-col">
    <div class="col-xs-5 w-xl modal fade aside aside-sm black" id="list">
      <div class="row-col lt">
        <!-- header -->
        <div class="p-a">
                <div class="input-group">
              <input type="text" @keyup.enter="search" class="form-control form-control-sm" v-model="query" placeholder="Ketik Nama Fanspage" required="">
              <span class="input-group-btn">
                <button @click="search" class="btn btn-default btn-sm no-shadow" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </div>
        <!-- / -->
        <!-- flex content -->
        <div class="row-row">
          <div class="row-body scrollable hover">
            <div class="row-inner">
              <!-- left content -->
              <div class="list inset">
                      <div class="list-item " v-for="(page, index) in orderedPage">
                    <div class="list-left">
                      <span class="w-40 avatar circle green">
                        <img :src="page.picture.data.url" alt=".">
                      </span>
                    </div>
                    <div class="list-body pointer" @click="fetchPosts(page.id, index)">
                      <span class="pull-right text-xs text-muted">{{page.fan_count}}</span>
                      <div class="item-title">
                        <span   class="_500">{{page.name}}</span>
                      </div>
                      <small class="block text-muted text-ellipsis">
                        {{page.category}}
                      </small>
                    </div>
                  </div>
 
          </div>
          <!-- / -->
        </div>
      </div>
    </div>
    <!-- / -->
    <!-- footer -->
        <div class="p-x-md p-y">
      <div v-show="query && orderedPage.length > 0" class="btn-group pull-right">
        <a href="" class="btn btn-xs white"><i class="fa fa-fw fa-angle-right"></i> load more</a>
      </div>
      <span class="text-sm text-muted">menampilkan {{orderedPage.length}}</span>
    </div>

    <!-- / -->
  </div>
</div>
<div class="col-xs-7 bg" >
  <div class="row-col">
    <!-- header -->
    <div class="white b-b bg">
      <div class="navbar">
        <!-- nabar right -->
              <ul class="nav navbar-nav pull-right m-l">

                  <li class="nav-item dropdown pos-stc-xs m-r-sm">
                    <a class="nav-link" data-toggle="dropdown">
                      <i class="ion-android-search w-24"></i>
                    </a>
                    <div class="dropdown-menu text-color w-md animated fadeInUp pull-right">
                      <!-- search form -->
                      <form onsubmit="event.preventDefault();" class="form-vertical m-b-0" role="search">
                        <div class="form-group p-x-sm m-b-0">
                            <input type="text" class="md-input" v-model="searchString" placeholder="Search Posts...">
                 
                        </div>
                      </form>
                      <!-- / search form -->
                    </div>
                  </li>

                <select name="" style="width: 60px"  id="" class="m-r-sm" data-toggle="tooltip"  title="Sort" v-model="sortby" >
                  <option value="shares.count">Share</option>
                  <option value="comments.summary.total_count">Komen</option>
                  <option value="likes.summary.total_count">Like</option>
                </select>

                 <select name="" style="width: 40px"  id="" class="m-r-sm" data-toggle="tooltip"  title="Filter" v-model="filter_type" >
                  <option value="all">All</option>
                  <option value="link">Link</option>
                  <option value="photo">Photo</option>
                  <option value="video">Video</option>
                </select>

                <label data-toggle="tooltip" title="Gambar" style="position: relative; top:5px;" class="ui-switch info m-r m-t">
                  <input v-model="showImages"  type="checkbox" :checked="showImages">
                  <i></i>
                </label>
                
                <span v-show="posts.length > 0" @click="nextPost" data-toggle="tooltip"  title="More Posts" class="btn btn-sm info white"><i class="fa fa-plus"></i></span>
              </ul>
              <!-- / navbar right -->
              <a data-toggle="modal" data-target="#list" data-ui-modal class="navbar-item pull-left hidden-md-up">
                <span class="btn btn-sm btn-icon white">
                  <i class="fa fa-list"></i>
                </span>
              </a>


          <!-- / link and dropdown -->
        </div>
      </div>
      <!-- / -->
      <!-- flex content -->
      <div class="row-row">
        <div class="row-body">
          <div class="row-inner">
            <!-- mail content -->


                <div class="alert alert-info m-a" v-if="orderedPost.length > 0">
                  <strong><i class="fa fa-share p-r-xs"></i> 4999</strong> ini adalah angka share, jika post type <strong>link</strong>, tekan tombol ini untuk membuat contentlink secara cepat. <br>
                  <strong><i class="fa fa-toggle-on p-r-xs"></i></strong> untuk menampilkan image pada posts <br>
                  <strong><i class="fa fa-sort p-r-xs"></i></strong> secara default, posts diurutkan/sorting dengan jumlah share <br>
                  <strong><i class="fa fa-expand p-r-xs"></i></strong> klik pada title untuk menampilkan posts di facebook

                  <!-- <strong><i class="ion-pin p-r-xs"></i> pin</strong> belum bs di klik, masih coming soon! tombol ini nantinya menyimpan post yang disukai -->
                </div>
                <div class="alert alert-info m-a hidden-md-up" v-else>
                  <strong><i class="fa fa-list"></i></strong> tekan tombol ini untuk memulai pencarian!
                </div>
                <div class="col-xs-12">
                           <span v-show="posts.length > 0" >{{posts.length}} posts loaded.</span>
                </div>
               <div v-for="post in orderedPost" v-show="post.shares" class="col-xs-12 col-md-6">
                  <div  class="box">
                    <div class="p-a h-4x" v-show="post.type != 'link'"><a :href="post.permalink_url" target="_blank">{{post.message}}</a></div>
                    <div v-show="showImages" class="item">
                      <div class="row no-gutter">
                        <div class="col-xs-12">
                          <a :href="post.permalink_url" target="_blank"><img :src="post.full_picture" alt="." class="w-full"></a>
                        </div>
                      </div>
                    </div>
                    <div class="p-a">
                      <div class=""><a :href="post.permalink_url" target="_blank" class="_800">{{post.name}}</a></div>
                      <p class="">{{post.description}}</p>
                      <div class="">
                        <a class="label deep-orange text-white m-r">{{post.type}}</a>
                        
                            <a v-if="post.type == 'link'" href="#" @click.prevent="openModal(post.link)"   class="text-muted m-r"><i class="fa fa-thumbs-up p-r-xs"></i>{{typeof post.likes !== 'undefined' ? post.likes.summary.total_count : 0}}</a> 
                        <span v-else href="#"  class="text-muted m-r"><i class="fa fa-thumbs-up p-r-xs"></i>{{typeof post.likes !== 'undefined' ? post.likes.summary.total_count : 0}}</span> 

                          <a v-if="post.type == 'link'" href="#" @click.prevent="openModal(post.link)"   class="text-muted m-r"><i class="fa fa-comment p-r-xs"></i>{{typeof post.comments !== 'undefined' ? post.comments.summary.total_count : 0}}</a> 
                        <span v-else href="#"  class="text-muted m-r"><i class="fa fa-comment p-r-xs"></i>{{typeof post.comments !== 'undefined' ? post.comments.summary.total_count : 0}}</span> 

                        <a v-if="post.type == 'link'" href="#" @click.prevent="openModal(post.link)"   class="text-muted m-r"><i class="fa fa-share p-r-xs"></i>{{typeof post.shares !== 'undefined' ? post.shares.count : 0}}</a> 
                        <span v-else href="#"  class="text-muted m-r"><i class="fa fa-share p-r-xs"></i>{{typeof post.shares !== 'undefined' ? post.shares.count : 0}}</span> 
                       
                        <!-- <a @click.prevent="pin()"  class="text-muted m-r" href="#"><i class="ion-pin p-r-xs"></i>pin</a> -->
                      </div>
                    </div>

                  </div>
                </div>
        
      <!-- / -->
    </div>
  </div>
</div>
<!-- / -->
</div>
</div>
</div>
    <div class="modal fade" id="new-contentlink" data-backdrop="true">
      <div class="modal-right w-xl white b-l">
        <div class="row-col">
          <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">&times;</a>
          <div class="p-a b-b">
            <span class="h5">Contentlink</span>
          </div>
          <div class="row-row">
            <div class="row-body">
              <div class="row-inner">
                <div class="list-group no-radius no-borders">
                  <create-contentlink-from-research :url="url" :domains="domains" :mycontentlink="mycontentlink" :facebook="facebook" :google="google"></create-contentlink-from-research>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
</template>

<script>
  export default {
    props : ['domains','mycontentlink','facebook','google'],
    mounted(){

      this.$http.get('/viral/page').then((response) => {
                // success callback
                this.savedpages = ((response.body));

              }, (response) => {
                  // error callback
                });

    },

    data(){
      return {
        showImages : false,
        query : '',
        sortby : 'shares.count',
        searchString : '',
        pages : '',
        savedpages : '',
        posts : '',
        token : 'EAAZAz1EM88ZA8BAPkQKgmCLpXOwZCXxi2HZCdcn7h9rfixScwX2wQ3QixZAaZBOLyp0mnKaiVL6mCMBOuFkltG4BjVYLSPbBCC4qbEZAkquwYZCFEKuZAlFovp8xKry8RYFX14WArbOmtaIg2vWTlpTjt8uliqzj09ncZD',
        activeId : '',
        nextToken : '',
        filter_type : 'all',
        url : 'ayam goreng',
      }

    },
    computed: {
      orderedPost: function () {
        var filter_type = this.filter_type;

         var searchString = _.lowerCase(this.searchString);
        var posts = '';

        if(filter_type != 'all'){
          let sortPosts = _.orderBy(this.posts, this.sortby, 'desc');

          posts = sortPosts.filter(function (number) {
            return number.type === filter_type;
          });

        }else{
          posts =  _.orderBy(this.posts, this.sortby, 'desc');
        }

         return posts.filter(function (item) {
           if(_.includes(_.lowerCase(item.name), searchString) || 
            _.includes(_.lowerCase(item.message), searchString) || 
            _.includes(_.lowerCase(item.description), searchString) 

                ){
                    return item;
                }
          });





      },
      orderedPage: function () {
        if(this.query){
          return _.orderBy(this.pages, ['fan_count'], ['desc']);
        }
        else
          return this.savedpages;
      },
    },
    watch : {
      showImages(){
        if (typeof this.posts[0].full_picture == 'undefined') {
              // remove all post that fetch before

              this.$http.get('https://graph.facebook.com/v2.8/'+this.activeId+'/posts?access_token='+this.token+'&type=link&limit=100&fields=description,full_picture,likes.limit(0).summary(true),comments.limit(0).summary(true),created_time,name,shares,type,message,link,permalink_url').then((response) => {
                // success callback
                this.posts =  (response.body.data);

                this.nextToken = response.body.paging.next;

              });

            }
          },
          query(){
            this.pages ='';
          }
        },
        methods : {
          search(){
            this.$http.get('https://graph.facebook.com/v2.8/search?q='+this.query+'&type=page&access_token='+this.token+'&fields=name,id,category,picture,fan_count').then((response) => {
                // success callback
                this.pages = (response.body.data);
              }, (response) => {
                // error callback
              });
          },
          fetchPosts(id, index){

            this.activeId = id;

            $('#list').modal('hide');

            let page = '';

            if(this.query){
              page = this.pages[index];

              this.savedpages.unshift(page);

              this.$http.post('/viral/page', {page: page}).then((response) => {
                  // success callback


                });


            }else{
              page = this.savedpages[index];
            }


            this.$http.get('https://graph.facebook.com/v2.8/'+id+'/posts?access_token='+this.token+'&type=link&limit=100&fields=description,'+(this.showImages ? 'full_picture,' : '')+'created_time,name,shares,type,message,link,likes.limit(0).summary(true),comments.limit(0).summary(true),permalink_url').then((response) => {
                // success callback
                this.posts =  (response.body.data);

                this.searchString = '';

                this.nextToken = response.body.paging.next;

              });
          },
          nextPost(){

            if(this.posts == 0 ){
              this.fetchPosts(this.activeId);
            }else{

              this.$http.get('https://graph.facebook.com/v2.8/'+this.activeId+'/posts?access_token='+this.token+'&type=link&limit=100&fields=description,'+(this.showImages ? 'full_picture,' : '')+'created_time,name,shares,type,link,message,likes.limit(0).summary(true),comments.limit(0).summary(true),permalink_url&__paging_token='+this.nextToken).then((response) => {
                // success callback
                this.posts =  this.posts.concat(response.body.data);

                this.nextToken  = response.body.paging.next;

              }, (response) => {
                // error callback
              });

            }
            
          },
          pin(id){

          },

          openModal(link){
            this.url = (link);
            $('#new-contentlink').modal('show');
          }

        }
      }
    </script>


    <style>
      .pointer{
        cursor: pointer;
      }
    </style>