<template>
        <div >
        <h1>Orderlink Users</h1>
        <div class="col-md-4 m-b">
          <input type="text" v-model="search" class="form-control" placeholder="Cari...">
        </div>
        <table class="table table-responsive">
         <thead>
    <tr>
      <th @click="sortBy('id')">#</th>
      <th @click="sortBy('name')">Nama</th>
      <th @click="sortBy('email')">Email</th>
      <th @click="sortBy('isVerified')">Verified?</th>
      <th @click="sortBy('created_at')">Kapan Gabung?</th>
      <th @click="sortBy('upline')">Upline</th>
      <th @click="sortBy('roles')">Roles</th>
       <th >Action</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(data, index) in getdata">
      <th scope="row">{{data.id}}</th>
      <td>{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.isVerified}}</td>
      <td>{{(data.created_at)}}</td>
      <td>{{(data.upline)}}</td>
      <td>{{(data.roles)}}</td>
      <td>
        <a v-show="data.roles == ''" href @click.prevent="attachRole(index)"  class="btn btn-xs primary rounded">
              <i class="fa  fa-plus"></i>
              Role
              </a>
        <a  href @click.prevent="addCredit(index)"  class="btn btn-xs primary rounded">
              <i class="fa  fa-plus"></i>
              Credit
              </a>
              <a v-show="data.roles" href @click.prevent="deleteRole(index)"  class="btn btn-xs danger rounded">
              <i class="fa  fa-close"></i>
              Role
              </a>
      <a v-show="data.isVerified == 'belum'" href href @click.prevent="verifyUser(index)"  class="btn btn-xs success rounded">
              <i class="fa  fa-check"></i>
              Verify
              </a><a href @click.prevent="deleteUser(index)" class="btn btn-xs danger rounded">
              <i class="fa  fa-close"></i>
              User
              </a></td>
    </tr>

  </tbody>
        </table>

<!-- right -->
<div class="modal fade" id="attach-role" data-backdrop="true">
  <div class="modal-right w-xl white b-l">
      <div class="row-col">
        <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">&times;</a>
        <div class="p-a b-b">
          <span class="h5">Berikan Role kepada {{activeUser}}</span>
        </div>
        <div class="row-row">
          <div class="row-body">
            <div class="row-inner">
              <div class="p-a">
                        <div class="md-form-group">
                  <select v-model="role_id" class="md-input" name="role" id="">
                    
                    <option v-for="role in roles" :value="role.id">{{role.display_name}}</option>
                  </select>
                  <label>Role</label>
                </div>


                <div class="md-form-group">
                  <select class="md-input" v-model="ends_at" name="bulan" id="">
                    <option value="1">1 Bulan</option>
                    <option value="3">3 Bulan</option>
                    <option value="6">6 Bulan</option>
                    <option value="12">1 Tahun</option>
                  </select>
                  <label>Selama</label>
                </div>
                      <button @click="submitRole()" class="btn info w-full">Berikan!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="p-a b-t">
          <a href="#" class="text-muted"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
          <a href="#" class="text-muted m-h"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
        </div>
      </div>
  </div>
</div>
<div class="modal fade" id="add-credit" data-backdrop="true">
  <div class="modal-right w-xl white b-l">
      <div class="row-col">
        <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">&times;</a>
        <div class="p-a b-b">
          <span class="h5">Berikan Kredit kepada {{activeUser}}</span>
        </div>
        <div class="row-row">
          <div class="row-body">
            <div class="row-inner">
              <div class="p-a">

                <div class="md-form-group">
                  <input type="number" v-model="klik" class="md-input">
                  <label>Jumlah Klik</label>
                </div>

                 <div class="md-form-group">
                  
                  <label>Harga</label>
                  <p>Rp.{{klik*0.2}},-</p>
                </div>
                      <button  @click="submitCredit()" class="btn info w-full">Berikan!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="p-a b-t">
          <a href="#" class="text-muted"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
          <a href="#" class="text-muted m-h"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
        </div>
      </div>
  </div>
</div>
<!-- / .modal -->
        </div>
</template>

<script>
    export default {
        props: ['roles'],
        mounted() {

                      this.$http.get('/api/users').then((response) => {
                // success callback
                let data = (response.body);



                this.filldata = data.filter(function(item){
              
                
                      item.isVerified = (item.isVerified ? 'verified' : 'belum');

                      item.upline = (item.upline ? item.upline.toString() : '');

                      item.created_at = moment(item.created_at).fromNow();

                      if(item.roles.length > 0){
                        item.roles = item.roles[0].name+' '+moment(item.roles[0].pivot.ends_at).fromNow();
                      }else{
                        item.roles = '';
                      }

                      return item;
        
                  });


                    
                }, (response) => {
                  // error callback
                });





                   
           
        },
        computed : {
          activeUser (){
            return this.getdata[this.activeEdit];
          },
          getdata(){
            let data =  _.orderBy(this.filldata, [this.sortID], [this.urutan]);

            let searchString = this.search;




            if(!searchString){
                return data;
            }

            this.first = false;

            searchString = searchString.trim().toLowerCase();

             data = data.filter(function(item){
  
                if(item.id.toString().indexOf(searchString) !== -1 || 
                  item.name.toLowerCase().indexOf(searchString) !== -1 || 
                  item.roles.toLowerCase().indexOf(searchString) !== -1 || 
                  item.isVerified.toLowerCase().indexOf(searchString) !== -1 || 
                  item.upline.toLowerCase().indexOf(searchString) !== -1 || 
                  item.email.toLowerCase().indexOf(searchString) !== -1  ){
                    return item;
                }
            })

            return data;


          },
        },


        data(){
            return {
                 filldata : '',
                 sortID : 'id',
                 urutan : 'desc',
                 search : '',
                 first : true,
                 data2 : [],
                 activeEdit : '',
                 role_id : '3',
                 klik : 0,
                 ends_at : '1'

          
            }
        },

        methods : {
          sortBy(id){
            if(this.sortID == id){
              this.urutan = (this.urutan == 'asc' ? 'desc' : 'asc');
            }else{
              this.sortID = id;
            }
            
          },


          attachRole(id){
            this.activeEdit = id;
            $('#attach-role').modal('show');

          },
          addCredit(id){
            this.activeEdit = id;
            $('#add-credit').modal('show');
          },
          deleteRole(id){
            let user = this.getdata[id].id;

              this.$http.post('/userv2/role/hapus', {user: user}).then(response => {
                  this.getdata[id].roles = '';
                  toastr.success("role dihapus!");
              }, response => {
                // error callback
              });

          },
            submitCredit(){

            

              this.$http.put('/userv2/credit', {user: this.getdata[this.activeEdit].id, klik : this.klik}).then(response => {
 toastr.success("credit di tambahkan!");

              }, response => {
                // error callback
              });

            $('#add-credit').modal('hide');


          },
          submitRole(){

            

              this.$http.put('/userv2/berikanrole', {user: this.getdata[this.activeEdit].id, role : this.role_id, bulan : this.ends_at}).then(response => {
 toastr.success("role sukses diberikan!");
 this.getdata[this.activeEdit].roles = this.roles[this.role_id-1].name;

              }, response => {
                // error callback
              });

            $('#attach-role').modal('hide');


          },

          verifyUser(id){
              this.getdata[id].isVerified = 'verified';

              this.$http.put('/userv2/'+this.getdata[id].id, {isVerified : 1, token:""}).then(response => {
toastr.success("user telah diverifikasi!");

              }, response => {
                // error callback
              });

          },
          deleteUser(id){

                var data = this.getdata[id].id;

        this.getdata.splice(id,1);


        this.$http.delete('/userv2/'+data).then((response) => {
toastr.success("user dihapus!");


        }, (response) => {
          // error callback
      });
 
          }


        }
    }
</script>

<style>
  thead tr th {
    cursor: pointer;
  }
</style>