


html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    background-color: #1f65ad;
    background: url(/canvas/page/main.jpg) center;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

