<template>
	<v-app id="example-3">

		<v-toolbar primary>
			<v-btn @click.native.stop="$router.go(-1)" icon class="white--text" >
				<v-icon>arrow_back</v-icon>
			</v-btn>
			<v-toolbar-title>Bikin Orderlink</v-toolbar-title>
		</v-toolbar>
		<main>
			<v-container fluid>
				<v-layout>
					<v-flex xs12 md8 offset-md2 offset-lg3  lg6>
						<v-card>
							<v-card-text>
								<v-layout row wrap>
									<v-flex xs6 md2>
										<v-radio label="WhatsApp" v-model="createnew.tipelink" value="WA" success dark hide-details />
									</v-flex>
									<v-flex xs6 md2>
										<v-radio label="SMS" v-model="createnew.tipelink" value="SMS" success dark hide-details />
									</v-flex>
									<v-flex xs6 md2>
										<v-radio label="Telegram" v-model="createnew.tipelink" value="Telegram" success dark hide-details />
									</v-flex>
									<v-flex xs6 md2>
										<v-radio label="BBM" v-model="createnew.tipelink" value="BBM" success dark hide-details />
									</v-flex>
									<v-flex xs6 md2>
										<v-radio label="Line" v-model="createnew.tipelink" value="Line" success dark hide-details />
									</v-flex>
									<v-flex xs6 md2>
										<v-radio label="Telpon" v-model="createnew.tipelink" value="Telpon" success dark hide-details />
									</v-flex>
								</v-layout>

								<v-layout row wrap>
									<v-flex xs12 md6>
										<v-text-field
										label="Title"
										hint="optional (boleh dikosongkan)"
										v-model="createnew.title"
										persistent-hint
										/>
									</v-flex>
									<v-flex xs12 md6>
										<v-text-field
										:label="tipelink[looktipelink].label"
										:hint="tipelink[looktipelink].example"
										v-model="createnew.nomor"
										persistent-hint
										/>
									</v-flex>
								</v-layout>

								<v-layout row wrap>
									<v-flex xs12>
										<v-text-field v-if="looktipelink == 'WA' || looktipelink == 'SMS'"
										label="Isi Pesan"
										multi-line
										v-model="createnew.isisms"
										></v-text-field>
									</v-flex>
								</v-layout>

								<v-layout row wrap>
									<v-flex xs12 md6>
										<v-select
										label="Pilih Domain"
										:items="domains"
										item-text = "domain"
										item-value= "domain"
										v-model="domain"
										@input="generateAlias()"
										/>
									</v-flex>
									<v-flex xs12 md6>
										<v-text-field
										label="Custom Link"
										v-model="alias"
										@change="aliascheck()"


										/>
									</v-flex>
								</v-layout>

								<v-layout row wrap>
									<v-flex xs12>
										<v-text-field
										label="Desktop Redirect URL"
										v-model="createnew.desktop_url"
										hint="(optional) Desktop Redirect URL adalah alamat pengalihan ketika link diakses via komputer (wajib didahului http)"
										persistent-hint
										/>
									</v-flex>
								</v-layout>

								<v-layout>
									<v-flex xs12 style="display : flex">
										<v-chip close style="margin-top:20px" v-model="createnew.tags[index]" v-for="(i, index) in createnew.tags">{{i}}</v-chip>
										<v-text-field
										label="Label"
										@keyup.enter.native="tagsubmit()"
										v-model="taginput"
										hint="(optional) tekan enter untuk bikin label"
										persistent-hint
										/>
									</v-flex>
								</v-layout>
								<v-layout row wrap v-if="pixels.length > 0">
									<v-flex xs12 md6>
										<v-select
										label="Pilih Pixel"
										v-bind:items="pixels"
										v-model="createnew.pixels"
										multiple
										dark
										></v-select>
									</v-flex>
									<v-flex xs12 md6>
										<v-select
										label="Pilih Event"
										:items="pixel_events"
										item-text="name"
										item-value="name"
										v-model="createnew.pixel_event"

										/>
									</v-flex>
								</v-layout>

								<p class="text-xs-right"><v-btn primary light @click.native.stop="submit()" >Bikinin Satu!</v-btn></p>


							</v-card-text>
						</v-card>
					</v-flex>

				</v-flex>
			</v-layout>
		</v-container>
	</main>
</v-app>
</template>
<script>
	export default{
		mounted(){
			this.loaddata('domains');

			this.loaddata('pixels');

			

		},
		computed : {
			looktipelink(){
				var data = this.createnew.tipelink;

				this.createnew.tags[0] = data;

				return data; 
			}
		},
		data(){
			return {
				createnew : {
					tipelink : 'WA',
					isisms : '',
					nomor : '',
					alias : '',
					desktop_url : '',
					pixels : [], 
					pixel_event : '',
					api_version : '3.0.1',
					title : '',
					tags : []
				},
				domains : [],
				domain : '',
				taginput : '',
				alias : '',
				pixels : '',
				tipelink : {
					SMS : {shorter: 's', label: 'masukan no.hp anda', example: 'cth : 087815579530'},
					BBM : {shorter: 'b', label: 'masukan pin bbm anda', example: 'cth : F34DFDF'},
					Telpon : {shorter: 'w', label: 'masukan no.hp anda', example: 'cth : 087815579530'},
					WA : {shorter: 'wa', label: 'masukan no.hp anda', example: 'cth : 6287815579530 (didahului 62)'},
					Telegram : {shorter: 't', label: 'masukan id anda', example: 'cth : orderlink'},
					Line : {shorter: 'l', label: 'masukan id anda', example: 'cth : @orderlink'},

				},
				pixel_events : [
				{name: 'View content', code:"fbq('track', 'ViewContent');"},
				{name: 'Search', code:"fbq('track', 'Search');"},
				{name: 'Add to cart', code:"fbq('track', 'AddToCart');"},
				{name: 'Add to wishlist', code:"fbq('track', 'AddToWishlist');"},
				{name: 'Initiate checkout', code:"fbq('track', 'InitiateCheckout');"},
				{name: 'Add payment info', code:"fbq('track', 'AddPaymentInfo');"},
				{name: 'Lead', code:"fbq('track', 'Lead');"},
				{name: 'Complete registration', code:"fbq('track', 'CompleteRegistration');"},
				],
			}
		},

		methods : {
			submit(){

				this.$router.push('/orderlink');
				this.$http.post('/v3/orderlink',{orderlink : this.createnew}).then(response => {
					var data = response.body;

					data.hit = 0;

					this.$store.commit('push', {name : 'orderlink', value : data});

					

					this.alias = '';

					this.createnew = {
						tipelink : 'WA',
						isisms : '',
						nomor : '',
						alias : '',
						desktop_url : '',
						pixels : [], 
						pixel_event : '',
						api_version : '3.0.1',
						title : '',
						tags : []
					}


				}, response => {

				});


			},
			loaddata(data){

				if(!this.$store.state[data]){

					this.$http.get('/v3/'+data).then(response => {

	            // get body data
	            this[data] = (response.body);

	            var pixellog = {
	            	name : data,
	            	value : this[data]
	            }



	            this.$store.commit('init', pixellog);

	        }, response => {
	            // error callback
	        });

				}else{

					this[data] = this.$store.state[data];

				}

			},
			tagsubmit(){
				this.createnew.tags.push(this.taginput);
				this.taginput = '';
			},
			generateAlias(){
				var huruf = 'qwertyuiopasdfghjklzxcvbnm';

				var result = '';

				var i=0;

				function hash(){
					var getchar = Math.random() * huruf.length + 0;

					result+=huruf.charAt(getchar);

					i++;

					if(i<8)
						hash();
				}

				hash();

				this.alias = result;

				this.aliascheck();



			},
			aliascheck(){
				this.createnew.alias = 'http://'+this.domain+'/'+this.tipelink[this.looktipelink].shorter+'/'+this.alias;
			},
		}
	}
</script>