<template>
	
  <v-dialog v-model="link_creation_modal" width="920"  >
    <v-btn slot="activator" floating="floating" primary style="position: fixed; right: 5vh; bottom: 5vh;">
      <v-icon>add</v-icon>
    </v-btn>

    <v-card>
      <v-toolbar class="indigo">
        
        <v-toolbar-title>Bikin Baru</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon @click.native="link_creation_modal = false">clear</v-icon>
        </v-btn>

         <!--  <v-btn icon>
            <v-icon>more_vert</v-icon>
          </v-btn> -->
        </v-toolbar>
        <v-card-text >
          
          <div id="step-1" v-show="step == 1">
          <v-alert error  dismissible v-model="alert">
               {{alert_text}}
          </v-alert>
             <!-- <h1 class="title">Isilah Form di Bawah ini untuk membuat Orderlink</h1> -->
          <v-row>
            <v-col xs12 sm12 md2>
              <v-radio label="WhatsApp" v-model="createnew.tipelink" value="WA" success light hide-details />
            </v-col>
            <v-col xs12 sm12 md2>
              <v-radio label="SMS" v-model="createnew.tipelink" value="SMS" success light hide-details />
            </v-col>
            <v-col xs12 sm12 md2>
              <v-radio label="Telegram" v-model="createnew.tipelink" value="Telegram" info light hide-details />
            </v-col>
            <v-col xs12 sm12 md2>
              <v-radio label="BBM" v-model="createnew.tipelink" value="BBM" primary light hide-details />
            </v-col>
            <v-col xs12 sm12 md2>
              <v-radio label="Line" v-model="createnew.tipelink" value="Line" success light hide-details />
            </v-col>
            <v-col xs12 sm12 md2>
              <v-radio label="Telpon" v-model="createnew.tipelink" value="Telpon" info light hide-details />
            </v-col>
            <v-col xs12 sm12 md6>
          <v-text-field
          label="Title"
          hint="optional (boleh dikosongkan)"
          v-model="createnew.title"
          persistent-hint
          />
          </v-col>
            <v-col xs12 sm12 md6>
          <v-text-field
          :label="SelectTipe.label"
          :hint="SelectTipe.example"
          v-model="createnew.nomor"
          persistent-hint
          />
          </v-col>
          </v-row>
             <v-text-field v-if="createnew.tipelink == 'WA' || createnew.tipelink == 'SMS'"
            label="Isi Pesan"
            multi-line
            v-model="createnew.isisms"
          ></v-text-field>
          <v-row>
            <v-col xs12 sm12 md6>
          <v-select
          label="Pilih Domain"
          :items="domains"
          v-model="domain"
          @input="aliascheck()"
          />
          </v-col>

          <v-col xs12 sm12 md6>
          <v-text-field
          label="Custom Link"
          v-model="alias"
          @change="aliascheck()"


          />
          </v-col>
           <v-col md12 xs12 sm12>
          <v-text-field
          label="Desktop Redirect URL"
          v-model="createnew.desktop_url"
          hint="(optional) Desktop Redirect URL adalah alamat pengalihan ketika link diakses via komputer (wajib didahului http)"
          persistent-hint
          />
          </v-col>
          <v-col xs12 sm12 md12 style="display: flex">
            <!-- {{createnew.tags}} -->

           <v-chip close style="margin-top:20px" v-model="createnew.tags[index]" v-for="(i, index) in createnew.tags">{{i}}</v-chip>
          <v-text-field
          label="Label"
          @keyup.enter.native="tagsubmit()"
          v-model="taginput"
          hint="(optional) tekan enter untuk bikin label"
          persistent-hint
          />
          </v-col>
          </v-row>
          <v-row v-if="pixels.length > 0">
              <v-col md6>
                <v-select
               label="Pilih Pixel"
               :items="pixels"
               v-model="createnew.pixels"
               @input="saveData()"
               multiple
               chips

               />
              </v-col>
              <v-col md6>
                <v-select
               label="Pilih Event"
               :items="pixel_events"
               item-text="name"
               item-value="name"
               v-model="createnew.pixel_event"
               @input="saveData()"

               />
              </v-col>
          </v-row>
          <div v-else>
                
          <v-alert info v-bind:value="true">
            anda masih belum menginput pixel, klik tombol di samping untuk membuatnya <v-spacer></v-spacer> <v-btn primary dark>Input Pixel</v-btn>
          </v-alert>
          </div>
          
          <p class="text-xl-right"><v-btn primary dark @click.native="submit()" >Submit</v-btn></p>
         
     

          </div>
         

        </v-card-text>

      </v-card>
    </v-dialog>
  </template>

  <script>
   export default{
    mounted(){

      if (typeof(Storage) !== "undefined") {
            // Code for localStorage/sessionStorage.
            if(localStorage.getItem("orderlink")){
              var data = JSON.parse(localStorage.getItem("orderlink"));
              this.createnew.nomor = data.createnew.nomor;
              this.domain = data.domain;
              this.createnew.pixels = data.createnew.pixels;
              this.createnew.pixel_event = data.createnew.pixel_event;
            }
            

        } else {
            // Sorry! No Web Storage support..
        }

      if(!this.$store.state.pixels){
        // need refactoring 

          this.$http.get('/v3/pixels').then(response => {

            // get body data
            this.pixels = (response.body);

            var pixellog = {
              name : 'pixels',
              value : this.pixels
            }



            this.$store.commit('init', pixellog);

          }, response => {
            // error callback
          });

      }else{

        this.pixels = this.$store.state.pixels;

      }

      if(!this.$store.state.domains){
        // need refactoring 
                
          this.$http.get('/v3/domains').then(response => {

            // get body data
            this.domains = (response.body);

            var mydomains = {
              name : 'domains',
              value : this.domains
            }

            this.$store.commit('init', mydomains);

          }, response => {
            // error callback
          });

      }else{

        this.domains = this.$store.state.domains;

      }

    },
    data(){
     return {
      link_creation_modal : false,
      alert : false,
      alert_text : '',
      id : 3,
      step : 1,
      tags : [],
      taginput : '',
      createnew : {
        tipelink : 'WA',
        isisms : '',
        nomor : '',
        alias : '',
        desktop_url : '',
        pixels : [], 
        pixel_event : '',
        api_version : '3.0.1',
        title : '',
        tags : []
      },
      domains : ['ayamgoreng.com'],
      domain : '',
      pixels : [],
      pixel_events : [
        {name: 'View content', code:"fbq('track', 'ViewContent');"},
        {name: 'Search', code:"fbq('track', 'Search');"},
        {name: 'Add to cart', code:"fbq('track', 'AddToCart');"},
        {name: 'Add to wishlist', code:"fbq('track', 'AddToWishlist');"},
        {name: 'Initiate checkout', code:"fbq('track', 'InitiateCheckout');"},
        {name: 'Add payment info', code:"fbq('track', 'AddPaymentInfo');"},
        {name: 'Lead', code:"fbq('track', 'Lead');"},
        {name: 'Complete registration', code:"fbq('track', 'CompleteRegistration');"},
        ],
      alias : '',
      tipelink : [
      {tipe:'SMS', shorter: 's', label: 'masukan no.hp anda', example: 'cth : 087815579530'},
      {tipe:'BBM', shorter: 'b', label: 'masukan pin bbm anda', example: 'cth : F34DFDF'},
      {tipe:'Telpon', shorter: 'w', label: 'masukan no.hp anda', example: 'cth : 087815579530'},
      {tipe:'WA', shorter: 'wa', label: 'masukan no.hp anda', example: 'cth : 6287815579530 (didahului 62)'},
      {tipe:'Telegram', shorter: 't', label: 'masukan id anda', example: 'cth : orderlink'},
      {tipe:'Line', shorter: 'l', label: 'masukan id anda', example: 'cth : @orderlink'},

      ],

    }
  },

  computed : {
    SelectTipe(){
        var tipe = this.createnew.tipelink;

        if(tipe === 'WA' || tipe === 'SMS' || tipe === 'Telpon'){
          this.createnew.nomor = 628;
        }else{
          this.createnew.nomor = '';
        }
        this.createnew.tags = [tipe];



        // this.createnew.tags.push(tipe);

        return this.tipelink.find(function(item){
          return item.tipe == tipe;
        });
    },
    
    isShow(){
      if(this.step == 1){
        return true;
      }else{
        return false;
      }
    }
  },
  methods : {
   submit(){
    // console.log(this.createnew);

    if(this.alias == ''){
      var error = 'Custom link belum diisi';
      this.alert = true;
      this.alert_text = error;
      return error;
    }else{
      this.alert = false;
    }

    if(this.domain == ''){
      var error = 'Domain Belum Dipilih';
      this.alert = true;
      this.alert_text = error;
      return error;
    }else{
      this.alert = false;
    }

    var self = this;
    this.$http.post('/v3/orderlink',{orderlink : this.createnew}).then(response => {
            var data = response.body;

            data.hit = 0;
            // get body data
             this.$store.commit('push', {name : 'orderlink', value : data});

             self.$router.push('/orderlink/'+response.body.id);

             this.link_creation_modal = false;

             this.alias = '';

             this.createnew = {
                        tipelink : 'WA',
                        isisms : '',
                        nomor : '',
                        alias : '',
                        desktop_url : '',
                        pixels : [], 
                        pixel_event : '',
                        api_version : '3.0.1',
                        title : '',
                        tags : []
                      }


          }, response => {
            // error callback
          });

   

   //  

   //  
   //  this.id++;
  },
  saveData(){
    if (typeof(Storage) !== "undefined") {
            // Code for localStorage/sessionStorage.
            localStorage.setItem("orderlink", JSON.stringify(this.$data));
        } else {
            // Sorry! No Web Storage support..
        }
  },
  aliascheck(){
    this.saveData();
      
      this.createnew.alias = 'http://'+this.domain+'/'+this.SelectTipe.shorter+'/'+this.alias;
  },
  tagsubmit(){
    this.createnew.tags.push(this.taginput);
    this.taginput = '';
  },
}
}
</script>