<template>
<div>
		<v-row >
		<v-col md4 sm12 xs12 style="height: 93vh; max-height: 93vh; overflow: scroll; overflow-x: hidden">
			<v-list two-line class="pr-0"  >
			<v-subheader class="pt-5"><v-text-field
            v-model="searchquery"
            label="Cari..."
          ></v-text-field></v-subheader>
				{{key}}
				
				<v-list-item v-for="(item, index) in e7" >
					<v-list-tile   :href="goclick(item)"  :router="true" avatar ripple>
					<v-list-tile-avatar>
            <img v-bind:src="getAvatar(item.tipelink)" />
          </v-list-tile-avatar>
						<v-list-tile-content>
							<v-list-tile-title>{{ item.title ? item.title : item.nomor }}</v-list-tile-title>
							<v-list-tile-sub-title class="grey--text text--darken-4" v-if="item.title">{{ item.nomor }}</v-list-tile-sub-title>
							<v-list-tile-sub-title>{{ item.alias }}</v-list-tile-sub-title>
						</v-list-tile-content>
						<v-list-tile-action>
							<v-list-tile-action-text>{{ item.created_at }}</v-list-tile-action-text>
							<v-list-tile-action-text> {{item.hit}} klik</v-list-tile-action-text>

						</v-list-tile-action>
					</v-list-tile>
					<v-divider v-if="index + 1 < e7.length"></v-divider>
				</v-list-item>
			</v-list>
		</v-col>
		
		
		<v-col md8 class="hidden-sm-and-down"  >
				
			<single-orderlink :item="active" @inputquery="search" @editlink="editLink()" ></single-orderlink>


		</v-col>
	</v-row>
	<create-new-orderlink></create-new-orderlink>
	<edit-orderlink :item="active" :showModal="link_edit_modal" @hidemodal="hideModal()"   ></edit-orderlink>
		
	
</div>

</template>
<script>
	import SingleOrderlink from './single-orderlink.vue';
	import CreateNewOrderlink from './create-new-orderlink.vue';
	import EditOrderlink from './edit-orderlink.vue';

	export default{
		
		components : {SingleOrderlink, CreateNewOrderlink, EditOrderlink},

		mounted(){

			(document.getElementsByTagName("html")[0].style.overflow = 'hidden');

			if(!this.$store.state.orderlink){
				// need refactoring 
				this.$http.get('/v3/orderlink').then(response => {

		            // get body data
		            this.e7 = (response.body);

		            var orderlink = {
		              name : 'orderlink',
		              value : this.e7
		            }

		            this.$store.commit('init', orderlink);

		          }, response => {
		            // error callback
		          });


			}else{

				this.e7 = this.$store.state.orderlink;

			}

			
			 			
		},
		data(){
			return {
				link_edit_modal : false,
				e7: '',
				searchquery : '',
				key: '',
				activekey : 0,
			}
		},
		computed : {
			active(){
				var id = (this.activekey!= 0) ? this.activekey : this.$route.params.id;

				return this.e7.find(function(item){
					return item.id == id;
				})
			}
		},
		methods :{
			editLink(){
				console.log('hole');
				this.link_edit_modal = true;
			},
			hideModal(){
				this.link_edit_modal = false;
			},
			search(q){
				this.searchquery = q;
			},
			goclick (item){
				return '/orderlink/'+item.id;
			},
			getAvatar(id){
				var avatar = [
					{
						id : 'WA',
						avatar : '/333/img/wa.jpg',
					},
					{
						id : 'SMS',
						avatar : '/333/img/sms.png',
					},
					{
						id : 'BBM',
						avatar : '/333/img/bbm.png',
					},
					{
						id : 'Telegram',
						avatar : '/333/img/icon-telegram.svg',
					},
					{
						id : 'Line',
						avatar : '/333/img/line.png',
					},
					{
						id : 'Telpon',
						avatar : '/333/img/telpon.png',
					}
				]

				var id = id;

				return avatar.find(function(item){
					return item.id == id;
				}).avatar;
			}
		}
	}
</script>