<template>
	
		

		<v-dialog v-model="edit_modal" width="920" >
 
  <v-card>
    <v-toolbar class="indigo">
        
        <v-toolbar-title>Edit</v-toolbar-title>
		 <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon @click.native="edit_modal = false">clear</v-icon>
        </v-btn>
    
    </v-toolbar>
    <v-card-row>
      <v-card-text>

		<div v-if="showMe"></div>
		<!-- first row -->
		<v-row>
		<v-col xs12 sm12 md6>
          <v-text-field
          label="Title"
          hint="optional (boleh dikosongkan)"
          v-model="datalink.title"
          persistent-hint
          />
        </v-col>
        <v-col xs12 sm12 md6>
          <v-text-field
          :label="SelectTipe.label"
          :hint="SelectTipe.example"
          v-model="datalink.nomor"
          persistent-hint
          />
          </v-col>
      	</v-row>

      	<!-- second row -->

			<v-text-field v-if="datalink.tipelink == 'WA' || datalink.tipelink == 'SMS'"
            label="Isi Pesan"
            multi-line
            v-model="datalink.isisms"
          ></v-text-field>

      	<!-- third row -->
		
		<v-row>
			<v-col xs12 sm12 md6>
	          <v-select
	          label="Pilih Domain"
	          :items="domains"
	          v-model="domain"
	          @input="aliascheck()"
	          />
          	</v-col>

          	<v-col xs12 sm12 md6>
	          <v-text-field
	          label="Custom Link"
	          v-model="alias"
	          @change="aliascheck()"
	          />
          	</v-col>
		</v-row>

		<!-- fourth row -->
		
		<v-row>
			
          	<v-col md12 xs12 sm12>
	          <v-text-field
	          label="Desktop Redirect URL"
	          v-model="datalink.desktop_url"
	          hint="(optional) Desktop Redirect URL adalah alamat pengalihan ketika link diakses via komputer (wajib didahului http)"
	          persistent-hint
	          />
          	</v-col>

		</v-row>

		<!-- fifth row -->

		<v-row>

			<v-col xs12 sm12 md12 style="display: flex">

           	  <v-chip close style="margin-top:20px" v-model="datalink.tags[index]" v-for="(i, index) in datalink.tags">{{i}}</v-chip>

	          <v-text-field
	          label="Label"
	          @keyup.enter.native="tagsubmit()"
	          v-model="taginput"
	          hint="(optional) tekan enter untuk bikin label"
	          persistent-hint
	          />

          	</v-col>

		</v-row>

		<!-- sixth row -->

		<v-row>
			
			<v-col md6>
                <v-select
               label="Pilih Pixel"
               :items="pixels"
               v-model="datalink.pixels"
               multiple
               chips

               />
              </v-col>

              <v-col md6>
                <v-select
               label="Pilih Event"
               :items="pixel_events"
               item-text="name"
               item-value="name"
               v-model="datalink.pixel_event"

               />
              </v-col>

		</v-row>
      	<!-- {{tempdata}} -->
     </v-card-text>
      
      
           
      
    </v-card-row>
    <v-card-row actions>
      <v-btn class="grey--text darken-1" flat="flat" @click.native="hideModal">Batalkan</v-btn>
      <v-btn class="primary--text darken-1" flat="flat" @click.native="saveChange">Simpan Perubahan</v-btn>
    </v-card-row>
  </v-card>
</v-dialog>
	
</template>

<script>
	export default{
		props : ['item', 'showModal'],

		data(){
			return {
				edit_modal : '',
				domains : [],
				pixels : [],

				domain : '',
				alias : '',
				tempdata : {},

				pixel_events : [
			        {name: 'View content', code:"fbq('track', 'ViewContent');"},
			        {name: 'Search', code:"fbq('track', 'Search');"},
			        {name: 'Add to cart', code:"fbq('track', 'AddToCart');"},
			        {name: 'Add to wishlist', code:"fbq('track', 'AddToWishlist');"},
			        {name: 'Initiate checkout', code:"fbq('track', 'InitiateCheckout');"},
			        {name: 'Add payment info', code:"fbq('track', 'AddPaymentInfo');"},
			        {name: 'Lead', code:"fbq('track', 'Lead');"},
			        {name: 'Complete registration', code:"fbq('track', 'CompleteRegistration');"},
			        ],

				tipelink : [
			      {tipe:'SMS', shorter: 's', label: 'masukan no.hp anda', example: 'cth : 087815579530'},
			      {tipe:'BBM', shorter: 'b', label: 'masukan pin bbm anda', example: 'cth : F34DFDF'},
			      {tipe:'Telpon', shorter: 'w', label: 'masukan no.hp anda', example: 'cth : 087815579530'},
			      {tipe:'WA', shorter: 'wa', label: 'masukan no.hp anda', example: 'cth : 6287815579530 (didahului 62)'},
			      {tipe:'Telegram', shorter: 't', label: 'masukan id anda', example: 'cth : orderlink'},
			      {tipe:'Line', shorter: 'l', label: 'masukan id anda', example: 'cth : @orderlink'},

			      ],

			      taginput : '',

			}
		},

		computed:{
			datalink(){
				var data = {};
				data = JSON.parse(JSON.stringify(this.item));
				data['tags'] = JSON.parse(this.item.tags);
				data['pixels'] = JSON.parse(this.item.pixels);
				data['pixel_event'] = JSON.parse(this.item.pixel_event);

				this.tempdata = data;


				var domsplit = data.alias.split("/");

				this.domain = domsplit[2];

				this.alias = domsplit[4];

				return data;
			},

			showMe(){
				this.domains = (this.$store.state.domains);

				this.pixels = this.$store.state.pixels;

				this.edit_modal = this.showModal;

				return this.showModal;
			},
			SelectTipe(){
		        var tipe = this.tempdata.tipelink;

		        return this.tipelink.find(function(item){
		          return item.tipe == tipe;
		        });
		    }


		},

		watch : {
			edit_modal(){
				if(this.edit_modal == false){
					this.$emit('hidemodal');
				}
			}
		},

		methods : {
			hideModal(){
				this.edit_modal = false;
			},

			aliascheck(){
			    this.datalink.alias = 'http://'+this.domain+'/'+this.SelectTipe.shorter+'/'+this.alias;
			},

			tagsubmit(){
			    this.tempdata.tags.push(this.taginput);
			    this.taginput = '';
			  },

			saveChange(){

				var self = this;
    this.$http.put('/v3/orderlink/'+this.tempdata.id,{orderlink : this.tempdata}).then(response => {
            var data = response.body;

            // console.log(this.tempdata)

            // data.hit = 0;
            // // get body data
             this.$store.commit('edit', {name : 'orderlink', value : response.body, id : this.item});

            // 

             this.edit_modal = false;
             	self.$router.push('/orderlink/'+0);

             // this.$emit('updatedlink',response.body.id);
              self.$router.push('/orderlink/'+response.body.id);

            //  this.alias = '';

            //  this.createnew = {
            //             tipelink : 'WA',
            //             isisms : '',
            //             nomor : '',
            //             alias : '',
            //             desktop_url : '',
            //             pixels : [], 
            //             pixel_event : '',
            //             api_version : '3.0.1',
            //             title : '',
            //             tags : []
            //           }


          }, response => {
            // error callback
          });

			}
		}


		
	}
</script>