<template>
	<v-app id="example-2">
		<v-navigation-drawer persistent light :mini-variant.sync="mini" v-model="drawer">
			<v-list class="pa-0">
				<v-list-item>
					<v-list-tile avatar tag="div">
						<v-list-tile-avatar>
							<img src="/images/logo-orderlink.png" />
						</v-list-tile-avatar>
						<v-list-tile-content>
							<v-list-tile-title>Orderlink</v-list-tile-title>
						</v-list-tile-content>
						<v-list-tile-action>
							<v-btn icon @click.native.stop="mini = !mini">
								<v-icon>chevron_left</v-icon>
							</v-btn>
						</v-list-tile-action>
					</v-list-tile>
				</v-list-item>
			</v-list>
			<v-list class="pt-0" dense>
				<v-divider></v-divider>
				<v-list-item  v-if="mini">
					<v-list-tile @click.native.stop="mini = false">
						<v-list-tile-action >
							<v-icon >launch</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>Open Sidebar</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
				</v-list-item>
				
			</v-list>
			<main-menu></main-menu>
		</v-navigation-drawer>
		<v-toolbar fixed class="indigo darken-4">
			<v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
			<v-toolbar-title>Orderlink</v-toolbar-title>
		</v-toolbar>
		<main>
			<v-container fluid class="ma-0 pa-0">
				<v-layout class="mt-0 pt-0">
					<v-flex md5 lg4 sm12 xs12 class="mt-0 pt-0 mr-0 pr-0 scrolly" >

						<v-list two-line>
							<v-list-item v-for="(item, index) in data" :class="(index == activeselect) ? 'selected' : ''">
								<v-list-tile avatar ripple @click.native.stop="choosedata(index)">
									<v-list-tile-avatar>
										<img v-bind:src="avatar[item.tipelink]" />
									</v-list-tile-avatar>
									<v-list-tile-content>
										<span class="subheading">{{ item.title }} </span>
										<v-list-tile-sub-title >{{ item.nomor }}</v-list-tile-sub-title>
										<v-list-tile-sub-title>{{item.alias}}</v-list-tile-sub-title>
									</v-list-tile-content>
									<v-list-tile-action>
										<v-list-tile-action-text>{{ item.updated_at }}</v-list-tile-action-text>
										<span> <v-icon class="pb-2">equalizer</v-icon> <span class="body-1">{{item.hit}}</span></span>
									</v-list-tile-action>
								</v-list-tile>
								<v-divider v-if="index + 1 < data.length"></v-divider>
							</v-list-item>
						</v-list>
					</v-flex>


					<v-flex md7 lg8 class="hidden-sm-and-down scrolly"  >
						<!-- {{selecteddata}} -->
						<v-container>

							<h4>{{selecteddata.title ? selecteddata.title : selecteddata.nomor}}
							</h4>
							<v-divider></v-divider>
							<v-tabs
							id="mobile-tabs-1"
							scroll-bars
							v-model="active"
							light
							>
							<v-tabs-bar slot="activators">
								<v-tabs-item
								href="#orderlink-1"
								ripple
								>
								Properti
							</v-tabs-item>
							<v-tabs-item
							href="#orderlink-2"
							ripple
							>
							Statistik
						</v-tabs-item>
						<v-tabs-slider></v-tabs-slider>
					</v-tabs-bar>
					<v-tabs-content
					id="orderlink-1"
					>
					<v-card flat>
						<v-card-text>
							<v-card-row height="75px">
								<v-btn flat floating small class="mr-5 btn" :data-clipboard-text="selecteddata.alias">
									<v-icon dark>content_copy</v-icon>
								</v-btn>
								<div>
									<div>Link Anda</div><strong>{{selecteddata.alias}}</strong>

								</div>
							</v-card-row>
							<v-card-row height="75px">
								<v-btn flat floating small class="mr-5 btn" :data-clipboard-text="selecteddata.alias">
									<v-icon dark>contacts</v-icon>
								</v-btn>
								<div>
									<div>Nomor/PIN/ID</div><strong>{{selecteddata.nomor}}</strong>

								</div>
							</v-card-row>
							<v-card-row height="75px">
								<v-btn flat floating small class="mr-5 btn" :data-clipboard-text="selecteddata.alias">
									<v-icon dark>add_shopping_cart</v-icon>
								</v-btn>
								<div>
									<div>Tipe Link</div><strong>{{selecteddata.tipelink}}</strong>

								</div>
							</v-card-row>
							<v-card-row class="mb-3">
								<v-btn flat floating small class="mr-5 btn" :data-clipboard-text="selecteddata.alias">
									<v-icon dark>chat</v-icon>
								</v-btn>
								<div>
									<div>Isi Pesan</div><pre>{{selecteddata.isisms}}</pre>

								</div>
							</v-card-row>
							<v-card-row class="mb-3">
								<v-btn flat floating small class="mr-5 btn" :data-clipboard-text="selecteddata.alias">
									<v-icon dark>label</v-icon>
								</v-btn>
								<div>
									<div>
										<div>Label/tags</div> <v-chip label v-for="i in jsonparse(selecteddata.tags)" class="ol-label orange white--text">
										<v-icon left>label</v-icon>{{i}}
									</v-chip>
								</div>

							</div>
						</v-card-row>
					</v-card-text>

				</v-card>
			</v-tabs-content>
			<v-tabs-content id="orderlink-2">
			<chartjs-bar :datalabel="'TestDataLabel'" :labels="['happy','myhappy','hello']" :data="[100,40,60]"></chartjs-bar>
			</v-tabs-content>
		</v-tabs>
	</v-container>
</v-flex>
</v-layout>
<v-btn :router="true" :href="'/orderlink/create'" floating="floating" primary style="position: fixed; right: 5vh; bottom: 5vh;">
	<v-icon class="white--text">add</v-icon>
</v-btn>

</div>
</v-flex>
</v-layout>
<!--v-router-->
</v-container>
</main>
</v-app>
</template>

<script>
	import MainMenu from '../main-menu.vue';
	export default{
		components : {MainMenu},
		beforeDestroy() {
			(document.getElementsByTagName("html")[0].style.overflow = 'overflow');
		},


		mounted(){

			(document.getElementsByTagName("html")[0].style.overflow = 'hidden');
			if(!this.$store.state.orderlink){
				// need refactoring 
				this.$http.get('/v3/orderlink').then(response => {

		            // get body data
		            this.data = (response.body);

		            var orderlink = {
		            	name : 'orderlink',
		            	value : this.data
		            }

		            this.$store.commit('init', orderlink);

		        }, response => {
		            // error callback
		        });


			}else{

				this.data = this.$store.state.orderlink;

			}
		},
		data(){
			return {
				drawer : true,
				mini : true,
				data : [],
				activeselect : 0,
				dialog : false,
				avatar : {
					WA  : '/333/img/wa.jpg',
					SMS : '/333/img/sms.png',
					BBM : '/333/img/bbm.png',
					Telegram : '/333/img/icon-telegram.svg',
					Line : '/333/img/line.png',
					Telpon : '/333/img/telpon.png',
				}
			}
		},

		computed : {
			selecteddata(){
				var id = this.activeselect;
				return this.data[id];
			}
		},

		methods : {
			choosedata(index){
				this.activeselect = index;
				if(window.innerWidth < 1024)
					this.dialog = true;
			},
			jsonparse(tagsarray){
				var data = JSON.parse(tagsarray);

				return _.filter(data, function(o) { return o != false; });
			},
		}
	}
</script>