<template>
	<div>
		  
		<div style="height:90vh; display : flex; justify-content:center; align-items:center; text-align : center"><v-progress-circular 
    indeterminate 
    v-bind:size="80" 
    class="primary--text" v-if="loaderShow" 
  /><h4 v-else>Belum Ada Data, Lets Make it One!</h4></div>
	<create-new-orderlink></create-new-orderlink>
	</div>
</template>
<script>
import CreateNewOrderlink from './create-new-orderlink.vue';
	export default{
		components : {CreateNewOrderlink},
		data(){
			return {
				loaderShow : true,
			}
		},
		mounted(){


			
			if(!this.$store.state.orderlink){

				// need refactoring
				 this.$http.get('/v3/orderlink').then(response => {

		            // get body data
		            var data = (response.body);

		            var orderlink = {
		              name : 'orderlink',
		              value : data
		            }

		            this.$store.commit('init', orderlink);

		            this.loaderShow = false;

		            if(orderlink.value.length > 0)

		            this.$router.push('/orderlink/'+orderlink.value[0].id);



		          }, response => {
		            // error callback
		          });





				//until this

				
			}else{
				if(this.$store.state.orderlink.length > 0)
				this.$router.push('/orderlink/'+this.$store.state.orderlink[0].id);
				else
				this.loaderShow = false;
			}
			
		}
	}
</script>