<template>
  <v-card >
    <div>
      <!-- <v-card-row class="orange white--text">
        <v-card-title>{{item.title ? item.title : item.nomor}}</v-card-title>
        <v-spacer></v-spacer>
         

        <v-menu id="marriot" bottom left origin="top right">
          
          <v-btn icon="icon" slot="activator" class="white--text">
            <v-icon>more_vert</v-icon>
          </v-btn>
          <v-list>
            <v-list-item >
              <v-list-tile @click.native="deleteitem">
                <v-list-tile-title>Delete</v-list-tile-title>
              </v-list-tile>
            </v-list-item>

          </v-list>
        </v-menu>
        </v-btn>

      </v-card-row> -->
      <v-toolbar class="orange">
  <v-toolbar-title >{{item.title ? item.title : item.nomor}}</v-toolbar-title>
  <v-toolbar-items>
    <v-toolbar-item ripple  :class="{  'orange darken-2': tabsactive === 1 }" @click.native="tabsactive = 1" v-model="tabsactive">Link Props</v-toolbar-item>
    <v-toolbar-item ripple  :class="{  'orange darken-2': tabsactive === 2 }" @click.native="tabsactive = 2" v-model="tabsactive">Statistics</v-toolbar-item>
    <v-menu bottom left offset-y origin="top right" transition="v-slide-y-transition">
      <v-btn icon dark slot="activator">
        <v-icon>more_vert</v-icon>
      </v-btn>
      <v-list>
        <v-list-item >
          <v-list-tile @click.native="deleteitem">
            <v-list-tile-title >Delete</v-list-tile-title>
          </v-list-tile>
        </v-list-item>
        <v-list-item >
          <v-list-tile @click.native="editlink">
            <v-list-tile-title >Edit</v-list-tile-title>
          </v-list-tile>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-toolbar-items>
</v-toolbar>
       <v-card-text style="height: 93vh; max-height: 93vh; overflow: scroll; overflow-x: hidden">
   <div v-if="tabsactive == 1">
      <v-card-row height="75px">
      <v-icon class="mr-5">contacts</v-icon>
      <div>
        <div>Nomor/Id</div><strong>{{item.nomor}}</strong>
      </div>
    </v-card-row>
    <v-card-row height="75px">
      <v-icon class="mr-5">open_in_browser</v-icon>
      <div>
        <div>Link Anda</div><strong>{{item.alias}}</strong>
        <strong><v-btn small floating  primary dark> <v-icon>filter_none</v-icon></v-btn></strong> <strong><v-btn small floating  primary dark> <v-icon>share</v-icon></v-btn></strong>
      </div>
    </v-card-row>
    <v-card-row height="75px">
      <v-icon class="mr-5">add_shopping_cart</v-icon>
      <div>
        <div>Tipelink</div><strong>{{item.tipelink}}</strong>
      </div>
    </v-card-row>
    <v-card-row class="mb-4">
      <v-icon class="mr-5">chat</v-icon>
      <div>
        <div>Isi Pesan</div><strong ><pre class="orange lighten-4 pa-3 mt-2"> {{item.isisms}}</pre></strong>
      </div>
    </v-card-row>
    <v-card-row height="75px" >
      <v-icon class="mr-5">label</v-icon>
      <div>
        <div>Label/tags</div> <v-chip @click.native="emitQuery(i)" label v-for="i in jsonparse(item.tags)" class="ol-label orange white--text">
    <v-icon left>label</v-icon>{{i}}
  </v-chip>
      </div>
    </v-card-row>
    <v-card-row height="75px" >
      <v-icon class="mr-5">star</v-icon>
      <div>
        <div>Pixels</div><strong><v-chip @click.native="emitQuery(i)" label v-for="i in jsonparse(item.pixels)" class="ol-label indigo darken-4 white--text">
    <v-icon left>star</v-icon>{{i}}
  </v-chip></strong>
      </div>
    </v-card-row>
    <v-card-row height="75px" >
      <v-icon class="mr-5">info</v-icon>
      <div>
        <div>Pixel Event</div><strong>{{item.pixel_event}}</strong>
      </div>
    </v-card-row>
   </div>
   <div v-else>
        {{trigger}}
   </div>
  </v-card-text>
    </div>
  </v-card>
  
</template>

<script>
	export default {
		props : ['item'],

    data(){
        return {
          tabsactive : 1,
        }
    },

    mounted(){
        
    },

    computed : {

      trigger(){
          var love = this.item;
          console.log('halo');
          return love;
      },
    },



    methods : {
      editlink(){
          this.$emit('editlink');
      },
      emitQuery(i){
          this.$emit('inputquery',i);
      },
      jsonparse(tagsarray){
        var data = JSON.parse(tagsarray);

        return _.filter(data, function(o) { return o != false; });
      },
      deleteitem(){
        this.$store.commit('delete', {name : 'orderlink', id: this.item}); 

         this.$http.delete('/v3/orderlink/'+this.item.id).then(response => {

                // get body data

              }, response => {
                // error callback
              });

        this.$router.push('/orderlink/')
      }
    }
	}
</script>

<style> 
.ol-label { 
    cursor: pointer;
}


</style>