<template>
	<div>
		{{item}}
		<v-dialog v-model="link_edit_modal" width="920"  >
			<v-card>
				<v-toolbar class="indigo">
					<v-btn icon>
						<v-icon @click.native="link_edit_modal = false">arrow_back</v-icon>
					</v-btn>
					<v-toolbar-title>Edit</v-toolbar-title>

				</v-toolbar>

				<v-card-text >

					<v-alert error  dismissible v-model="alert">
						{{alert_text}}
					</v-alert>
					<!-- <h1 class="title">Isilah Form di Bawah ini untuk membuat Orderlink</h1> -->
					<v-row>
						<!-- <v-col xs12 sm12 md2>
							<v-radio label="WhatsApp" v-model="createnew.tipelink" value="WA" success light hide-details />
						</v-col>
						<v-col xs12 sm12 md2>
							<v-radio label="SMS" v-model="createnew.tipelink" value="SMS" success light hide-details />
						</v-col>
						<v-col xs12 sm12 md2>
							<v-radio label="Telegram" v-model="createnew.tipelink" value="Telegram" info light hide-details />
						</v-col>
						<v-col xs12 sm12 md2>
							<v-radio label="BBM" v-model="createnew.tipelink" value="BBM" primary light hide-details />
						</v-col>
						<v-col xs12 sm12 md2>
							<v-radio label="Line" v-model="createnew.tipelink" value="Line" success light hide-details />
						</v-col>
						<v-col xs12 sm12 md2>
							<v-radio label="Telpon" v-model="createnew.tipelink" value="Telpon" info light hide-details />
						</v-col> -->
						<v-col xs12 sm12 md6>
							<v-text-field
							label="Title"
							hint="optional (boleh dikosongkan)"
							v-model="createnew.title"
							persistent-hint
							/>
						</v-col>
						<v-col xs12 sm12 md6>
							<v-text-field
							:label="SelectTipe.label"
							:hint="SelectTipe.example"
							v-model="createnew.nomor"
							persistent-hint
							/>
						</v-col>
					</v-row>

					<v-text-field v-if="createnew.tipelink == 'WA' || createnew.tipelink == 'SMS'"
            label="Isi Pesan"
            multi-line
            v-model="createnew.isisms"
          ></v-text-field>
          <v-row>
            <v-col xs12 sm12 md6>
          <v-select
          label="Pilih Domain"
          :items="domains"
          v-model="domain"
          @input="aliascheck()"
          />
          </v-col>

          <v-col xs12 sm12 md6>
          <v-text-field
          label="Custom Link"
          v-model="alias"
          @change="aliascheck()"


          />
          </v-col>
         <v-col md12 xs12 sm12>
          <v-text-field
          label="Desktop Redirect URL"
          v-model="createnew.desktop_url"
          hint="(optional) Desktop Redirect URL adalah alamat pengalihan ketika link diakses via komputer (wajib didahului http)"
          persistent-hint
          />
          </v-col>

          <v-col xs12 sm12 md12 style="display: flex">

           <v-chip close style="margin-top:20px" v-model="createnew.tags[index]" v-for="(i, index) in createnew.tags">{{i}}</v-chip>
          <v-text-field
          label="Label"
          @keyup.enter.native="tagsubmit()"
          v-model="taginput"
          hint="(optional) tekan enter untuk bikin label"
          persistent-hint
          />
          </v-col>
          
              <v-col md6>
                <v-select
               label="Pilih Pixel"
               :items="pixels"
               v-model="createnew.pixels"
               multiple
               chips

               />
              </v-col>
               
              <v-col md6>
                <v-select
               label="Pilih Event"
               :items="pixel_events"
               item-text="name"
               item-value="name"
               v-model="createnew.pixel_event"

               />
              </v-col>
          </v-row>



					<p class="text-xl-right"><v-btn primary dark @click.native="submit()" >Simpan Perubahan</v-btn></p>



				</v-card-text>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
	export default{
		props : ['item',
			'showModal'],


		watch : {
			showModal(){
				this.link_edit_modal = this.showModal;

				this.createnew = this.item;

				this.createnew.tags = JSON.parse(this.item.tags);

				this.createnew.pixels = JSON.parse(this.item.pixels);

				this.createnew.pixel_event = JSON.parse(this.item.pixel_event);

				var domsplit = this.createnew.alias.split("/");

				this.domain = domsplit[2];

				this.alias = domsplit[4];


				this.domains = (this.$store.state.domains);

				 this.pixels = this.$store.state.pixels;
			},
			link_edit_modal(){
				if(this.link_edit_modal == false){
					this.$emit('closemodal');
				}
			}
		},

		computed:{
			SelectTipe(){
				var tipe = this.createnew.tipelink;

				if(tipe === 'WA' || tipe === 'SMS' || tipe === 'Telpon'){
					this.createnew.nomor = 628;
				}else{
					this.createnew.nomor = '';
				}

				// this.createnew.tags = [tipe];

				return this.tipelink.find(function(item){
					return item.tipe == tipe;
				});
			},
		},

		data(){
			return {
				link_edit_modal : false,
				createnew : '',
				alert : false,
				alert_text : '',
				taginput : '',
				pixel_events : [
				{name: 'View content', code:"fbq('track', 'ViewContent');"},
				{name: 'Search', code:"fbq('track', 'Search');"},
				{name: 'Add to cart', code:"fbq('track', 'AddToCart');"},
				{name: 'Add to wishlist', code:"fbq('track', 'AddToWishlist');"},
				{name: 'Initiate checkout', code:"fbq('track', 'InitiateCheckout');"},
				{name: 'Add payment info', code:"fbq('track', 'AddPaymentInfo');"},
				{name: 'Lead', code:"fbq('track', 'Lead');"},
				{name: 'Complete registration', code:"fbq('track', 'CompleteRegistration');"},
				],
				alias : '',
				domains : [],
				domain : '',
				tipelink : [
				{tipe:'SMS', shorter: 's', label: 'masukan no.hp anda', example: 'cth : 087815579530'},
				{tipe:'BBM', shorter: 'b', label: 'masukan pin bbm anda', example: 'cth : F34DFDF'},
				{tipe:'Telpon', shorter: 'w', label: 'masukan no.hp anda', example: 'cth : 087815579530'},
				{tipe:'WA', shorter: 'wa', label: 'masukan no.hp anda', example: 'cth : 6287815579530 (didahului 62)'},
				{tipe:'Telegram', shorter: 't', label: 'masukan id anda', example: 'cth : orderlink'},
				{tipe:'Line', shorter: 'l', label: 'masukan id anda', example: 'cth : @orderlink'},

				],
			}
		},
		methods : {
			tagsubmit(){
			    this.createnew.tags.push(this.taginput);
			    this.taginput = '';
			  },
		}

		
	}
</script>