html, body {
  background-color: #1b2e40;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bell {
  background-color: #3d668f;
  position: absolute;
  width: 50px;
  height: 50px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  cursor: pointer;
}
.bell:hover {
  background-color: white;
}
.bell:before, .bell:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.bell:before {
  border-top-right-radius: 1000px;
  border-top-left-radius: 1000px;
  width: 140%;
  height: 70%;
  top: 50%;
  left: -20%;
}
.bell:after {
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  width: 50%;
  height: 25%;
  top: 130%;
  left: 25%;
}

h5 {
  margin-top: 170px;
  font-family: helvetica;
  color: white;
}
