<template>
	<v-alert error v-bind:value="!user_data.elastic_email_profile">
      Anda Hanya Bisa Mengirim 5 email/hari jika belum mengupdate profil anda. update profil >> <router-link to="/email/profile" class="white--text">  klik disini</router-link> 
    </v-alert>
</template>
<script>
	export default{
		mounted(){
			var self = this;
			setTimeout(function(){ 
					self.user_data = self.$parent._data.user_data;
					 }, 500);
			
		},

		data(){
			return {
				user_data : {
					elastic_email_profile : true,
					elastic_api_key : '',
				},
			}
		}
	}
</script>