<template>
  <v-app id="example-2">
    <v-navigation-drawer persistent light :mini-variant.sync="mini" v-model="drawer">
      <v-list class="pa-0">
        <v-list-item>
          <v-list-tile avatar tag="div">
            <v-list-tile-avatar>
              <img src="/images/logo-orderlink.png" />
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Orderlink</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon @click.native.stop="mini = !mini">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-item>
      </v-list>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-item  v-if="mini">
          <v-list-tile @click.native.stop="mini = false">
            <v-list-tile-action >
              <v-icon >launch</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Open Sidebar</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>
      </v-list>
      <v-list >
        <v-list-item >
          <v-list-tile :href="'/email'" :router="true
          ">
            <v-list-tile-action >
              <v-icon >play_arrow</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Start</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>

        <v-list-item >
          <v-list-tile :href="'/email/profile'" :router="true
          ">
            <v-list-tile-action >
              <v-icon >account_circle</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Profil</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>      
      </v-list>
      
    </v-navigation-drawer>
    <v-toolbar fixed class="indigo darken-4">
      <v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title >Email System</v-toolbar-title>
       <v-spacer></v-spacer>
      <v-btn light icon href="/store" :router="true">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>
    <main>
      <v-container fluid class="mt-0 pt-0 ml-0 pl-0 pr-3 ">
            
           <router-view>
           </router-view>
        <!--v-router-->
      </v-container>
      
    </main>
  </v-app>
</template>

<script>

  export default{

    mounted(){
        if(!this.$store.state.user_data){
        // need refactoring 
                
          this.$http.get('/v3/email/token').then(response => {

            // get body data
            this.user_data = (response.body);

            var usertoken = {
              name : 'user_data',
              value : this.user_data
            }

            if(!this.user_data.elastic_api_key){
              this.registerEmail();
            }
            

            this.$store.commit('init', usertoken);

          }, response => {
            // error callback
          });

      }else{

        this.user_data.elastic_api_key = this.$store.state.user_data.elastic_api_key;
        this.user_data.elastic_email_profile = JSON.parse(this.$store.state.user_data.elastic_email_profile);

      }
    },

    computed : {
        
    },


    data(){
      return {
        title : '',
        data : '',
        user_data : {},
        drawer : true,
        mini : false,

      }
    },

    methods : {  
      registerEmail(){

        this.$http.post('/v3/email/register').then(response => {

            // get body data
           user_data.elastic_api_key = (response.body);

          }, response => {
            // error callback
          });

      }
    }
  }
</script>