<template>
	<v-container>
			<v-layout>
			<v-flex xs12 md8 offset-md2 offset-lg3  lg6>
				<v-layout row wrap>
					<v-flex xs12 md6>
						<v-text-field
						label="Nama Depan"
						v-model="firstname"
						></v-text-field>
					</v-flex>
					<v-flex xs12 md6>
						<v-text-field
						label="Nama Belakang"
						v-model="lastname"
						></v-text-field>
					</v-flex>
				</v-layout>
				<v-layout row wrap>

					<v-flex md6 xs12>

						<v-select 
						v-bind:items="list_province"
						item-text="province"
						v-model="province"
						label="Pilih Provinsi"
						@input="fetchCity()"
						persistent-hint
						dark
						single-line
						auto
						/>

					</v-flex>

					<v-flex md6 xs12>

						<v-select 
						v-bind:items="list_city"
						v-model="city"
						
						label="Pilih Kabupaten/Kota"
						item-text="city_name"

						dark
						single-line
						auto
						/>

					</v-flex>
				</v-layout>
				<v-layout row wrap>
					<v-flex xs12>
						<v-text-field
						v-model="address"
						label="Alamat"
						multi-line
						></v-text-field>
					</v-flex>
				</v-layout>
				<p class="text-xs-right mt-3"><v-btn primary light  :loading="loadingicon" @click.native.stop="submit()" >Simpan</v-btn></p>

			</v-flex>
		</v-layout>
		<v-snackbar
		info
      :timeout="2000"
      v-model="snackbar"
      :top="true"
    >
profile disimpan      <v-btn flat light @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
	</v-container>
</template>
<script>
	export default{
		mounted(){
			if(this.list_province.length == 0){
				this.$http.get('/v2/rajaongkir/province').then((response) => {
                  // success callback
                  // console.log(response);
                  this.list_province = response.body;


                  

              }, (response) => {
                  // error callback

              });
			}
			var self = this;
			setTimeout(function(){ 
					var userdata = JSON.parse(self.$parent._data.user_data.elastic_email_profile);

					if(userdata){
						self.firstname = userdata.firstname;
					self.lastname = userdata.lastname;
					self.address = userdata.address;
					self.list_province = userdata.list_province;
					self.list_city = userdata.list_city;
					self.province = userdata.province;
					self.city = userdata.city;
					}
					
					 }, 500);



		},

		data(){
			return {
				loadingicon : false,
				firstname : '',
				lastname : '',
				address : '',
				list_province : [],
				list_city : [],
				province : '',
				city : '',
				snackbar : '',
			}
		},

		methods : {
			submit(){
				this.loadingicon = true;
				this.$http.post('/v3/email/updateprofile',{address : this.address, firstname : this.firstname, lastname : this.lastname, state : this.city.province, city : this.city.city_name, zip : this.city.postal_code, data : this.$data}).then((response) => {
                  // success callback
                  	this.snackbar = true;
                  	this.loadingicon = false;


                  	 this.$parent._data.user_data.elastic_email_profile = this.$data;



	              }, (response) => {
	                  // error callback

	              });
			},
			fetchCity(){
				this.$http.get('/v2/rajaongkir/city?province_id='+this.province.province_id).then((response) => {
                  // success callback
                  this.list_city = response.body;



              }, (response) => {
                  // error callback

              });
			},
}
}
</script>