header {
  background: #1399bc;
  color: white;
  text-align: center;
  padding: 20px 0;
}
header #arrow-down {
  position: absolute;
  background: #1399bc;
  padding: 7px 5px;
  /* or 50% */
  border-radius: 100%;
  /* or 50% */
}
header #arrow-down i {
  color: #fff;
}

#order-detil {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#order-detil #image-placeholder {
  width: 580px;
}
#order-detil #image-placeholder p {
  font-size: 18px;
}
#order-detil #image-placeholder img {
  padding: 20px;
  margin: 0 auto;
}

#kontak {
  background: #1399bc;
  color: white;
  padding: 10px;
  text-align: center;
}
