
/*
Modal 
*/
.modal .modal-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: -o-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

.modal .modal-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: -o-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

.modal .modal-top {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: -o-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

.modal .modal-bottom {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: -o-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

.modal.in .modal-left,
.modal.in .modal-right,
.modal.in .modal-top,
.modal.in .modal-bottom {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.modal.inactive {
  bottom: auto;
  overflow: visible; }

.modal-open-aside {
  overflow: visible; }

.modal > .modal-left {
  position: fixed;
  z-index: 1055;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0; }

.modal > .modal-right {
  position: fixed;
  z-index: 1055;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0; }

.modal > .modal-top {
  position: fixed;
  z-index: 1055;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto; }

.modal > .modal-bottom {
  position: fixed;
  z-index: 1055;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0; }

.modal-header,
.modal-content,
.modal-footer {
  border-color: rgba(120, 130, 140, 0.13); }

.modal-content {
  color: rgba(0, 0, 0, 0.87); }

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0; }

@media (max-width: 1199px) {
  .row-col > div.aside-lg {
    display: none; }
  .aside-lg {
    display: none;
    position: fixed !important; }
    .aside-lg > * {
      position: fixed;
      top: 0;
      bottom: 0;
      max-width: 304px;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .aside-lg ~ * {
      width: 100%; } }

@media (max-width: 991px) {
  .row-col > div.aside-md {
    display: none;
    width: 100%; }
  .aside-md {
    display: none;
    position: fixed !important;
    background: transparent !important; }
    .aside-md > * {
      position: fixed;
      top: 0;
      bottom: 0;
      max-width: 304px;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .aside-md ~ * {
      width: 100%; }
  .aside-md-right > * {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    right: 0; } }

@media (max-width: 767px) {
  .row-col > div.aside-sm {
    display: none;
    width: 100%; }
  .aside-sm {
    display: none;
    background: transparent !important;
    position: fixed !important; }
    .aside-sm > * {
      position: fixed;
      top: 0;
      bottom: 0;
      max-width: 304px;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .aside-sm ~ * {
      width: 100%; }
  .aside-sm-right > * {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    right: 0; } }

.aside {
  opacity: 1; }
  .aside.in {
    width: 100%; }
    .aside.in > * {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .aside > * {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: -o-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

/*
Modal animation 
*/
.modal.animate .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal.animate .fade-right-big {
  -webkit-animation: fadeOutLeftBig 0.5s;
  animation: fadeOutLeftBig 0.5s; }

.modal.animate .fade-left-big {
  -webkit-animation: fadeOutRightBig 0.5s;
  animation: fadeOutRightBig 0.5s; }

.modal.animate .fade-up-big {
  -webkit-animation: fadeOutUpBig 0.5s;
  animation: fadeOutUpBig 0.5s; }

.modal.animate .fade-down-big {
  -webkit-animation: fadeOutDownBig 0.5s;
  animation: fadeOutDownBig 0.5s; }

.modal.animate .fade-right {
  -webkit-animation: fadeOutLeft 0.5s;
  animation: fadeOutLeft 0.5s; }

.modal.animate .fade-left {
  -webkit-animation: fadeOutRight 0.5s;
  animation: fadeOutRight 0.5s; }

.modal.animate .fade-up {
  -webkit-animation: fadeOutUp 0.5s;
  animation: fadeOutUp 0.5s; }

.modal.animate .fade-down {
  -webkit-animation: fadeOutDown 0.5s;
  animation: fadeOutDown 0.5s; }

.modal.animate .flip-x {
  -webkit-animation: flipOutX 0.5s;
  animation: flipOutX 0.5s; }

.modal.animate .flip-y {
  -webkit-animation: flipOutY 0.5s;
  animation: flipOutY 0.5s; }

.modal.animate .zoom {
  -webkit-animation: zoomOut 0.5s;
  animation: zoomOut 0.5s; }

.modal.animate .roll {
  -webkit-animation: rollOut 0.5s;
  animation: rollOut 0.5s; }

.modal.animate .bounce {
  -webkit-animation: bounceOut 0.5s;
  animation: bounceOut 0.5s; }

.modal.animate .rotate {
  -webkit-animation: rotateOut 0.5s;
  animation: rotateOut 0.5s; }

.modal.animate.in .fade-right-big {
  -webkit-animation: fadeInRightBig 0.5s;
  animation: fadeInRightBig 0.5s; }

.modal.animate.in .fade-left-big {
  -webkit-animation: fadeInLeftBig 0.5s;
  animation: fadeInLeftBig 0.5s; }

.modal.animate.in .fade-up-big {
  -webkit-animation: fadeInUpBig 0.5s;
  animation: fadeInUpBig 0.5s; }

.modal.animate.in .fade-down-big {
  -webkit-animation: fadeInDownBig 0.5s;
  animation: fadeInDownBig 0.5s; }

.modal.animate.in .fade-right {
  -webkit-animation: fadeInRight 0.5s;
  animation: fadeInRight 0.5s; }

.modal.animate.in .fade-left {
  -webkit-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s; }

.modal.animate.in .fade-up {
  -webkit-animation: fadeInUp 0.5s;
  animation: fadeInUp 0.5s; }

.modal.animate.in .fade-down {
  -webkit-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s; }

.modal.animate.in .flip-x {
  -webkit-animation: flipInX 0.5s;
  animation: flipInX 0.5s; }

.modal.animate.in .flip-y {
  -webkit-animation: flipInY 0.5s;
  animation: flipInY 0.5s; }

.modal.animate.in .zoom {
  -webkit-animation: zoomIn 0.5s;
  animation: zoomIn 0.5s; }

.modal.animate.in .roll {
  -webkit-animation: rollIn 0.5s;
  animation: rollIn 0.5s; }

.modal.animate.in .bounce {
  -webkit-animation: bounceIn 0.5s;
  animation: bounceIn 0.5s; }

.modal.animate.in .rotate {
  -webkit-animation: rotateIn 0.5s;
  animation: rotateIn 0.5s; }