#appv2 .row{
	margin-top: 70px;
}

#appv2 .listview{
	height: calc(100vh - 70px);
	background-color: white;
	overflow: scroll;
	padding: 0;

}

#appv2 .listview .list-item{
	/*background-color: red;*/
	border-bottom: 1px solid #eee;
	padding : 10px 10px 10px 20px;
	display: flex;
	  justify-content: space-between;
	  cursor: pointer;
	/*padding: 0 20px;*/
}

#appv2 .listview .search-item{
	/*background-color: red;*/
	margin-left: 22px;
	margin-right: 10px;
	margin-bottom: 10px;

	/*display: flex;*/
	/*padding: 0 20px;*/
}
#appv2 .listview .search-item .menu-operate{
	/*background-color: red;*/
	display: flex;
	justify-content: flex-end;
	/*display: flex;*/
	/*padding: 0 20px;*/
}

#appv2 .listview .list-item .thumb{
	margin-left: 10px;
}
#appv2 .listview .list-item .list-content{
	margin-left: 10px;
	margin-right: auto;
}



#appv2 .listview .list-item .list-option{
	display: flex;
	flex-direction: column;
}

#appv2 .listview .list-item .list-option div{
	margin-left: auto;

}



#appv2 .contentview{
	height: calc(100vh - 70px);
	/*background-color: white;*/
	overflow: scroll;
}
/*@media only screen and (min-width: 1200px) {
    #appv2 .listview{
		
	}
}
*/

/*#appv2 .listview .list-item.active .thumb{
	color : orange;
}

#appv2 .listview .list-item:hover .thumb{ 
    color: orange;
}


#appv2 .listview .list-item.active strong{
	color : orange;
}

#appv2 .listview .list-item:hover strong{ 
    color: orange;
}*/

#appv2 .listview .list-item.active{
	background-color: darkblue;
	color : white;
}

#appv2 .listview .list-item:hover{ 
    background-color: #eee;
    color : black;
}