<template>
<div>
		<v-row>
		<v-col md4 sm12 xs12>
			<v-list two-line class="elevation-3">
				<v-list-item v-for="(item, index) in e7" v-bind:key="item.title">
					<v-list-tile  :href="goclick(item)"  :router="true" avatar ripple>
						<v-list-tile-content>
							<v-list-tile-title>{{ item.title }}</v-list-tile-title>
							<v-list-tile-sub-title class="grey--text text--darken-4">{{ item.headline }}</v-list-tile-sub-title>
							<v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
						</v-list-tile-content>
						<v-list-tile-action>
							<v-list-tile-action-text>{{ item.action }}</v-list-tile-action-text>
							<v-list-tile-action-text> {{item.hit}} klik</v-list-tile-action-text>

						</v-list-tile-action>
					</v-list-tile>
					<v-divider v-if="index + 1 < e7.length"></v-divider>
				</v-list-item>
			</v-list>
		</v-col>
		<v-col md8 class="hidden-sm-and-down" >
			<desktop-single-orderlink :item="active"></desktop-single-orderlink>
		</v-col>
	</v-row>
	<create-new-orderlink></create-new-orderlink>
</div>

</template>
<script>
	import DesktopSingleOrderlink from './orderlink/single-orderlink.vue';

	export default{
		components : {DesktopSingleOrderlink},
		mounted(){
			 var orderlink = {name : 'orderlink', value : [{
					id : 1,
					title : 'mantap bank',
					headline : 'keren banget',
					action : '2 jam yang lalu',
					hit : 100,
				},
				{
					id : 2,
					title : 'khilafah',
					headline : 'keren banget',
					action : '5 jam yang lalu',
					hit : 200,
				}
				]}
			this.$store.commit('init', orderlink);

			this.$router.push('/orderlink/'+orderlink[0].id);
		},
		data(){
			return {
				e7: this.$store.state.orderlink
			}
		},
		computed : {
			active(){
				var id = this.$route.params.id;

				return this.e7.find(function(item){
					return item.id == id;
				})
			}
		},
		methods :{
			goclick (item){
				return '/orderlink/'+item.id;
			}
		}
	}
</script>