<template>
	<v-dialog origin="center top" v-model="d2" persistent>
  <v-btn primary dark slot="activator">Open Dialog</v-btn>
  <v-card>
    <v-card-row>
      <v-card-title>Use Google's location service?</v-card-title>
    </v-card-row>
    <v-card-row>
      <v-card-text><slot></slot></v-card-text>
    </v-card-row>
    <v-card-row actions>
      <v-btn class="green--text darken-1" flat="flat" @click.native="d2 = false">Disagree</v-btn>
      <v-btn class="green--text darken-1" flat="flat" @click.native="d2 = false">Agree</v-btn>
    </v-card-row>
  </v-card>
</v-dialog>
</template>

<script>
    export default {
    	data(){
    		return {

    			d2:true

    		}
    	}
    }
</script>

<style>

</style>
