<template>
	<v-app id="example-2">
		<v-navigation-drawer persistent light :mini-variant.sync="mini" v-model="drawer">
			<v-list class="pa-0">
				<v-list-item>
					<v-list-tile avatar tag="div">
						<v-list-tile-avatar>
							<img src="/images/logo-orderlink.png" />
						</v-list-tile-avatar>
						<v-list-tile-content>
							<v-list-tile-title>Orderlink</v-list-tile-title>
						</v-list-tile-content>
						<v-list-tile-action>
							<v-btn icon @click.native.stop="mini = !mini">
								<v-icon>chevron_left</v-icon>
							</v-btn>
						</v-list-tile-action>
					</v-list-tile>
				</v-list-item>
			</v-list>
			<v-list class="pt-0" dense>
				<v-divider></v-divider>
				<v-list-item  v-if="mini">
					<v-list-tile @click.native.stop="mini = false">
						<v-list-tile-action >
							<v-icon >launch</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>Open Sidebar</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
				</v-list-item>
				
			</v-list>
			<main-menu></main-menu>
		</v-navigation-drawer>
		<v-toolbar fixed class="indigo darken-4">
			<v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
			<v-toolbar-title>Token</v-toolbar-title>
		</v-toolbar>
		<main>
			<v-container>
				<v-layout>
					<v-flex xs12 md8 offset-md2 lg6 offset-lg3>

						<v-card>
							<v-card-row class="primary darken-1">
								<v-card-title>
									<span class="white--text">Orderlink Connect</span>
								</v-card-title>
							</v-card-row>
							<v-card-text>
								<v-card-row height="75px">
									<v-btn flat floating small class="mr-5 btn" :data-clipboard-text="token">
									<v-icon dark>content_copy</v-icon>
								</v-btn>
									<div>
									<div>Token Anda</div><strong v-if="token">{{token}}</strong><strong v-else>klik tombol generate!</strong>
									</div>
								</v-card-row>
								<v-card-row height="75px">
									<v-btn flat floating small class="mr-5 btn" :data-clipboard-text="'https://app.orderlink.in/secure/'+token">
									<v-icon dark>content_copy</v-icon>
								</v-btn>
									<div>
									<div>URL Connect</div><strong v-if="token">https://app.orderlink.in/secure/{{token}}</strong><strong v-else>klik tombol generate!</strong>
									</div>
								</v-card-row>
								<strong v-if="token != ''" class="red--text">token ini hanya ditampilkan sekali ini (akan berubah setiap tombol generate di tekan), harap simpan token ini dengan baik. token ini berfungsi seperti password yang tidak boleh dibagikan kepada siapapun. untuk keamanan transaksi  generate ulang token setiap sebulan sekali</strong>
							</v-card-text>
							<v-divider></v-divider>
							<v-card-row actions>
								<v-btn @click.native.stop="generate()" flat class="indigo--text darken-1">Generate</v-btn>
							</v-card-row>
						</v-card>

					</v-flex>
				</v-layout>
				<!--v-router-->
			</v-container>
		</main>
	</v-app>
</template>

<script>
import MainMenu from './main-menu.vue';
	export default{
		components : {MainMenu},
		data(){
			return {
				drawer : true,
				mini : true,
				token : '',
			}
		},

		methods : {
			generate(){
				this.$http.post('/v3/generate-token').then(response => {
						this.token = (response.body);
           			

          		});
			}
		}
	}
</script>