<template>	
	<v-list>
		<v-list-item  >
			<v-list-item  >
			<v-list-tile href="/orderlink" :router="true">
					<v-list-tile-action >
						<v-icon >add_shopping_cart</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>Orderlink</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list-item>
			<v-list-tile href="/store" :router="true">
				<v-list-tile-action >
					<v-icon >store</v-icon>
				</v-list-tile-action>
				<v-list-tile-content>
					<v-list-tile-title>Store</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
		</v-list-item>
		<v-list-item  >
			<v-list-tile href="/token" :router="true">
				<v-list-tile-action >
					<v-icon >vpn_key</v-icon>
				</v-list-tile-action>
				<v-list-tile-content>
					<v-list-tile-title>Token</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
		</v-list-item>
		<v-list-item  >
			<v-list-tile href="/email" :router="true">
				<v-list-tile-action >
					<v-icon >email</v-icon>
				</v-list-tile-action>
				<v-list-tile-content>
					<v-list-tile-title>Email</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
		</v-list-item>
	</v-list>
</template>