<template>
<mainlayout>
<v-row>

     <v-col xs12 sm12 md4  >
       
       <v-list two-line subheader class="elevation-1">
    <v-subheader class="pt-5"><v-text-field
            name="input-1"
            label="Cari..."
          ></v-text-field></v-subheader>

    <v-list-item>
      <v-list-tile avatar>
        <v-list-tile-action>
          <v-checkbox />
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Notifications</v-list-tile-title>
          <v-list-tile-sub-title>Allow notifications</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list-item>
    <v-list-item>
      <v-list-tile avatar>
        <v-list-tile-action>
          <v-checkbox />
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Sound</v-list-tile-title>
          <v-list-tile-sub-title>Hangouts message</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list-item>
    <v-list-item>
      <v-list-tile avatar>
        <v-list-tile-action>
          <v-checkbox />
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Video sounds</v-list-tile-title>
          <v-list-tile-sub-title>Hangouts vidoe call</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list-item>
    <v-list-item>
      <v-list-tile avatar>
        <v-list-tile-action>
          <v-checkbox />
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Invites</v-list-tile-title>
          <v-list-tile-sub-title>Notify when receiving invites</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list-item>
  </v-list>
  </v-list>
    </v-col>
     <v-col md8 class="hidden-sm-and-down " >
     <v-tabs id="mobile-tabs-2" grow class="elevation-1">
  <v-card class="primary white--text">
    <div>
      <v-card-row>
        <v-card-title>Page Title</v-card-title>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>more_vert</v-icon>
        </v-btn>
      </v-card-row>
    </div>
  </v-card>
  <v-tab-item
    v-for="i in 3" :key="i"
    v-bind:href="'#mobile-tabs-2-' + i"
    slot="activators"
  >
    Item {{ i }}
  </v-tab-item>
  <v-tab-content 
    v-for="i in 3" :key="i"
    v-bind:id="'mobile-tabs-2-' + i"
    slot="content"
  >
    <v-card>
      <v-card-text>{{ text }}</v-card-text>
    </v-card>
  </v-tab-content>
</v-tabs-items>
</v-tabs>
    </v-col>
  </v-row>
 
<v-dialog v-model="link_creation_modal" width="920" :fullscreen="isfull" >
  <v-btn slot="activator" floating="floating" primary style="position: fixed; right: 5vh; bottom: 5vh;">
  <v-icon>add</v-icon>
</v-btn>
 
      <v-card>
        <v-toolbar class="indigo">
          <v-btn icon>
            <v-icon @click.native="link_creation_modal = false">arrow_back</v-icon>
          </v-btn>
          <v-toolbar-title>Application</v-toolbar-title>
         <!--  <v-btn icon>
            <v-icon>more_vert</v-icon>
          </v-btn> -->
        </v-toolbar>
        <v-card-text>
          <h1 class="title">Search for new keywords using a prhase, website or category</h1>
          <h2 class="subheading mb-5">Enter one or more of the following</h2>
        <v-row>
            <v-col sm6 md3 >
      <v-text-field
            label="Your product or service"
            v-model="tes"
            hint="For example, flowers or used cars"
            persistent-hint
          />

    </v-col>
    </v-row>

          <v-text-field
            label="Your landing page"
            hint="www.example.com/page"
            persistent-hint
          />
          <v-select
            label="Your product category"
            hint="Enter or select a product category"
            persistent-hint
            :items="options"
            v-model="e14"
          />
        </v-card-text>
      </v-card>
</v-dialog>
</mainlayout>
</template>

<script>
    export default {
    	  ready () {
    window.addEventListener('resize', this.handleResize);
    // console.log(window.love);
    // this.$parent.kuda = 'kura-kura';
    // console.log(this.$parent.ayam);
    // this.tes = this.$parent.ayam;
  },
    	data(){
    		return {
    		link_creation_modal : false,
    		isfull : false,
    		tes : this.$parent.ayam,
    		fullWidth: document.documentElement.clientWidth,
    		e7: [
  {
    title: 'ayam lezat',
    subtitle: 'mantap kali bank',
    action : '2 jam lalu'
  },
  {
    title: 'ayam lezat',
    subtitle: 'mantap kali bank',
    action : '2 jam lalu'
  }
]

    		}
    	},
    	methods : {
    		 handleResize (event) {
      this.fullWidth = document.documentElement.clientWidth;
      if(this.fullWidth < 768){
      	this.isfull = true;
      	// this.link_creation_modal = true;
      }else{
      	this.isfull = false;
      		// this.link_creation_modal = false;
      }
      console.log(this.fullWidth);
    }
    	}
    }
</script>
