<template>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">Example Component</div>

					<div class="panel-body">
						I'm an example component!
						{{count}}

						<input type="text" v-model="dataku">
						<button @click="submit()">klik</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {

		data(){
			return{
				dataku : 'ayam'
			}
		},


		computed: {

			count () {
				this.dataku = this.$store.state.count
				return this.$store.state.count
			}
		},

		methods : {
			submit (){
				this.$store.commit('newobject', {name : 'love', value : 'alila'});

				console.log(this.$store.state.love);
			}
		}
	}
</script>


