<template>
	
  <v-container>
     <v-layout>
     <v-flex xs12 md8 offset-md2>
    <v-card>
      <v-card-text >
        <!-- first row -->
        <v-layout >
          <v-flex xs12>
            <v-text-field
            v-model="title"
            label="Title"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <!-- first row -->
        <v-layout row wrap>
          <v-flex xs12 sm12 md4>
             <v-text-field type="number"
            v-model="weight"
            label="Berat(gram)"
            hint="1000 (gram) = 1kg"
            persistent-hint
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm12 md4>
             <v-text-field type="number"
            v-model="price"
            label="Harga"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm12 md4>
              <div style="display: flex;"> <v-text-field
             name="input-1"
             label="Thumbnail URL"
             v-model="thumbnail"
             hint="contoh : https://google.co.id/gambar/1.png"
             persistent-hint
             ></v-text-field>

             <form id="myForm" name="myForm">

              <div>
                <label for="uploadimage" class="custom-file-upload">
                  <v-icon>image</v-icon>
                </label>

                <input style="display: none"  type="file" name="image" id="uploadimage" @change="imageupload">
              </div>
            </form></div>

          </v-flex>
        </v-layout>
        
        <!-- {{image}} -->
        <!-- <file-upload ></file-upload> -->
        <!-- {{province}} -->
        <v-layout row wrap>

          <v-flex md6 xs12>

            <v-select 
            v-bind:items="list_province"
            item-text="province"
            v-model="province"
            label="Pilih Provinsi"
            hint="lokasi asal produk"
            @input="fetchCity()"
            persistent-hint
            dark
            single-line
            auto
            />

          </v-flex>

          <v-flex md6 xs12>

            <v-select 
            v-bind:items="list_city"
            v-model="city"
            label="Pilih Kabupaten/Kota"
            item-text="city_name"
            @input="saveCity()"

            dark
            single-line
            auto
            />

          </v-flex>
        </v-layout>

        <v-text-field
        v-model="short_description"
        label="Deskripsi Singkat Produk"
        multi-line
        ></v-text-field>

        <label for="">Deskripsi Produk</label>

        <vue-html5-editor :content="long_description" @change="updateData"  :height="500"></vue-html5-editor>

        <p class="text-xs-right mt-3"><v-btn primary light @click.native="submit()" >Submit</v-btn></p>




      </v-card-text>

    </v-card>
    </v-flex>

    </v-layout>

  </v-container>
</template>

<script>
 // import FileUpload from 'vue-upload-component';

 export default{

  mounted(){

    if (typeof(Storage) !== "undefined") {
            // Code for localStorage/sessionStorage.
            if(localStorage.getItem("products")){
              var data = JSON.parse(localStorage.getItem("products"));
              this.list_city = data.list_city;
              this.province = data.province;
              this.city = data.city;
              this.list_province = data.list_province;
              this.weight = data.weight;
            }
            

          } else {
            // Sorry! No Web Storage support..
          }


          if(this.list_province.length == 0){
           this.$http.get('/v2/rajaongkir/province').then((response) => {
                  // success callback
                  // console.log(response);
                  this.list_province = response.body;
                  console.log(this.list_province);


                  

                }, (response) => {
                  // error callback

                });
         }
       },
       data(){
         return {
          link_creation_modal : false,
          domains : ['ayamgoreng.com'],
          domain : '',
          list_province : [],
          list_city : [],
          province : '',
          city : '',
          long_description : '',
          short_description : '',
          thumbnail : '',
          title : '',
          price : '',
          weight : 1000,



        }
      },

      methods : {
        submit(){

          var self = this;
          this.$http.post('/v3/products', {title : this.title, price : this.price, thumbnail : this.thumbnail, weight : this.weight, province : this.province, city : this.city, long_description : this.long_description, short_description : this.short_description, domain : this.domain, store_id : this.$route.params.id}).then((response) => {
                  // success callback
                  // console.log(response);

                  var data = response.body;
                  console.log(data);
                  if(this.$store.state.products)
                    this.$store.commit('push', {name : 'products', value : data});
                  self.$router.push('/store/'+this.$route.params.id+'/products/'+data.id);


                }, (response) => {
                  // error callback

                });
        },
        imageupload(data){
          // console.log(data);
          var myForm = document.getElementById('myForm');
          var formData = new FormData(myForm);
          this.$http.post('/v3/imageupload', formData).then(response => {

            this.thumbnail = response.body;

          });

        },
        updateData(data){
          this.long_description = (data);
        },
        saveCity(){
          if (typeof(Storage) !== "undefined") {
            // Code for localStorage/sessionStorage.
            localStorage.setItem("products", JSON.stringify(this.$data));
          } else {
            // Sorry! No Web Storage support..
          }
        },
        fetchCity(){
         this.$http.get('/v2/rajaongkir/city?province_id='+this.province.province_id).then((response) => {
                  // success callback
                  console.log(response);
                  this.list_city = response.body;



                }, (response) => {
                  // error callback

                });
       }
     }
   }
 </script>

 <style> 
  #myForm{
    margin-top: 20px;
  }
  .custom-file-upload{
    cursor: pointer;
  }
  .custom-icons-edit{
    background-image: url('/custom-icons/mode_edit.svg');
    background-size: 18px 16px;
  }

  .custom-icons-brush{
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_format_color_fill_black_24px.svg);
    background-size: 18px 16px;
  }

  .custom-icons-font{
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_format_color_text_black_24px.svg);
    background-size: 18px 16px;
  }
  .custom-icons-justify{
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_format_align_justify_black_24px.svg);
    background-size: 18px 16px;
  }

  .custom-icons-list{
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_format_list_bulleted_black_24px.svg);
    background-size: 18px 16px;
  }

  .custom-icons-link{
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_link_black_24px.svg);
    background-size: 18px 16px;
  }

  .custom-icons-unlink{
    background-image: url('/custom-icons/unlink.svg');
    background-size: 14px 12px;
  }

  .custom-icons-table{
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_border_all_black_24px.svg);
    background-size: 18px 16px;
  }

  .custom-icons-line{
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_remove_black_24px.svg);
    background-size: 18px 16px;
  }

  .custom-icons-eraser{
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_format_clear_black_24px.svg);
    background-size: 18px 16px;
  }

  .custom-icons-undo{
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_undo_black_24px.svg);
    background-size: 18px 16px;
  }





</style>