<template>
		<v-container>
    <div v-if="loaderShow" style="display: flex; justify-content:center; align-items:center; height: 90vh"><v-progress-circular 
    indeterminate 
    v-bind:size="80" 
    class="primary--text"  
  /></div>
    <v-layout class="ml-2 mr-2 mt-2 mb-5" v-else >
    <v-flex class="mt-2 mb-2" md6 lg4 xl4 sm12 xs12 v-for="item in products" >
   <v-card hover horizontal @click="click(item.id)">
    <!-- <v-card-row img="/images/hqdefault_live.jpg" height="130px"></v-card-row> -->
    <img :src="item.thumbnail" width="130px" height="130px" alt="">
    <v-card-column>
      <v-card-row height="75px" class="white  black--text text--darken-4">
        <v-card-text>
          <strong>{{item.title}}</strong>
          <p>{{item.short_description}}</p>
        </v-card-text>
      </v-card-row>
      <v-card-row actions class="white darken-2">
        <v-btn flat class="orange--text">
          Rp.{{item.price}}
        </v-btn>
      </v-card-row>
    </v-card-column>
  </v-card>

    </v-flex>
    <v-flex xs12>
    <div v-if="!products || products.length == 0" >
      <p class="text-xs-center display-3">Anda Belum Punya Produk! Ayo dibikin!</p>
    </div>
    </v-flex>
    </v-layout> 

    <v-btn  :router="true" :href="'/store/'+$route.params.id+'/products/create'" floating="floating" primary style="position: fixed; right: 5vh; bottom: 5vh; ">
      <v-icon class="white--text">add</v-icon>
    </v-btn>
    </v-container>
		
		
</template>

<script>

	export default{

    mounted(){
      

      (document.getElementsByTagName("html")[0].style.overflowY = 'scroll');
        if(!this.$store.state.products+this.$route.params.id){

        // need refactoring
         this.$http.get('/v3/products?store_id='+this.$route.params.id).then(response => {

                // get body data
                console.log(response);
                var data = (response.body);
                console.log(data);
                if(data.length > 0)
                this.products = data;

                var orderlink = {
                  name : 'products'+this.$route.params.id,
                  value : data
                }

                this.$store.commit('init', orderlink);

                this.loaderShow = false;



              }, response => {
                // error callback

              });


      }else{
         this.products = this.$store.state.products+this.$route.params.id;
         this.loaderShow = false;
      }
    },


    data(){
        return {
          products : '',
          loaderShow : true,
        }
    },

    methods : {
      click(id){
          this.$router.push('/store/'+this.$route.params.id+'/products/'+id)
      },
    }

	}
</script>

<style> 
 
</style>