<template>

<v-container>
    <v-layout>
      <v-flex xs12 md8 offset-md2>
		<v-layout class="mt-5" row wrap>

	      	<v-flex md4 sm12 xs12>
      			 <v-card :img="product.thumbnail" height="300px">
    </v-card>
    		</v-flex>
    		<v-flex md8 sm12  xs12>
      			<v-card-title>
        			{{product.title}}
              <v-spacer></v-spacer>
              <v-menu bottom left offset-y origin="top right" transition="v-slide-y-transition">
      <v-btn icon light slot="activator">
        <v-icon class="indigo--text text--darken-4">more_vert</v-icon>
      </v-btn>
      <v-list>
        <v-list-item >
          <v-list-tile @click.native="deleteitem()">
            <v-list-tile-title >Delete</v-list-tile-title>
          </v-list-tile>
        </v-list-item>
        <v-list-item >
          <v-list-tile @click.native="edititem()">
            <v-list-tile-title >Edit</v-list-tile-title>
          </v-list-tile>
        </v-list-item>
      </v-list>
    </v-menu>
      			</v-card-title>
      			  <v-divider></v-divider>
      			<v-card-text >
						<h4 class="orange--text">Rp.{{product.price}}</h4>
						<p>{{product.short_description}}</p>
						<v-card-row height="75px">
      						<v-icon class="mr-5">card_travel</v-icon>
      						<div>
	        				<div>Berat</div><strong>{{product.weight}}g</strong>
	      					</div>
    					</v-card-row>
    					<v-card-row height="75px">
      						<v-icon class="mr-5">place</v-icon>
      						<div class="mr-5">
	        				<div>Provinsi</div><strong>{{jsonparse(product.province).province}}</strong>
	      					</div>
      						<div class="mr-5">
	        				<div>{{jsonparse(product.city).type}}</div><strong>{{jsonparse(product.city).city_name}}</strong>
	      					</div>
    					</v-card-row>
      			</v-card-text>
      			 <v-subheader>Deskripsi Produk</v-subheader>
      			 <v-card-text>
      			 <div v-html="product.long_description"></div>
						
      			 </v-card-text>

    		</v-flex>
		</v-layout>
    </v-flex>
    </v-layout>
</v-container>	

</template>

<script>
	export default{

    mounted(){
      if(this.$store.state.products){
        var id = this.$route.params.pid;

        this.product = this.$store.state.products.find(function(item){
          return item.id == id;
        })
      }else{
         this.$http.get('/v3/products/'+this.$route.params.pid).then(response => {
          console.log(response.body);
                this.product = response.body;

              }, response => {
                // error callback

              });
      }
    },

    data(){
      return {
        product : '',
      }
    },

    methods : {
      jsonparse(data){
        return JSON.parse(data);
      },
      deleteitem(){
        this.$store.commit('delete', {name : 'products', id: this.product}); 
        this.$http.delete('/v3/products/'+this.$route.params.pid);

        this.$router.push('/products/')
      }
    }

		

	}
</script>