.keep-center {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper {
  text-align: center;
}
.logo-wrapper .logo {
  -webkit-animation: toogle 2s ease-in infinite;
  -moz-animation: toogle 2s ease-in infinite;
  animation: toogle 2s ease-in infinite;
}
.logo-wrapper #progress-wrap {
  margin-top: 20px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.text {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: center;
  margin-bottom: 10vh;
}

@-webkit-keyframes toogle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes toogle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes toogle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
